$reduced-motion: false;

@mixin not-reduced-motion {
  @if not $reduced-motion {
    @content;
  }
}

@mixin reduced-motion-compliant-animation {
  @content;
  
  // https://www.a11yproject.com/posts/understanding-vestibular-disorders/#what-should-you-consider%3F
  @if $reduced-motion {
    transition-duration: 0.001s !important;
    animation-duration: 0.001s !important;
  }
}

@mixin -reduced-motion {
  $reduced-motion: true;

  .collapsing { // a bootstrap class used in accordions
    transition: none;
  }
}

#main {
  // default values for all accessibility variables
  --focus-outline: 2px solid #000; // TODO use this

  &[data-reduced-motion="true"] {
    @include -reduced-motion;
  }

  @media (prefers-reduced-motion: reduce) {
    @include -reduced-motion;
  }
}
