@mixin reduced-motion {
  // if reduced motion is enabled in the browser or the app, apply these reduced-motion styles e.g. instant transitions
  @media (prefers-reduced-motion: reduce) {
    @content;
  }

  @at-root #root:has(main[data-reduced-motion="true"]) & {
    @content;
  }
}

@mixin not-reduced-motion {
  // if reduced motion is not enabled in the browser or the app, don't apply these motion styles e.g. hover scale effects
  @media (prefers-reduced-motion: no-preference) {
    @at-root #root:has(main[data-reduced-motion="false"]) & {
      @content;
    }
  }
}

@mixin reduced-motion-compliant-animation {
  @content;
  
  // https://www.a11yproject.com/posts/understanding-vestibular-disorders/#what-should-you-consider%3F
  @include reduced-motion {
    transition-duration: 0.001s !important;
    animation-duration: 0.001s !important;
  }
}

.collapsing { // a bootstrap class used in accordions
  @include reduced-motion-compliant-animation;
}

@mixin focus-outline($color: var(--focus-outline-color), $width: var(--focus-outline-width)) {
  // see https://stackoverflow.com/a/52616313
  box-shadow: 0px 0px 0px $width $color;

  outline-color: transparent;
  outline-width: $width;
}

#main {
  // default values for all accessibility variables
  --focus-outline-color: #000;
  --focus-outline-width: 0.2rem;
}
