.bb-chart-arcs-title {
    fill: var(--color-neutral-900, black) !important;
}

.bb-legend {
    text {
        fill: var(--color-neutral-600, $gray-120) !important;
    }
}

.bb-tooltip {
    background-color: var(--color-neutral-white) !important;

    td {
        background-color: var(--color-neutral-white) !important;
    }
}
