// NOMENSA button.scss
.btn.plus-button {
  position: relative;
  padding-right: 52px;
  &::after {
    @include pseudo-element();
    background-image: url("/assets/common/icons/add.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    height: 100%;
    right: 26px;
    top: 0;
    bottom: 0;
    width: 20px;
  }
}

.quick-question-options {
  border-radius: 5px;
}

.border-muted {
  border-color: grey !important;
}

// When reactstrap hides the warning text
@media (max-width:575px) {
    .manage-tests-btns {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center !important;

        button, a {
            width: 100%;
            margin-bottom: 0.5rem;
        }
    }
}

// What on earth does this do and why when I remove it does it break input addon buttons?
button {
  -webkit-appearance: none;
  border: none;
  outline: none !important;
}
