// NOMENSA cards.scss
// REPLACE ./assets with /assets
.card-neat {
  background-color: $white;
  border-radius: 0;
  border-width: 0;
  box-shadow: 0 2px 13px 0 $shadow-08;
  width: 100%;

  @include respond-above(sm) {
    box-shadow: 0 2px 30px 0 $shadow-08;
  }
  .event-card-image img {
    display: block;
    height: 180px;
    object-fit: cover;
    margin: auto;
  }

  .card-title {
    font-family: $secondary-font;
    font-weight: 600;
    font-size: 1.25rem;
  }

  .card-body {
    .card-text {
      > a {
        font-size: 1.125rem !important;
        font-weight: bold !important;
      }
      &.card-text01 {
        flex: 1 0 auto;
      }
      &.card-date-time {
        flex: 1 0 auto;
      }
    }
  }

  &.disabled {
    img {
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
    }
  }
}

.featured-news-item {
  max-width: 450px;
}

.simple-card {
  box-shadow: 0 2px 30px 0 $shadow-08;
  background-color: $white;
  clear: both;

  p:last-of-type {
    margin-bottom: 0;
  }
}
.basic-card {
  background-color: $white;
  box-shadow: 0 2px 30px 0 $shadow-08;
  height: 100%;

  h2 {
    font-size: 1.25rem;
  }
  > p {
    flex: 1 0 auto;
    margin: auto 0;
  }
  .list-group-item & > a {
    font-family: $primary-font;
  }
}
.action-card {
  height: 100%;
  h2 {
    font-family: $secondary-font;
    font-size: 1.625rem;
  }
  p:first-of-type > span {
    display: inline-block;
    font-weight: 700;
  }

  p {
    flex: 1 0 3rem;
  }

  .btn {
    font-family: $secondary-font;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.card-deck + .card-deck {
  margin-top: 1.5rem;
}

.card-deck {
  @extend .card-group;

  // de-couple the border
  @include media-breakpoint-up(sm){
      > .card {
          &:not(:first-child) {
              border-top-left-radius: $card-border-radius;
              border-bottom-left-radius: $card-border-radius;
          }

          &:not(:last-child) {
              border-top-right-radius: $card-border-radius;
              border-bottom-right-radius: $card-border-radius;
          }

          + .card {
              border-left: 1px solid $card-border-color;
          }
      }
  }

  // optionally change the breakpoint for column layout on mobile
  @include media-breakpoint-down(lg){
      flex-direction: column;
  }
}

.card {
  .card-header {
    // If the card body is empty, remove the header's bottom-styling
    &:not(:has(~ :not(.d-none))), &:only-child, .no-body {
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
      border-bottom: none;
    }
  }
}
