.career {
  margin: 2rem 0 0 0;
  width: 100%;
  .video-column {
    background-color: black;
    padding: 0;
    min-height: 300px;
    min-width: 500px;
  }

  .video-description-column {
    background-color: white;
    padding: 2rem;
    align-content: center;
  }
}

.cs-journey {
  display: flex;
  margin: 2rem 0 0 0;
  .left-column {
    flex-grow: 1;
    min-width: 322px;
    max-width: calc(100% - 322px);
    padding: 2rem;
    background-color: white;
    align-content: center;
  }

  .right-column {
    flex-shrink: 0;
    padding: 0;
  }

  .right-column img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1200px) {
  .cs-journey,
  .career {
    max-width: 500px;
    flex-direction: column;
    iframe {
      min-height: 300px;
    }
    .video-column {
      min-height: 0;
    }
    .video-description-column {
      padding: 1rem;
    }
    .video-column,
    .video-description-column,
    .left-column,
    .right-column {
      width: 100%;
      max-width: 100%;
      min-width: 0;
    }
  }
  .cs-journey {
    .left-column {
      padding: 1.5rem;
    }
  }

  .career.reversed {
    flex-direction: column-reverse;
  }
}
