// NOMENSA carousel.scss

.carousel {
  .carousel-item {
    > div {
      display: flex;
    }
  }
  .carousel-indicators {
    margin-top: 3rem;
    li {
      background-color: transparent;
      border: 2px solid $black;
      border-radius: 50%;
      height: 12px;
      opacity: 1;
      width: 12px;

      &.active {
        background-color: $secondary;
        border-color: $secondary;
      }
    }
  }
  > a[class^='carousel-control-'] {
    display: block;
    cursor: pointer;
    width: 16px;
    &:focus {
      background-image: none;
      background-repeat: no-repeat;
      background-size: contain;
      background-position-y: center;
    }
    span {
      opacity: 0;
    }
  }
  > a[class*='next'] {
    right: 3px;
    &:focus {
      background-image: url('/assets/chevron_right.svg');
    }
  }
  > a[class*='prev'] {
    left: 3px;
    &:focus {
      background-image: url('/assets/chevron_left.svg');
    }
  }
}
