.interstitial-cookie-page {
    background-color: $gray-107;
    padding: 20px;
    margin: 20px;
    border-radius: 2px;
    font-size: 1rem;
    text-align: left;

    h3 {
        font-size: 1.5rem;
    }
}

.homepage-video {
    .youtube-play {
        background: url('/assets/logos/btn-youtube-red.png') no-repeat center;
        position: absolute;
        object-fit: none;
        cursor: pointer;
    }

    .selected {
        border: 4px solid black;
    }

    p small {
        display: block;
        line-height: 1.5;
        text-align: center;
    }
}