// ISAAC
.content-summary-link .content-summary-link-title {
  background: none;
  border: 0;
  .text-secondary {
    font-family: $secondary-font-semi-bold;
  }
}

.new-tab {
  height: 24px;
  width: 24px;
}

.content-summary-link {
  a {
    text-decoration: none;
  }
  &.de-emphasised {
    background: rgba($gray-160, 0.09);
  }
}

.ratio-16x9 {
  @include aspect-ratio(16, 9);
}

.ratio-5x3 {
  @include aspect-ratio(5, 3);
}

.content-video-container {
  position: relative;
  margin-bottom: 1rem;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    margin-bottom: 2rem;
  }
}

.email-preview-frame {
  width:100%;
  height:800px;
  border:solid thin #e3e3e3;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-center-transform {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.isaac-checkbox {
  text-align: center;
  transform: scale(1.5);
}

.table-title {
  text-align: center;
}

// NOMENSA login.scss
button.btn.btn-link.login-b,
.login a {
  color: $black;
  font-family: $primary-font;
  font-size: 0.875rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    @include respond-above(sm) {
      text-decoration: underline;
    }
  }
}

.login {
  display: inline-block;

  a {
    display: block;
  }
}

// NOMENSA signup.scss
.signup {
  display: none;

  @include respond-above(sm) {
    display: block;
  }

  a {
    color: $black;
    font-family: $primary-font;
    font-size: 0.875rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    display: block;

    &:hover {
      @include respond-above(sm) {
        text-decoration: underline;
      }
    }
  }
}

// ISAAC after final Nomensa delivery we can reduce duplication
.login a {
  color: $black;
  font-family: $primary-font;
  font-size: 0.875rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    @include respond-above(sm) {
      text-decoration: underline;
    }
  }

  span {
    border: 0;
    display: block;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    clip: initial;
    height: initial;
    position: relative;
    width: initial;
  }

}

.my-account a {
  color: $black;
  font-family: $primary-font;
  font-size: 0.875rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  position: initial !important;
  display: unset !important;

  &:hover {
    @include respond-above(sm) {
      text-decoration: underline;
    }
  }

  span {
    border: 0;
    display: block;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    clip: initial;
    height: initial;
    position: relative;
    width: initial;
  }

}

.logout {
  display: none;

  @include respond-above(sm) {
    display: inline-block;
  }

  a {
    font-size: 0.875rem;
    text-decoration: none;
    text-transform: uppercase;
    position: initial !important;
    display: unset !important;

    &:hover {
      @include respond-above(sm) {
        text-decoration: underline;
      }
    }
  }
}

.not-mobile {
  @include respond-below(sm) {
    display: none;
  }
}

.pointer-cursor {
  cursor: pointer;
}

.grab-cursor {
  cursor: grab;
}

.w-5 {
  width: 5% !important;
}

.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.overflow-visible {
  overflow: visible !important;
}

iframe.email-html {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  height: content-box;
  background-color: #e9ecef;
  opacity: 1;
}

// OLD NOMENSA TO ALTER INTO ISAAC
//a, button {
//  &.btn.btn-link.login-b {
//    color: $black;
//    font-family: $primary-font;
//    font-weight: 400;
//    text-decoration: underline;
//
//    &::before {
//      @include pseudo-element();
//      background-image: url('/assets/avatar.svg');
//      background-repeat: no-repeat;
//      background-size: contain;
//      height: 24px;
//      width: 24px;
//
//      @include respond-above(sm) {
//        display: none;
//      }
//    }
//
//    span {
//      border: 0;
//      clip: rect(0, 0, 0, 0);
//      display: block;
//      height: 1px;
//      overflow: hidden;
//      padding: 0;
//      position: absolute;
//      white-space: nowrap;
//      width: 1px;
//
//
//      @include respond-above(sm) {
//        clip: initial;
//        height: initial;
//        position: relative;
//        width: initial;
//      }
//    }
//  }
//}

.collapsible-head {
  margin-left: 0;
  margin-right: 0;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: $gray-107;

  img {
    transition: transform 0.1s ease;
  }
}

.collapsible-body {
  transition: max-height 0.3s ease-in-out;
  max-height: 0;
  &.open {
    max-height: 500vh; // Sufficiently large max-height to allow for nested lists
  }
}
