#finder-page {
  .finder-header {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
  }

  .finder-search {
    &::after {
      content: "";
      background-image: url(/assets/cs/icons/search-jet.svg);
      background-repeat: no-repeat;
      background-size: 18px 18px;
      position: relative;
      float: right;
      width: 18px;
      height: 18px;
      top: -33px;
      padding-right: 2rem;
    }

    &::before {
      content: "";
      display: block;
      position: relative;
      float: right;
      width: 1px;
      height: 34px;
      top: 48px;
      right: 46px;
      background: #c2c2c2;
    }
  }

  .search-item-icon {
    max-width: 2rem;
    max-height: 2rem;
  }

  .finder-filters {
    @include respond-above(sm) {
      justify-content: flex-end;
    }
  }

  .finder-filters label {
    @include respond-above(xs) {
      margin-left: 0.5rem;
    }
    @include respond-below(xs) {
      margin-right: 0.5rem;
    }
  }

  .filter-btn {
    position: -webkit-sticky;
    position: sticky;
    bottom: 1rem;
  }
}

