// From NOMENSA global.scss
.search--filter-group.form-group input.form-control {
  border-width: 0.5px !important;
  border-color: $gray-160;
}


::placeholder { // Firefox, Chrome, Opera
  color: $gray-160 !important;
}

:-ms-input-placeholder { // Internet Explorer 10-11
  color: $gray-160 !important;
}

::-ms-input-placeholder { // Microsoft Edge
  color: $gray-160 !important;
}

:focus-visible:not([tabindex="-1"]):not(.select__input) {
  @include focus-outline;
}

:focus-visible[tabindex="-1"] {
  // remove UA styling too
  outline: none;
}
