#graph-sketcher-modal,
#graph-sketcher-modal canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 250;
}

#graph-sketcher-modal {
    .graph-sketcher-ui {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 255;

        .button {
            background: yellow;
            display: block;
            position: absolute;
            width: 90px;
            height: 90px;
            cursor: pointer;
            background-color: transparent;
            background-size: contain;
            background-repeat: no-repeat;
            background-position-y: center;
            text-indent: -1000px;
            overflow: hidden;

            &.visible {
                visibility: visible;
            }

            &.hidden {
                visibility: hidden;
            }

            &#graph-sketcher-ui-trash-button {
                top: 20px;
                right: 20px;
                opacity: 0.5;
                background-image: url('/assets/inequality-trash-phy.svg');
            }

            &#graph-sketcher-ui-bezier-button {
                top: 20px;
                right: 260px;
                background-image: url('/assets/graph-sketcher-polynomial.svg');

                &:hover,
                &.active {
                    background-image: url('/assets/graph-sketcher-polynomial-active.svg');
                }
            }

            &#graph-sketcher-ui-linear-button {
                top: 20px;
                right: 350px;
                background-image: url('/assets/graph-sketcher-straight.svg');

                &:hover,
                &.active {
                    background-image: url('/assets/graph-sketcher-straight-active.svg');
                }
            }

            &#graph-sketcher-ui-undo-button {
                bottom: 20px;
                left: 20px;
                background-image: url('/assets/hex-undo.svg');

                &:hover {
                    background-image: url('/assets/hex-undo-active.svg');
                }
            }

            &#graph-sketcher-ui-redo-button {
                bottom: 20px;
                left: 110px;
                background-image: url('/assets/hex-redo.svg');

                &:hover {
                    background-image: url('/assets/hex-redo-active.svg');
                }
            }

            &#graph-sketcher-ui-submit-button {
                bottom: 20px;
                right: 20px;
                background-image: url('/assets/inequality-confirm-phy.svg');
            }
        }

        div#graph-sketcher-ui-color-select-hexagons {
            position: absolute;
            text-align: center;
            top: 20px;
            right: 125px;
            width: 120px;
            height: 120px;
            .hover-text {
                display: none;
            }
            &:hover .hover-text {
                display: block;
            }
            svg {
                width: 96px;
                height: 96px;
                #blue-hex-colour {
                    fill: rgb(93,165,218);
                    &.active {
                        stroke: darken(rgb(93,165,218), 15%);
                        stroke-width: 5px;
                    }
                }
                #orange-hex-colour {
                    fill: rgb(250,164,58);
                    &.active {
                        stroke: darken(rgb(250, 164, 58), 15%);
                        stroke-width: 5px;
                    }
                }
                #green-hex-colour {
                    fill: rgb(96,189,104);
                    &.active {
                        stroke: darken(rgb(96,189,104), 15%);
                        stroke-width: 5px;
                    }
                }
            }
        }
    }
}

.graph-sketcher-preview {
    padding: 1em 0;
    text-align: center;
}
