#graph-sketcher-modal,
#graph-sketcher-modal canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 250;
}

#graph-sketcher-modal {
    .graph-sketcher-ui {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 255;

        .button {
            background: yellow;
            display: block;
            position: absolute;
            width: 90px;
            height: 90px;
            cursor: pointer;
            background-color: transparent;
            background-size: contain;
            background-repeat: no-repeat;
            background-position-y: center;
            text-indent: -1000px;
            overflow: hidden;

            &.visible {
                visibility: visible;
            }

            &.hidden {
                visibility: hidden;
            }

            &#graph-sketcher-ui-trash-button {
                top: 20px;
                right: 0;
                opacity: 0.5;
                background-image: url('/assets/inequality-trash-phy.svg');
            }

            &#graph-sketcher-ui-bezier-button {
                top: 20px;
                right: 260px;
                background-image: url('/assets/hex-button-polynomial.png');

                &:hover,
                &.active {
                    background-image: url('/assets/hex-button-polynomial-hover.png');
                }
            }

            &#graph-sketcher-ui-linear-button {
                top: 20px;
                right: 350px;
                background-image: url('/assets/hex-button-straight.png');

                &:hover,
                &.active {
                    background-image: url('/assets/hex-button-straight-hover.png');
                }
            }

            &#graph-sketcher-ui-undo-button {
                bottom: 20px;
                left: 20px;
                background-image: url('/assets/hex-button-undo.png');

                &:hover {
                    background-image: url('/assets/hex-button-undo-hover.png');
                }
            }

            &#graph-sketcher-ui-redo-button {
                bottom: 20px;
                left: 110px;
                background-image: url('/assets/hex-button-redo.png');

                &:hover {
                    background-image: url('/assets/hex-button-redo-hover.png');
                }
            }

            &#graph-sketcher-ui-submit-button {
                bottom: 20px;
                right: 20px;
                background-image: url('/assets/inequality-confirm-phy.svg');
            }
        }

        .dropdown {
            position: absolute;

            &#graph-sketcher-ui-color-select {
                top: 20px;
                right: 120px;
                width: 120px;
                height: 30px;
                border: 1px solid black;
                background: white;
            }
        }
    }
}

.graph-sketcher-preview {
    padding: 1em 0;
    text-align: center;
}
