#homepage {
  //section {padding: 2rem 0;}

  section#why-sign-up {
    //h1 {padding-bottom: 2rem;}
    //.card {
    //  box-shadow: 0 2px 30px 0 $shadow-25;
    //}
    //img {
    //  //border: 1px solid $gray-107;
    //  box-shadow: 0 2px 30px 0 $shadow-25;
    //}
  }

  section#headline-content {
    //background-color: $primary;
    //background-image: url(/assets/pattern01.svg);
    //background-repeat: repeat-x;
    //background-size: 100%;
    //background-blend-mode: soft-light;
    pre {
      background-color: rgba(white, 0.1);
      box-shadow: 0 2px 30px 0 $shadow-08;
    }
    // TODO FEATURED_QUESTION_UPDATE remove the .multichoice-question rule on next featured question change
    .multichoice-question > ul li {
      margin-left: -1.5rem !important;
    }

    .question-component {
      background: white;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      .validation-response-panel.correct {
        background: rgba($primary, 0.95);
        color: black;
        border-bottom: none;
      }
    }
  }

  //section#sign-up-card {
  //  border: black 1px solid;
  //}
}
