.bg-grey {
  background: rgba($gray-120, 0.6);
}

.icon-warning {
  float: left;
  width: 19px;
  height: 22px;
  background: url(/assets/ru.png) -308px -302px no-repeat;
  margin-left: 15px;
  margin-right: 12px;
}
.icon-email-status {
  display: inline-block;
  width: 25px;
  height: 19px;
  margin-left: 15px;
  margin-bottom: -7px;
  background: url(/assets/email-status.png) no-repeat;
  background-size: 75px;
}
.icon-email-status.unverified {
  background-position: -25px 0px;
}
.icon-email-status.failed {
  background-position: -50px 0px;
}

polygon.fill-secondary {
  fill: $secondary;
}
