.list-group-links {
  border: 1px solid $gray-107;
  .question-link-title {
    font-size: 1.25rem;
  }

  li {
    &.list-group-category {
      a {
        color: $purple;
      }
    }

    a.question-link-title, a.alvi-title {
      display: flex;
      text-decoration: none;
    }
  }
}
