.llm-info-banner {
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
}

.llm-feedback {
    .prediction {
        display: inline-block;
        border-radius: 0.5rem;
        padding: 1rem 1rem;
        margin-bottom: 1rem;
    }
    .llm-mark-table-wrapper {
        table {
            table-layout: fixed;
            th {
                font-family: $primary-font;
                padding: 0.5rem;
                font-weight: 600;
                &:last-child {
                    width: 50px;
                }
            }
            td {
                padding: 0.5rem;
                &:last-child {
                    text-align: center;
                    vertical-align: middle;
                }
            }
        }
    }

    .feedback-collection {
        li + li {
            margin-top: 1rem;
        }
    }
}

.attempt-limit-tooltip {
    max-width: 225px;
}
