.authenticator-logo {
  width: 20px;
  margin-right: 1.5rem;
}

#login-page {
  button.close {
    font-family: $secondary-font;
    position: relative;
    z-index: 1;
    background: transparent;
  }
  #login-modal-form {
    max-height: 800px;
    @media (min-height: 800px) {
      max-height: 90vh;
    }
    padding: 100px 30px 30px;
    @include media-breakpoint-down(lg) {
      max-height: unset;
      padding-top: 20px;
      padding-bottom: 30px;
    }
    .password-reset-col {
      max-width: 8em;
    }
  }
}

.hr-or {
  margin-top: 25px;
  margin-bottom: 25px;
  &::before {
    font-family: $secondary-font;
    content: "or";
    bottom: -12px;
    background: white;
    border-bottom: none;
    width: 50px;
  }
}

// NOMENSA login.scss LIVES IN ISAAC'S elements.scss
