#google-button-logo {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
}

#login-modal-form {
  max-height: max(90vh, 800px);
  padding-top: 20vh;
  padding-bottom: 20vh;
  @include media-breakpoint-down(md) {
    max-height: unset;
    padding-top: 20px;
    padding-bottom: 30px;
  }
}


// NOMENSA login.scss LIVES IN ISAAC'S elements.scss
