// ISAAC
@include media-breakpoint-up(lg) {
  .align-start {
    float: left;
    width: 300px;
    padding-right: 30px;
  }

  .align-end {
    float: right;
    width: 300px;
    padding-left: 30px;
  }

  .align-end-half {
    float: right;
    width: 50%;
    padding-left: 30px;
  }
}

.text-center-column {
  text-align: left;
  @include media-breakpoint-up(md) {
    padding-left: 20%;
    padding-right: 20%;
  }
}

// NOMENSA figures.scss
.img-thumbnail {
  border-width: 0;
}

figure {
  background-color: white;
  color: black;
  img {
    // do not add padding here! it will break image region positioning. add it to the figure root element instead.
    max-width: 100%;
  }

  box-shadow: 0 2px 30px 0 $shadow-08;

  .figure-caption {
    color: $black;
    padding: 1rem .5rem;
    font-size: 1rem;

    p {
      margin: 0;
    }
  }

  .figure-fullscreen {
    position: absolute;
    display: flex;
    right: 0.25rem;
    bottom: 0.25rem;
    opacity: 0.5;
    background-color: transparent;
    transition: all 0.15s ease-in-out;

    &:hover {
      opacity: 1;
      scale: 1.1;
    }
  }
}

.figure-reference {
  font-weight: bold;
}
