// Isaac

.modal-content {
  max-width: none !important;
}

// NOMENSA modal.scss

.modal-content {
  max-width: 459px;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.2);

  .modal-header {
    padding-right: 1.75rem;

    button {
      &.close {
        color: $black;
        font-family: $secondary-font;
        font-size: 1rem;
        font-weight: 400;
        opacity: 1;
        text-decoration: underline;
        text-transform: uppercase;
      }
    }

    .modal-title {
      font-family: $secondary-font;
      font-weight: 600;
      font-size: 2.125rem;
    }
  }

  .modal-body {
    overflow: auto;
  }

  .modal-footer {
    @include respond-below(sm) {
      button, a {
        font-family: $secondary-font;
        margin: 0 0.25rem 1rem;
      }
    }
    border-top: none;
  }

  .book-link {
    text-decoration: underline;
    background-color: transparent;

    &:hover {
      text-decoration: none;
    }
  }

  .jumbotron {
    padding: 1.5rem;
  }
}

.modal-xxl.modal-dialog {
  max-width: 95vw;
}
