// ISAAC

$cloze-dropdown-height: 300px;
$cloze-scrollbar-height: 4px;

.question-panel, .question-panel > .examboard-special-tabs {
  > .content-chunk > .content-value {
    background-color: white;
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.08);
    margin: auto auto 2rem auto;
    padding: $question-padding;
    @include media-breakpoint-down(md) {
      padding: 1rem;
    }

    font-family: $secondary-font;
    font-size: $question-font-size; // 1.25rem;
    line-height: $question-line-height; // 1.6rem;
    font-weight: $question-font-weight;
  }
}

.unit-dropdown button {
  min-width: auto;
}

form:has(> .question-component), div.quiz-question-container:has(> .question-component) {
  margin-bottom: 2rem;
  clear: both;

  .question-content {
    font-family: $primary-font;
    font-size:  $question-font-size;
    font-weight: 400;
    line-height: $question-line-height;
  }

  .custom-control-label {
    &:before, &:after {
      width: 1.5rem;
      height: 1.5rem;
      margin-top: -0.25rem;
    }
  }
}

.numeric-question {
  .numeric-help {
    min-width: 4rem !important;
  }

  .unit-selection {
    .dropdown-menu {
      width: 100%;
      min-width: max-content;
    }

    .dropdown-item {
      min-width: 192px;
      width: 100%;
      &.selected {
        border-radius: 0;
      }
    }

    button.btn {
      min-width: 192px;
      width: 100%;
      &.dropdown-toggle::after {
        position: absolute;
        right: 0.5rem;
      }
    }
  }
}

.multichoice-question {
  ul > li .multichoice-option {
    div:nth-child(2) .content-value > div > p {
      margin: 0;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    input {
      margin-top: 0.5rem;
    }

    &:has(.katex) {
      align-items: center;
      input {
        margin-top: 0;
      }
    }
  }
}

$inline-feedback-size: 20px;
$inline-feedback-padding: 2px;

.inline-outer-container {
  display: inline-flex;
  justify-content: center;
  width: max-content;
  vertical-align: middle;

  &:has(.inline-data-target.inline-stretch) {
    width: 100%;
  }
}

.inline-data-target.inline-data-target {
  min-width: calc($inline-feedback-size + 2 * $inline-feedback-padding + 9px + 1em); // feedback + padding + 9px extra (left) padding + 1em of input space
  min-height: $inline-feedback-size;

  // These are intended to be overridden as needed by the content -- classes can be specified in the markdown via [inline-question:id class="..."]
  width: 100px;
  height: 27px;

  &.inline-stretch {
    width: 100%;
  }
}

figure .inline-container {
  display: flex;
  height: 100%;
}

.figure-region-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35%;
  font-family: $secondary-font;
  font-size: 1rem;
  color: white;
  background-color: var(--subject-color-700);
  width: $figure-drop-zone-placeholder-size;
  height: $figure-drop-zone-placeholder-size;
}

.inline-container {
  display: inline-flex;
  border-radius: $border-radius-lg;
  width: 100%;
  background-color: white;

  .feedback-wrapper {
    // wraps around a SINGLE component that can be marked as valid/invalid/unanswered, to allow multiple parts of one question to have different feedback states
    // requires that correctnessClass(...) is applied to the child, as to colour the component
    display: block;
    position: relative;

    > .is-valid, > .is-unanswered, > .is-invalid {
      padding-right: calc($inline-feedback-size + 2 * $inline-feedback-padding - 2px) !important; // -2px to account for border
    }

    > input {
      background: none; // remove default bootstrap background from is-valid, is-invalid
      padding: 0 10px;
    }

    &::after{
      top: calc((100% - $inline-feedback-size) / 2);
      right: $inline-feedback-padding;
      width: $inline-feedback-size;
      height: $inline-feedback-size;
      text-align: center;
      align-content: center;
      line-height: 100%;
      background-color: white;
      border-radius: 5px;
      pointer-events: none;
    }

    &:has(> .is-valid)::after {
      @include pseudo-element("✔");
      color: map-get($theme-colors, "success");
    }
    &:has(> .is-invalid)::after {
      @include pseudo-element("✘");
      color: map-get($theme-colors, "failed");
    }
    &:has(> .is-unanswered)::after {
      @include pseudo-element("!");
      color: map-get($theme-colors, "in-progress");
      font-weight: bold;
    }
  }

  input.is-valid, button.is-valid {
    border: solid 1px map-get($theme-colors, "success");
    @include border-radius($input-border-radius, 0);
  }

  input.is-invalid, button.is-invalid {
    border: solid 1px map-get($theme-colors, "failed");
    @include border-radius($input-border-radius, 0);
  }

  input.is-unanswered, button.is-unanswered {
    border: solid 1px map-get($theme-colors, "in-progress");
    @include border-radius($input-border-radius, 0);
  }

  $shadow-size: 2px;
  &.selected-feedback {
    box-shadow: 0 0 0 $shadow-size #000;
    &.is-valid {
      box-shadow: 0 0 0 $shadow-size map-get($theme-colors, "success");
    }
    &.is-invalid {
      box-shadow: 0 0 0 $shadow-size map-get($theme-colors, "failed");
    }
    &.is-unanswered {
      box-shadow: 0 0 0 $shadow-size map-get($theme-colors, "in-progress");
    }
  }
}

.inline-string-container {
  @extend .inline-container;
}

.inline-numeric-container {
  @extend .inline-container;

  @media screen {
    .units-shown {
      border-radius: $border-radius-lg 0 0 $border-radius-lg !important;
    }
  }

  > .inline-unit-dropdown {
    > button.btn {
      display: block;
      height: 100%;
      min-width: 36px !important;
      border-radius: 0 $border-radius-lg $border-radius-lg 0;
      &.feedback-shown {
        padding-right: 36px !important;
      }

      > div {
        // force contents of button to fit in $inline-feedback-size, so we can use it at all sizes
        height: $inline-feedback-size;
      }
    }
    &.display-unit {
      button.btn {
        border: 1px solid black;
      }
    }
  }
}

.inline-multi-choice-container {
  @extend .inline-container;


  button.btn {
    min-width: unset;
    font-family: $primary-font !important;
    background-color: transparent;
    border-radius: $border-radius-lg;

    &:not(.is-valid):not(.is-invalid):not(.is-unanswered) {
      border: $gray-136 solid 1px;
    }

    > span {
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
    }

    > div {
      margin-top: -1px; // equal to the border width above, re-centres contents
    }
  }
}

.symbolic-question, .equality-page {
  .eqn-editor-preview {
    padding: 0.15em 0.6em;
    cursor: default;
    &.empty {
      color: $gray-500;
    }
  }

  .eqn-editor-preview {
    background: $white;
  }

  .eqn-editor-input input {
    font-family: monospace;
    height: auto;
  }

  .eqn-editor-help {
    min-width: 0;
  }

  .eqn-editor-symbols {
    margin: 10px 0;

    & pre {
      display: inline;
      white-space: pre-wrap;
      background: inherit;
      border: 0;
      padding: 0;
    }
  }
}

#inequality-help {
  min-width: 0;
}

.parsons-question {
  .parsons-items {
    border: solid 1px #00000021;
    padding: 0 0.5em;

    &.empty {
      padding: 0.875em 0.5em;
      &.drag-over {
        padding-top: 1.1em;
        padding-bottom: 1.1em;
      }
    }

    .parsons-item > pre {
      margin: 0.5rem 0;
      padding: 0.5em 1em;
      cursor: grab; // Doesn't work?
    }

    .reorder-item {
      > * {
        overflow-x: auto;
        margin: 0.5rem 0;
        padding: 0.5em 1em;
        cursor: grab;
        background: white;
        border: solid 1px #00000021;
      }
    }

    // REMINDER: If you change the PARSONS_MAX_INDENT and PARSONS_INDENT_STEP
    // constants, you also have to change these two in here.
    $parsons-max-indent: 3;
    $parsons-step: 45;

    .parsons-item {
      @for $i from 0 through $parsons-max-indent {
        &.indent-#{$i} {
          margin-left: #{$i * $parsons-step}px;
        }
      }

      position: relative;

      .controls {
        display: none;
      }

      .show-controls {
        .controls {
          position: absolute;
          right: 0.5rem;
          top: 0.5rem;
          display: block;

          button {
            display: inline-block;
            width: 20px;
            height: 20px;
            padding: 0;
            background: $gray-120;

            &.show:hover {
              background-color: $primary !important;
            }

            &.hide {
              opacity: 0.2;
              cursor: default;
            }

            &.show {
              opacity: 1.0;
            }
          }
        }
      }
    }

    &#parsons-choice-area {
      @for $i from 0 through $parsons-max-indent {
        &.ghost-indent-#{$i} {
          background: linear-gradient(to right,
            white #{$i * $parsons-step + 5}px, $gray-400 #{$i * $parsons-step + 5}px, $gray-400 #{$i * $parsons-step + 7}px, white #{$i * $parsons-step + 7}px
          );
        }
      }

      &.is-dragging {
        .parsons-item {
          opacity: 0.666;
        }
      }
    }
  }
}

.inequality-results {
  pre {
    white-space: pre-wrap;
  }
}

.quick-question {
  .alert {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.validation-response-panel {
  text-align: center;
  p {
    margin-bottom: 0;
  }
}

.cloze-question {
  // This is a work around, allowing KaTeX to be used for cloze questions.
  //  There is no guarantee that it works all of the time, so needs to be
  //  checked on a case by case basis.
  .katex {
    display: unset;
    * {
      pointer-events: none;
    }
    .cloze-item, .cloze-dropdown * {
      pointer-events: all;
    }
  }
  .cloze-item, .cloze-dropdown * {
    pointer-events: all;
    .katex-display {
      display: unset;
    }
  }
  .dropdown-menu {
    max-height: $cloze-dropdown-height;
    overflow-y: scroll;
    .invalid{
      color: darkgray;
    }
  }
}

.item-section {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  // gridAutoRows: "max-content",
  // gridTemplateColumns: "repeat(2, 1fr)",
  min-height: 64px;
}

.cloze-item {
  touch-action: none;
  position: relative;
  font-size: 1rem !important;
  border: 1px solid $border-color;

  &.is-dragging {
    opacity: 0.666;
  }
}

.dropdown .cloze-item {
  border: none;
}

.cloze-drop-zone, .cloze-dropdown {
  &.incorrect {
    filter: drop-shadow(0 0 0.3rem red);
  }
}

.cloze-dropdown > button {
  min-width: 40px !important; // Bootstrap thinks its important

  &.empty.empty {
    &, &:hover, &:active, &:focus { // Apply regardless of hover
      border: grey solid 1px !important;
      background-color: transparent !important;
    }
  }

  &:has(.katex) {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }
}

// Double class to give this more specificity
.katex.katex {
  font-size: 1.1em;
  white-space: nowrap !important;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  display: inline;
}

// outer katex display elements by default have a large margin, which clips overflowing content (e.g. cloze entries).
// this reduces the outer margin by 0.5rem and "gives it" to the inner katex element's padding, which allows this content more space to overflow visibly.
.katex-display:has(> .katex) {
  margin: 0.5rem 0;

  & > .katex {
    // .katex deeper down the tree than this must remain unchanged
    display: inline-block;
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
  }
}

p > .katex, .katex-display {
  overflow: auto hidden;

  .katex .vlist-t2 {
    margin-right: 0 !important;
  }

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    height: $cloze-scrollbar-height;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

  .dropdown-menu {
    position: absolute;
  }
}

.feedback-zone {
  position: relative;
  &.feedback-showing {
    padding-right: 34px !important;
  }
  .feedback-box {
    text-align: center;
    position: absolute;
    right: 3px;
    top: 3px;
    color: black;
    border-radius: 2.5px; //
    height: calc(100% - 6px);
    padding-left: 6px;
    padding-right: 6px;
    background-color: white;
    .feedback {
      position: relative;
      display: inline-block;
      top: 50%;
      transform: translateY(-50%);
      &.correct {
        color: green;
      }
      &.incorrect {
        color: red;
      }
      &.unanswered {
        color: orange;
      }
    }
  }
  &.nq-feedback {
    input {
      background-image: none !important;
    }
    .feedback-box {
      z-index: 3;
      right: 75px;
    }
  }
}

.unit-selection .dropdown button.feedback-zone.feedback-showing {
  border-color: $form-invalid-border-color;
}

.question-actions {
  align-self: flex-start;
  &.question-actions-leftmost {
    margin-left: auto;
  }
  .question-actions-icon {
    float: right;
  }
}

.question-tag-indicator {
    position: relative;
    display: flex;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    font-weight: 600;
    width: fit-content;
    height: fit-content;
    align-items: center;

    &.small {
        padding: 0.25rem 0.5rem;
        font-size: 0.75rem;
    }
}


// Could be used to display draggables when using drop zones in text or code (if we got rid of the purple blocks)
//.cloze-item & .minimal {
//  text-decoration: underline dashed $secondary;
//}

// Could be used to outline draggable pieces of text
//.cloze-item & .minimal:after {
//  position: absolute;
//  left: 50%;
//  top: 50%;
//  transform: translate(-50%, -50%);
//  height: 120%;
//  display: block;
//  width: max(120%, 2rem);
//  background: transparent;
//  border: 2px solid red;
//  content: '';
//}

.coordinate-question {
  .coordinate-input {
    display: block;
    font-size: 25px;
    input {
      margin-left: 3px;
      margin-right: 3px;
      max-width: 100px;
      display: inline-block;
      @media print {
        &::placeholder {
          color: transparent !important;
        }
      }
    }
  }
}

@mixin feedback-panel-classes($transparency, $alph) {
  .feedback-panel-header {
    background-color: rgba($transparency, 2 * $alph);
    border-radius: 10px 10px 0 0;
    > button {
      color: inherit;
      min-width: 176px;
      flex-basis: 100%;
      @media (max-width: 768px) {
        min-width: 0;
      }
      &:hover {
        color: inherit;
      }
      &.inline-part-jump {
        font-family: inherit;
        font-size: 1rem;
        text-decoration: underline;
        text-decoration-thickness: 0.05rem;
        text-underline-offset: 0.1rem;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .feedback-panel-content {
    background-color: rgba($transparency, $alph);
    border-radius: 0 0 2px 2px;
  }
}

.feedback-panel-light {
  @include feedback-panel-classes(#fff, 0.18);
}

.feedback-panel-dark {
  @include feedback-panel-classes(#000, 0.08);
}

.correct {
  .feedback-panel-dark {
    @include feedback-panel-classes(#000, 0.18);
  }
}

.inline-dropdown {
  min-width: unset !important;
}

.spaced-tooltip br {
    margin-bottom: 0.5rem;
}
