// ISAAC
// Search page

#search-page, #progress-questions {
  .search-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .search-filters {
    @include respond-above(sm) {
      justify-content: flex-end;
    }
  }

  .search-filters label {
    @include respond-above(xs) {
      margin-left: 0.5rem;
    }
    @include respond-below(xs) {
      margin-right: 0.5rem;
    }
  }
}

// NOMENSA search.scss
// REMEMBER TO REPLACE ./assets/ WITH /assets/
nav.search {
  min-width: 200px;
  padding: 0;
  position: static;
  top: 0;
  width: 100%;

  @include respond-above(sm) {
    align-items: center;
    height: 100%;
  }

  &::before {
    @include pseudo-element;
    height: 1px;
    width: 100%;
  }

  .navbar-toggler {
    border-width: 0;
    position: absolute;

    @include respond-below(xs) {
      right: 19%;
      top: 19px;
    }
    @include respond-above(xs) {
      right: 90px;
      top: 19px;
    }
  }

  .search--main-group {
    width: 100%;

    @include respond-above(sm) {
      margin: auto;
    }
  }

  .navbar-nav {
    padding-top: 0.5rem;

    @include respond-above(sm) {
      padding-top: 0;
    }

    > .nav-item {
      border-top: 1px solid $white;
      padding-top: 0.6rem;

      @include respond-above(sm) {
        border-width: 0;
        padding: 0;
      }
    }
  }
}

.search-input-icon {
  $search-button-offset: 50px;
  > input {
    border-right: none;
  }

  > button {
    // background: white url(/assets/cs/icons/search.svg) no-repeat center;
    // background-size: 20px 20px;
    background-color: white;
    border: 1px solid black;
    border-left: none;
    border-radius: 0 $border-radius-lg $border-radius-lg 0;
    padding: 0;
    width: $search-button-offset;
    min-width: 0;
    &:active {
      background-color: lightgray !important;
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 75%;
    top: 12.5%;
    right: $search-button-offset;
    background: #c2c2c2;
    z-index: 4;
  }
}
