.table-fixed {
  thead {
    width: 100%;
  }

  tbody {
    overflow-y: auto;
    height: 45vh;
    width: 100%;
  }

  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  tbody td,
  th {
    float: left;
    //border-bottom-width: 0;
  }
}
