.table-row-dragging {
  display: table;
}

.td-link {
  height: 1px; // gives cells a set height, so height: 100% can be applied to links and it will reference the td's height. the actual height a td-link ends up taking will be determined by the content.
  a {
    display: block;
    align-content: center;
    height: 100%;
    text-decoration: none !important;
  }
}

@mixin td-link-padding ($padding: 0.8rem 1rem) {
  > td:not(.td-link), > td.td-link > a, td.td-link:not(:has(> a)) {
    padding: $padding;
  }
  > td.td-link:has(> a) {
    padding: 0;
  }
}
