.table-row-dragging {
  display: table;
}

.td-link {
  vertical-align: middle;

  &:has(> a) {
    display: contents;

    > a {
      @extend td;
      display: table-cell;
      vertical-align: middle;
      text-decoration: none !important;
    }
  }
}

@mixin td-link-padding ($padding: 0.8rem 1rem) {
  > td:not(.td-link), > td.td-link > a, td.td-link:not(:has(> a)) {
    padding: $padding;
  }
  > td.td-link:has(> a) {
    padding: 0;
  }
}

.sortable-item-header {
  cursor: pointer;
  .sort {
    background: none;
    position: relative;
    right: -3px;
    top: 1px;
    font-size: 9px;

    .arrow {
      opacity: 0.3;
      display: block;
    }
  }

  &.sorted .arrow {
    opacity: 1;
  }

  &.reverse .arrow {
    transform: rotate(180deg);
  }
}

.my-quizzes-table thead.my-quizzes-table-header, .my-gameboard-table thead.my-gameboard-table-header {
  th {
    border-top: none;
    white-space: nowrap;
  }
}
