// ISAAC temp hopefully
small {
  border: 0 !important;
}

pre {
  background: white;
  padding: 1rem;
  font-weight: 400;
  border: solid 1px #00000021;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.875rem;

  code {
    box-shadow: none;
    background: unset;
    margin: 0;
    padding: 0;
  }
}

code {
  display: inline-block;
  color: unset;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  margin: 0 -0.05rem;
  padding: 0 0.05rem;
}

.text-muted {
  a {
    color: $text-muted !important;
  }
}

ul {
  list-style-position: outside;
  list-style-image: url('/assets/hexagon-bullet.svg');
  &.no-bullet {
    list-style-type: none;
    list-style-image: none;
  }
}

// NOMENSA typography.scss
// REPLACE ./assets WITH /assets
p {
  &.p-small {
    font-size: 0.8125em;
    line-height: 1.69;
  }
}

a, div.isaac-nav-link {
  color: $gray-194;
  display: inline-block;
  text-decoration: underline;

  &:hover {
    color: $gray-194;
    text-decoration: none;
  }

  &.a-alt {
    color: $purple;
  }

  &.lrg-text {
    font-size: 1.125rem;
  }

  &.x-lrg-text {
    font-size: 1.25rem;

    @include respond-above(sm) {
      font-size: 1.625rem;
    }
  }

  &.next-link {
    padding-right: 1.2rem;
    background-image: url('/assets/chevron_right.svg');
    background-repeat: no-repeat;
    background-position: center right;
    clear: right;
    text-decoration: none;
  }
  &.previous-link {
    padding-left: 1.2rem;
    background-image: url('/assets/chevron_left.svg');
    background-repeat: no-repeat;
    background-position: center left;
    clear: left;
    text-decoration: none;
  }
}

.btn {
  &.btn-sm {
    &.a-alt {
      color: $purple;
      font-family: $secondary-font-medium;
      text-decoration: underline;
    }
  }
}

blockquote {
  &.blockquote {
    border-left: 0.25rem solid $gray-107;
    padding: 0.5rem 1rem;
  }
}

small {
  line-height: 1.69;
  border-top: 1px solid $black;
}

hr {
  display: block;
  border-bottom: 1px solid $black;
  position: relative;

  &::before {
    @include pseudo-element;
    border-bottom: 5px solid $black;
    bottom: -3px;
    left: 0;
    max-width: 158px;
    right: 0;
    width: 32%;

    @include respond-above(sm) {
      max-width: 380px;
    }
  }

  &.text-center {
    &::before {
      margin: auto;
    }
  }
}

.user-select-all {
  user-select: all;
}

.inline-glossary-term {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

.glossary_term .topics {
  margin-top: -1em;
}

.glossary-page {
  #sentinel {
    max-height: 1px;
    overflow: hidden;
    background: transparent;
  }

  #stickyalphabetlist {
    position: fixed;
    top: 0;
    background: rgba(255,0,0,0.2);
    z-index: 255;
    display: none;

    &.active {
      display: flex;
      @include make-col(12);
      @include respond-below(sm) {
        display: none;
      }
    }
  }

  .alphabetlist {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    @include respond-below(sm) {
      flex-direction: column;
      position: fixed;
      right: 2vw;
      top: 10vh;
      z-index: 255;
      width: 1.5em;
      height: 80vh;
      padding-bottom: 0 !important;

      div.key {
        background: rgba(0,0,0,0.5);
        color: white;
        font-size: 0.8rem;
        font-weight: bold;
        display: block;
        line-height: 1em;
        width: 1.2em;
        text-align: center;

        &:first-child {
          padding-top: 0.5vh;
          border-radius: 6px 6px 0 0;
        }

        &:last-child {
          padding-bottom: 0.5vh;
          border-radius: 0 0 6px 6px;
        }
      }
    }
  
    div.key {
      line-height: 2em;
      width: 2em;
      text-align: center;
      vertical-align: middle;
    }
  }
}

.text-decoration-skip-none {
  text-decoration-skip: none;
  text-decoration-skip-ink: none;
}
