@import "../common/accordions";

.accordion {
  box-shadow: 0 2px 30px 0 $shadow-08;
  background: #FBFBFB;
  border: 1px solid $color-neutral-300;
  border-radius: 8px;
  margin-bottom: 8px;

  .accordion-header {
    background: rgba(white, 1);
    border-radius: 8px;
  }

  .accordion-body {
    background-color: rgba(white, 1);
    border-radius: 0 0 8px 8px;
    padding-top: 0;
  }

  .active-border{
    border: 5px solid $color-brand-500;
    border-radius: 8px;
  }

  span::after {
    content: "";
    display: inline-block;
    background: url('/assets/phy/icons/redesign/chevron-down.svg');
    height: 16px;
    width: 16px;
    margin-left: 8px;
  }

  .up-chevron span::after {
    transform: rotate(180deg);
  }
}

.accordion-background {
  background-color: $color-neutral-100;
  padding: 8px;
}

.section-divider {
  margin: 0.5rem 0;
  border-top: 1px solid $color-neutral-200;
  width: 100%;
}
