@import "../common/assignment-progress";

$table-selected-background: rgb(223, 237, 255);
$table-selected-border: rgb(75, 157, 252);

.assignment-progress-gameboard .gameboard-header > *:first-child:before {
  background: $secondary;
  color: white;
}

.assignment-progress-gameboard .gameboard-header:not(.text-muted) > *:first-child:before {
  background: $primary !important;
}

.assignment-count-pill {
  @include pill-tag(white, darken($phy_green, 20));
  min-width: 25px;
  text-align: center;
}

.progress-table {
  .selected {
    background: $table-selected-background;
    background-clip: padding-box;
    box-shadow: inset 1px 0 $table-selected-border, inset -1px 0 $table-selected-border;
  }

  .progress-table-question-link {
    // this relies on elements in the table never having relative positioning!
    // TODO: since the header is now sticky, this interferes with this :/
    position: absolute;
    width: 100%;
    left: 0;
  }

  td.selected, td.total-column {
    font-weight: bold;
  }

  background-color: $gray-103;

  tbody tr:nth-of-type(even) {
    background: $gray-103;
    th {
      background: $gray-103;
    }
  }

  tbody tr:nth-of-type(odd) {
    background: white;
    th {
      background: white;
    }
  }

  thead th, tfoot th, tfoot td {
    // this be enabled for all sticky elements.
    background: $gray-103;
  }

  &:has(.selected) {
    thead tr:nth-of-type(2) th {
      background: $table-selected-background;
      background-clip: padding-box;
    }

    // This must be a box-shadow rather than a border so that it scrolls with the sticky table content
    .progress-table-question-header {
      box-shadow: 0 1px $table-selected-border, 0 -1px $table-selected-border;
    }

    // Horizontally sticky headers appear above the question-header's box-shadow so we need dedicated inset shadows for these headers
    thead th.student-name {
      box-shadow: inset 0 -1px $table-selected-border;
    }
    thead th.correct-attempted-header {
      @include respond-above(lg) {
        box-shadow: inset 0 -1px $table-selected-border;
      }
    }
  }
}
