@import "../common/boards";

// Subject hexagons:
.board-subject-hexagon-container {
  position: absolute;
  width: 63px;
  left: -8px;
  margin: auto;

  &.card-view {
    right: 45px;
  }

  &.table-view {
    position: relative;
    top: -5px;
  }
}
.board-subject-hexagon {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 63px;
  height: 74px;

  &.z0 {
    z-index: 5;
  }
  &.z1 {
    z-index: 4;
    top: 10px;
    left: 5px;
  }
  &.z2 {
    z-index: 3;
    top: 10px;
    left: 15px;
  }
  &.z3 {
    z-index: 2;
    top: 0;
    left: 10px;
  }
}
.board-percent-completed {
  width: 100%;
  font-size: 30px;
  line-height: 110%;
  font-family: $secondary-font-semi-bold;
  color: #fff;
  z-index: 10;
  position: absolute;
  top: 25px;
  left: 15px;
  text-align: center;
  &:after {
    font-size: 0.5em;
    content: '%';
    position: relative;
    top: -15px;
  }
}

.board-subject-hexagon {
  background: url(/assets/phy/icons/hexagons_sprite.png) no-repeat -256px 0;
}
.subject-physics {
  background-position: 0 0;
}
.subject-maths {
  background-position: -64px 0;
}
.subject-chemistry {
  background-position: -128px 0;
}
.subject-biology {
  background-position: -192px 0;
}
.subject-complete {
  background-position: -320px 0;
}
