@import "../common/boards";

.board-subject-hexagon-size {
  width: 72px;
  height: 72px;
}

// Subject hexagons:
.board-subject-hexagon-container {
  position: absolute;
  margin: auto;
  @extend .board-subject-hexagon-size;

  &.table-view {
    position: relative;
    top: -5px;
  }
}
.board-subject-hexagon {
  position: absolute;
  @extend .board-subject-hexagon-size;

  &.z0 {
    z-index: 5;
  }
  &.z1 {
    z-index: 4;
    top: 5px;
    left: -5px;
  }
  &.z2 {
    z-index: 3;
    top: 5px;
    left: 5px;
  }
  &.z3 {
    z-index: 2;
    top: -5px;
    left: 0;
  }
}

.board-bubble-info {
  width: 100%;
  height: 39px;
  position: relative;
  z-index: 5;
  align-content: center;
  font-size: 30px;
  line-height: 110%;
  font-family: $secondary-font-semi-bold;
  color: $color-neutral-900;
  text-align: center;
}

.board-bubble-info-sm {
  @extend .board-bubble-info;
  height: 28px;
  font-size: 22px;
}

.board-percent-completed {
  @extend .board-bubble-info;

  &::after {
    font-size: 0.5em;
    content: '%';
    position: relative;
    top: -18px;
  }
}

label:has(> .board-percent-completed) {
  cursor: inherit;
}

// old style; board percent displayed on top of subject hexagons
.board-subject-hexagon-container > .board-percent-completed {
  height: 100%;
  color: white;
}

.board-subject-hexagon {
  mask: url(/assets/phy/icons/redesign/hexagon.svg) no-repeat center center;
  mask-size: contain;
  width: 72px;
  height: 72px;

  &.subject-physics {
    background-color: $color-physics-500;
  }
  &.subject-maths {
    background-color: $color-maths-500;
  }
  &.subject-chemistry {
    background-color: $color-chemistry-500;
  }
  &.subject-biology {
    background-color: $color-biology-500;
  }
}
