#root {
    color: var(--color-neutral-900);
    font-family: $primary-font;
    line-height: 1.625;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
}

body:has(> #root[data-ld-theme="dark"]) {
  background-color: #181a1b;
}

.content-body {
  @include no-print {
    background-color: var(--color-neutral-50);
  }
  
  > .container {
    @include no-print {
      background-color: var(--color-neutral-50);
    }
  }
}
