@import "../common/books";

.book-levels {
  button {
    color: $phy_burgundy;
    &:hover {
      background-color: $phy_burgundy;
    }
    &:focus {
      background-color: $phy_burgundy;
    }

    /* Subjects can change the default colours: */
    .physics & {
      color: $phy_physics !important;
      &:hover {
        color: #fff !important;
        background-color: $phy_physics !important;
      }
      &:focus {
        color: #fff !important;
        background-color: $phy_physics !important;
      }
    }
    .chemistry & {
      color: $phy_chemistry;
      &:hover {
        color: #fff;
        background-color: $phy_chemistry;
      }
      &:focus {
        color: #fff;
        background-color: $phy_chemistry;
      }
    }
    .maths & {
      color: $phy_maths;
      &:hover {
        color: #fff;
        background-color: $phy_maths;
      }
      &:focus {
        color: #fff;
        background-color: $phy_maths;
      }
    }
    .biology & {
      color: $phy_biology;
      &:hover {
        color: #fff;
        background-color: $phy_biology;
      }
      &:focus {
        color: #fff;
        background-color: $phy_biology;
      }
    }
  }
}

svg.book-page-icon {
  polygon {
    fill: $phy_burgundy;
    .physics & {
      fill: $phy_physics;
    }
    .chemistry & {
      fill: $phy_chemistry;
    }
    .maths & {
      fill: $phy_maths;
    }
    .biology & {
      fill: $phy_biology;
    }
  }
}

.book-container {
  border-radius: 8px;
  text-decoration: none;

  &:hover {
    .book-image-container {
      scale: 1.02;
    }

    h5 {
      text-decoration: underline;
    }
  }
  
  .book-image-container {
    position: relative;
    width: min-content;
    box-shadow: 0px 6px 12px rgba(0,0,0,0.2);
    transition: scale 0.2s ease-out;

    &::after {
      background-image: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.0666667) 4%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 100%);
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 20;
      border-radius: 3px;
    }
    
    > img {
      max-height: 215px;
      border-radius: 3px;
    }
  }
}
