@import "../common/breadcrumbs";

.bread {
    position: relative;

    background-color: color-mix(in srgb, var(--subject-color-900) 50%, transparent 50%);
    border-bottom: 1px solid color-mix(in srgb, white 20%, transparent 80%);

    .breadcrumb-item {
        display: flex;
        align-items: center;
        color: white;
    }
    
    .breadcrumb-item a {
        text-decoration: none;
        color: white;
        &:hover {
            text-decoration: underline;
        }
    }

    .breadcrumb-item + .breadcrumb-item::before, .breadcrumb-item:last-child::after {
        @include no-print {
            @include pseudo-icon('/assets/common/icons/chevron-right.svg', 16px, 16px, 100%);
            background-color: $color-neutral-white;
        }

        @include only-print {
            content: ">";
            color: black;
        }

        padding: 0;
        margin-right: $breadcrumb-item-padding-x;
    }
    
    .breadcrumb-item:last-child::after {
        margin-left: $breadcrumb-item-padding-x;
    }
}
