@import "../common/breadcrumbs";

.bread {
    position: relative;

    background-color: color-mix(in srgb, var(--subject-color-900) 50%, transparent 50%);
    border-bottom: 1px solid color-mix(in srgb, white 20%, transparent 80%);

    .breadcrumb-item {
        display: flex;
        color: white;
    }
    
    .breadcrumb-item a {
        text-decoration: none;
        color: white;
        &:hover {
            text-decoration: underline;
        }
    }

    .breadcrumb-item + .breadcrumb-item::before, .breadcrumb-item:last-child::after {
        display: block;
        background-image: url('/assets/common/icons/chevron_up_white.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        rotate: 90deg;
        opacity: 0.8;
        content: '';
        height: 14px;
        left: 20px;
        margin-bottom: -2px;
        margin-left: 2px;
        margin-right: 10px;
        margin-top: 7px;
        width: 9px;
    }

    .breadcrumb-item:last-child::after {
        margin-left: 9px;
    }
}
