@import "../common/button";

.btn, input.btn {
  //Button Secondary
  &.btn-red {
    background-color: $phy_orangered;
  }
  &.btn-yellow {
    background-color: $phy_extra_force_yellow;
  }
  &.btn-green {
    background-color: $a11y_green;
  }

  &.btn-secondary:not(:disabled):not(.disabled):active {
    background-color: darken(theme-color("secondary"), 4);
    border: 1px solid transparent;
    text-decoration: underline;
  }

  &.btn-outline-primary:not(:disabled):not(.disabled):active {
    color: black;
  }
}

.btn-green {
  @include button-variant($a11y_green, $a11y_green);
}

.quick-question-options {
  background: rgba($secondary, 0.5);
  border: 1px solid transparent;
  color: $black;
  border-radius: 5px;
  padding: 10px !important;
}
