@import "../common/button";

// TODO: bootstrap colours other states in these buttons (:active, :focus-visible) that are not currently styled

// Fluent buttons
.btn.btn {
  border-radius: 22.5rem;
  font-size: var(--buttons-font-size-btn-lg);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  opacity: 100%;

  &:focus:not(:focus-visible) {
    outline: 1px solid var(--buttons-focus-ring) !important;
    outline-offset: 3px;
  }

  &.btn-sm {
    padding: 0.4375rem 0.875rem;
    min-width: 80px;
  }

  &.btn-md {
    padding: 0.6875rem 1.375rem;
    min-width: 100px;
  }

  &.btn-lg {
    padding: 0.8125rem 1.625rem;
    min-width: 120px;
  }
}

// TODO: replace btn-primary with btn-solid
.btn.btn-primary, .btn.btn-solid {
  background-color: var(--buttons-dark);
  border: none;
  color: var(--buttons-dark-text);

  &:hover, &.btn-dropdown.active {
    background: var(--buttons-dark-hover);
    color: var(--buttons-dark-hover-icon);
    text-decoration: none;
  }

  &:disabled, &.disabled {
    background-color: var(--buttons-dark-disabled);
    color: var(--buttons-dark-text);
  }

  &:focus-visible {
    --focus-outline-color: #{$a11y_blue};
  }

  i.icon {
    background-color: var(--layered-icon-parent-bg-override, var(--buttons-dark-icon));
  }

  i.icon::after {
    background-color: var(--buttons-dark-icon);
  }
}


// TODO: replace btn-secondary with btn-keyline
.btn.btn-secondary, .btn.btn-keyline {
  background-color: transparent;
  border: 1.5px solid var(--buttons-keyline-border);
  color: var(--buttons-light-text);

  &:hover, &.btn-dropdown.active {
    background: var(--buttons-light-hover);
    color: var(--buttons-dark-text);
    text-decoration: none;
  }

  &:disabled, &.disabled {
    color: var(--buttons-light-disabled-text);
    border-color: var(--buttons-keyline-disabled-border);
    --buttons-light-icon: #{$color-neutral-400};
  }

  i.icon {
    background-color: var(--layered-icon-parent-bg-override, var(--buttons-light-icon));
  }

  i.icon::after {
    background-color: var(--buttons-light-icon);
  }
}

.btn.btn-tertiary, .btn.btn-tint {
  background-color: var(--buttons-tint);
  border: 1.5px solid var(--buttons-tint-border);
  color: var(--buttons-light-text);

  &:hover, &.btn-dropdown.active {
    background-color: var(--buttons-light-hover);
    color: var(--buttons-dark-text);
    text-decoration: none;
  }

  &:disabled, &.disabled {
    color: var(--buttons-light-disabled-text);
  }

  i.icon {
    background-color: var(--layered-icon-parent-bg-override, var(--buttons-light-icon));
  }

  i.icon::after {
    background-color: var(--buttons-light-icon);
  }
}

.btn.btn-keyline-white {
  background-color: var(--buttons-dark);
  border: 1.5px solid var(--buttons-keyline-white-border);
  color: var(--buttons-keyline-white-text);

  &:hover, &.btn-dropdown.active {
    background: var(--buttons-keyline-white-hover);
    color: var(--buttons-dark-text);
    text-decoration: none;
  }

  &:focus:not(:focus-visible) {
    outline: 2px solid var(--buttons-focus-ring) !important;
    outline-offset: 3px;
  }

  &:disabled, &.disabled {
    color: var(--buttons-dark-disabled-text);
  }
}

.btn.btn-keyline-underline {
  // an alternative keyline button that underlines the text on hover instead of changing background colour;
  // prefer btn-keyline for most cases, but useful for buttons with non-themeable icons such as login authenticators
  background-color: transparent;
  border: 1.5px solid var(--buttons-keyline-border);
  color: var(--buttons-light-text);

  &:hover, &.btn-dropdown.active {
    text-decoration: underline;
  }

  &:disabled, &.disabled {
    color: var(--buttons-light-disabled-text);
  }

  i.icon {
    background-color: var(--layered-icon-parent-bg-override, var(--buttons-light-icon));
  }

  i.icon::after {
    background-color: var(--buttons-light-icon);
  }
}

.icon-button-sm {
  // Makes the size of <IconButton> consistent with the default padding on .btn buttons. Not the same as any existing .p-*, or even the .btn default.
  padding: 0.75rem !important;
}

// TODO: plan removing all below button styling?

.btn, input.btn {
  border-radius: 22.5rem;
  padding: 0.625rem 1.25rem;
  white-space: normal;

  &.btn-negative, &.btn-neutral, &.btn-positive, &.btn-negative-answer, &.btn-neutral-answer, &.btn-positive-answer {
    border: 1px solid transparent;
    color: $black;
    padding: 0 !important;
    border-radius: 5px;

    &.focus,
    &:focus,
    &:not(:disabled):not(.disabled):active:focus {
      box-shadow: 0 0 0 0.2rem $shadow-black !important;
    }
  }

  &.btn-positive:not(:disabled):not(.disabled):active, &.btn-neutral:not(:disabled):not(.disabled):active,
  &.btn-negative:not(:disabled):not(.disabled):active, &.btn-negative-answer:not(:disabled):not(.disabled):active,
  &.btn-neutral-answer:not(:disabled):not(.disabled):active, &.btn-positive-answer:not(:disabled):not(.disabled):active {
    border: 1px solid transparent;
    color: $black;
    text-decoration: underline;
    border-radius: 5px;
  }

  &.question-actions-link {
    font-family: $secondary-font !important;
  }

  &:hover {
    text-decoration: underline;
  }

  &.disabled,
  &:disabled {
    text-decoration: none;
  }

  &.btn-link {
    color: $black;
    min-width: initial;
    padding: initial;

    &:hover {
      background-color: transparent;
    }

    &:not(:disabled):not(.disabled):active {
      background-color: $gray-118;
      border-color: $gray-118;
    }

    &.disabled,
    &:disabled {
      color: $gray-136;
    }

    &.primary-font-link {
      font-family: $primary-font;
      letter-spacing: inherit;
      font-size: inherit;
      vertical-align: inherit;
      text-decoration: underline;
      &:focus {
        outline: 0.2rem solid #000 !important;
        border-radius: inherit;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }

  //Button - Primary Outline
  &.btn-outline-primary {
    border-color: $black;
    border-width: 2px;
    color: $black;

    &:hover {
      background-color: transparent;
    }

    &:not(:disabled):not(.disabled):active {
      background-color: $gray-118;
      border-color: $gray-118;
    }

    &.disabled,
    &:disabled {
      border-color: $gray-136;
      color: $gray-136;
    }
  }

  &.btn-xl {
    width: 100%;
    white-space: nowrap;

    @include respond-above(md) {
      padding-right: 5rem;
      padding-left: 5rem;
      width: auto;
    }
  }

  &.btn-dropdown {
    color: black;
    background-color: $color-neutral-100;
    border: 1px solid $color-neutral-300;
    border-radius: 6px;
  }
}

// ISAAC
.btn-underline {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

a.btn {
  text-decoration: none;
}
.btn {
  &.btn-link {
    font-size: initial;
    font-weight: initial;
  }

  &.btn-outline-tertiary {
    border-color: $gray-118;
    border-width: 2px;
    color: $black;

    &:hover {
      background-color: transparent;
    }

    &:not(:disabled):not(.disabled):active {
      background-color: $gray-136;
      border-color: $gray-136;
    }

    &.disabled,
    &:disabled {
      border-color: $gray-107;
      color: $gray-107;
    }
  }
}

.btn, input.btn {
  &.btn-negative {
    background-color: $phy_orangered;
  }
  &.btn-neutral {
    background-color: $phy_extra_force_yellow;
  }
  &.btn-positive {
    background-color: $a11y_green;
  }

  &.btn-outline-primary:not(:disabled):not(.disabled):active {
    color: black;
  }

  //Button - Secondary Outline
  &.btn-outline-secondary {
    background-color: $black;
    border-color: $black;
    border-width: 2px;
    color: $white;

    &:not(:disabled):not(.disabled):active {
      background-color: $gray-118;
      border-color: $gray-118;
    }

    &.disabled,
    &:disabled {
      border-color: $gray-160;
      color: $gray-160;
    }
  }
}

.btn-green {
  @include button-variant($a11y_green, $a11y_green);
}

.quick-question-options {
  background: color-mix(in srgb, var(--subject-color-500) 50%, transparent);
  border: 1px solid transparent;
  transition: opacity 0.2s linear;
}

.quick-question-muted {
  opacity: 0.6;
}

.hex-icon {
  width: 50px;
  height: 58px;
  background-repeat: no-repeat;
  z-index: 1;
  float: right;
  position: relative;
  margin-right: 5px;
  margin-left: 5px;
  background-color: transparent;
}

.action-buttons-popup-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: max-content;
  height: 100%;
  right: 50%;
  align-items: center;
  border: 1px solid $color-neutral-200;
  border-radius: 0.5rem;
  border-right: none;
  padding: 0 1.5rem 0 1rem;
  z-index: 15;
  background: white;

  & ~ button {
    position: relative;
    z-index: 15;
  }

  input {
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: all;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    width: 100%;
    height: max-content;
    border: none;
    border-bottom: 2px solid $color-neutral-200;
  }

  &.double-height {
    height: calc(100% + 38px);
  }
}

.btn-close { // bootstrap <Button close/> components
  width: 10px;
  height: 10px;
  min-width: 10px;
  min-height: 10px;
  background-clip: content-box;
  border-radius: 0;
}

button.close { // default <button class="close"/> components;
  background-color: transparent;
}

.btn-plus.btn-plus { // need the specificity to be above bootstrap's .btn
  @extend .btn-close;
  background-image: url(/assets/common/icons/plus.svg) !important;
  border: none;
}
