.rounded-card {
  border-radius: 8px;
}

// stylistically this would work better as a class with a @extend of this class in the @container query, 
// but the generated CSS seemingly ignores the @container condition when using @extend?
@mixin horizontal-pod-container {
  .pod.force-horizontal {
    @content;
  }

  @container pod-parent (min-width: 576px) {
    .pod:not(.no-horizontal) {
      @content;
    }
  }
}

div:has(> .pod) {
  container: pod-parent / inline-size;

  @include horizontal-pod-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: $card-spacer-y $card-spacer-x;

    &.pod-clickable {
      background-color: transparent;
      box-shadow: none;
      padding-top: 0;

      a::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }

      a:hover ~ div .pod-title {
        text-decoration: underline;
      }
    }
    
    > a.pod-img {
      width: 35%;
      min-width: 35%;
      height: 100%;
    
      > img {
        border-radius: $card-inner-border-radius;
      }
    }

    .card-body {
      padding: 0;
      padding-left: $card-spacer-x;
    }

    .pod-title {
      font-size: 24px;
    }
  }
}

.pod {
  background-color: white;
  box-shadow: 2px 4px 10px 0 $shadow-08;
  border-radius: 1rem;
  border: none;
  height: 100%;
  width: 100%;
  position: relative;
  
  a:has(> img) {
    height: min-content;
    > img {
      width: 100%;
      aspect-ratio: 16/9;
      object-fit: cover;

      &.programme-img {
        aspect-ratio: 16/7;
      }
    }
  }

  .event-pod-img {
    height: min-content;

    .event-pod-badge {
      position: absolute;
      margin: 3%;

      &.right {
        right: 3%;
      }
    }

    .event-pod-hex {
      position: absolute;
      top: 0;
      left: 7%;
      color: white;

      > b {
        font-family: $secondary-font;
        font-weight: 600;
        position: absolute;
        text-align: center;
        font-size: 12px;
        padding-top: 5px;
      }
    }
  }

  .expired {
    filter: grayscale(1);
  }

  .fixed-height {
    @include fixed-text-height(1.5rem, 2);
  }
}
