@use 'sass:math';

// number of news cards per line for each breakpoint
$news-cards-per-line: (
  xs: 2,
  lg: 3
);

@each $name, $breakpoint in $grid-breakpoints {
  @if (map-has-key($news-cards-per-line, $name)) {
    @include media-breakpoint-up($name) {
      .card-deck .news-card {
        flex: 0 0 calc(#{math.percentage(math.div(1, map-get($news-cards-per-line, $name)))} - #{$grid-gutter-width});
        width: 100%;
      }
    }
  }
}

.pod {
  background-color: transparent;
  border: none;
  width: 318px;
  flex: none;

  .pod-title {
    font-size: 16px;
    font-weight: 700;
  }
  
  .pod-img {
    border-radius: 8px;
    height: 158px;
  }

  .event-pod-img {
    position: relative;
    min-height: 100px;

    .event-pod-badge {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: left;
      padding: 8px 15px 15px;

      &.disabled {
        z-index: 5;
      }
    }

    .event-pod-hex {
      position: absolute;
      top: 0;
      right: 5%;
      min-height: 91px;
      width: 100%;
      text-align: right;
      color: white;

      &.disabled {
        z-index: 5;
      }

      > b {
        position: absolute;
        text-align: center;
        font-size: 12px;
        padding-top: 5px;
      }
    }
  }
}
