// stylistically this would work better as a class with a @extend of this class in the @container query, 
// but the generated CSS seemingly ignores the @container condition when using @extend?
@mixin horizontal-pod-container {
  .pod.force-horizontal {
    @content;
  }

  @container pod-parent (min-width: 700px) {
    .pod:not(.no-horizontal) {
      @content;
    }
  }
}

div:has(> .pod) {
  container: pod-parent / inline-size;

  @include horizontal-pod-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: min-content;
    
    a:has(> img) {
      margin-right: 1.5rem;

      > img {
        width: 200px;
      }
    }

    .card-body {
      padding-top: 0;
    }

    .pod-title {
      font-size: 24px;
    }
  }
}

.pod {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;

  .card-body {
    padding-top: 0.25rem;
  }

  .pod-title {
    font-size: 16px;
    font-weight: 700;
  }
  
  a:has(> img) {
    height: min-content;
    > img {
      width: 100%;
      aspect-ratio: 16/9;
      object-fit: cover;
      border: 1px solid $color-neutral-200;
      border-radius: 8px;
    }
  }

  .event-pod-img {
    position: relative;
    height: min-content;

    .event-pod-badge {
      position: absolute;
      bottom: 3%;
      left: 3%;
    }

    .event-pod-hex {
      position: absolute;
      top: 1px;
      right: 5%;
      color: white;

      > b {
        font-family: $secondary-font-semi-bold;
        position: absolute;
        text-align: center;
        font-size: 12px;
        padding-top: 5px;
      }
    }
  }
}
