@use "sass:map";

// VARIABLE DEFINITIONS
@each $palette, $subject-colors in $isaac-color-palettes {
  @include color-mode($palette) {

    // BADGES
    --badges-dark: #{map.get($subject-colors, 500)};
    --badges-dark-text: #{$color-neutral-white};
    --badges-light: #{map.get($subject-colors, 100)};
    --badges-light-text: #{map.get($subject-colors, 900)};

    // BUTTONS
    --buttons-dark: #{map.get($subject-colors, 700)};
    --buttons-dark-contrast: #{$color-neutral-white};
    --buttons-dark-disabled: #{map.get($subject-colors, 300)};
    --buttons-dark-disabled-text: #{map.get($subject-colors, 300)};
    --buttons-dark-hover: #{$color-neutral-900};
    --buttons-dark-hover-icon: #{$color-neutral-200};
    --buttons-dark-hover-prefix: #{$color-neutral-200};
    --buttons-dark-icon: #{map.get($subject-colors, 200)};
    --buttons-dark-prefix: #{map.get($subject-colors, 100)};
    --buttons-dark-text: #{$color-neutral-white};
    --buttons-focus-ring: #{map.get($subject-colors, 300)};
    --buttons-keyline-border: #{map.get($subject-colors, 500)};
    --buttons-keyline-white-border: #{map.get($subject-colors, 400)};
    --buttons-keyline-white-hover: #{map.get($subject-colors, 900)};
    --buttons-keyline-white-text: #{$color-neutral-white};
    --buttons-light: #{$color-neutral-white};
    --buttons-light-disabled: #{$color-neutral-white};
    --buttons-light-disabled-text: #{map.get($subject-colors, 300)};
    --buttons-light-hover: #{map.get($subject-colors, 700)};
    --buttons-light-hover-icon: #{map.get($subject-colors, 200)};
    --buttons-light-hover-prefix: #{map.get($subject-colors, 100)};
    --buttons-light-icon: #{map.get($subject-colors, 400)};
    --buttons-light-prefix: #{map.get($subject-colors, 500)};
    --buttons-light-text: #{$color-neutral-900};
    --buttons-tint: #{map.get($subject-colors, 50)};
    --buttons-tint-border: #{map.get($subject-colors, 100)};

    // NAVIGATION
    --nav-primary: #{map.get($subject-colors, 500)};
    --nav-secondary: #{map.get($subject-colors, 400)};
    --sidebar-tab-active: #{map.get($subject-colors, 500)};
    --sidebar-tab-hover: #{map.get($subject-colors, 300)};

    // ICONS
    --icon-primary: #{map.get($subject-colors, 500)};
    --icon-hover: #{$color-neutral-white};

    --subject-color-50: #{map.get($subject-colors, 50)};
    --subject-color-100: #{map.get($subject-colors, 100)};
    --subject-color-200: #{map.get($subject-colors, 200)};
    --subject-color-300: #{map.get($subject-colors, 300)};
    --subject-color-400: #{map.get($subject-colors, 400)};
    --subject-color-500: #{map.get($subject-colors, 500)};
    --subject-color-600: #{map.get($subject-colors, 600)};
    --subject-color-700: #{map.get($subject-colors, 700)};
    --subject-color-800: #{map.get($subject-colors, 800)};
    --subject-color-900: #{map.get($subject-colors, 900)};

    // ALERT
    --alert-text-color: #{map.get($subject-colors, 900)};

    @if $palette == "neutral" {
      // neutral has some special cases
      --badges-light: #{$color-neutral-white};
      --buttons-dark: #{$color-neutral-900};
      --buttons-dark-hover: #{$color-brand-700};
      --buttons-dark-icon: #{$color-neutral-300};
      --buttons-dark-prefix: #{$color-neutral-200};
      --buttons-keyline-border: #{$color-neutral-700};
      --buttons-keyline-white-hover: #{$color-brand-700};
      --buttons-light-hover: #{$color-brand-500};
      --buttons-light-hover-prefix: #{$color-neutral-200};

      --nav-primary: #{$color-brand-500};
      --sidebar-tab-active: #{$color-brand-500};
      --sidebar-tab-hover: #{$color-neutral-300};

      --icon-primary: #{$color-brand-500};

      --alert-text-color: #{$color-neutral-800};
    }
  }
}
  
:root {
  --buttons-prefix-button-neutral-focus-ring: #{$color-neutral-200};
  --forms-input-background: #{$color-neutral-white};
  --forms-colour-input-border: #{var(--color-neutral-300)};
  --forms-colour-input-border-active: #{$color-neutral-900};
  --forms-colour-input-border-error: #{var(--color-misc-red)};
  --forms-colour-input-placeholder: #{var(--primary-color-label)};
  --forms-colour-input-text: #{$color-neutral-900};

  --border-light: #F5F4F0;

  --sidebar-tab-disabled: #{$color-neutral-300};

  /* number */
  --buttons-padding-v-sm: 0.6875rem;
  --buttons-padding-v-md: 0.8125rem;
  --buttons-padding-v-lg: 0.9375rem;
  --buttons-padding-h-sm: 1.375rem;
  --buttons-padding-h-md: 1.625rem;
  --buttons-padding-h-lg: 1.875rem;
  --buttons-prefix-opacity: 100%;
  --forms-input-border-radius: 8rem;

  --buttons-font-size-btn-lg: 0.875rem;
}


// COMPONENT STYLES
@each $palette, $subject-colors in $isaac-color-palettes {
  @include color-mode($palette) {
    .alert-secondary {
      @extend .alert-#{$palette};
      color: var(--alert-text-color);
    }
  }
}

.text-theme {
  color: var(--subject-color-500);

  &a {
    &:hover, &:focus {
      color: var(--subject-color-600);
    }
  }
}

.text-theme-dark {
  color: var(--subject-color-800);

  &a {
    &:hover, &:focus {
      color: var(--subject-color-900);
    }
  }
}

.bg-theme {
  background-color: var(--subject-color-500);
}

.border-theme {
  border-color: var(--subject-color-500);
}
