@use 'sass:map';

// Fluent containers

.container-fluid {
    @each $bp, $_ in $grid-breakpoints {
        @include media-breakpoint-only($bp) {
            width: auto;
            padding-left: map.get($spacing-container-margins, $bp);
            padding-right: map.get($spacing-container-margins, $bp);
        }
    }
}
