@use 'sass:map';

// Fluent containers

.container-fluid {
    @each $bp, $_ in $grid-breakpoints {
        @include media-breakpoint-only($bp) {
            width: auto;
            margin-left: calc(map.get($spacing-container-margins, $bp) - var(--bs-gutter-x) * 0.5);
            margin-right: calc(map.get($spacing-container-margins, $bp) - var(--bs-gutter-x) * 0.5);
        }
    }
}
