@import "../common/events";

.event-pod-hex {
    top: 1px;
    right: 5%;
    color: white;

    > b {
      font-family: $secondary-font-semi-bold;
      position: absolute;
      text-align: center;
      max-width: 75px;
      margin: 2px;
      font-size: 12px;
      padding-top: 5px;
    }
}

.event-key-info {
  tr {
    background-color: $color-neutral-100;
    td {
      font-weight: 600;
      &:last-child {
        font-weight: 400;
      }
    }
  }
}

.btn-more-events {
  border-radius: 8px;
  background-color: $color-neutral-100;
}