@import "../common/filter";

$shapes: hex, square, octagon, diamond;

svg {
  @each $shape in $shapes {
    .#{$shape} {
      &.active.physics {
        fill: $phy_physics;
        stroke: $phy_physics;
      }

      &.active.maths {
        fill: $phy_maths;
        stroke: $phy_maths;
      }

      &.active.chemistry {
        fill: $phy_chemistry;
        stroke: $phy_chemistry;
      }

      &.active.biology {
        fill: $phy_biology;
        stroke: $phy_biology;
      }

      &:not(.active) {
        fill: none;
        stroke: $gray-160;
      }

      &.mini:not(.active) {
        fill: white;
        stroke: none;
      }

      &.de-emph {
        stroke: $gray-120
      }

      &.none {
        fill: none;
        stroke: none;
      }

      &.clickable {
        cursor: pointer;
      }

      &.level.active {
        fill: $phy_green;
        stroke: $phy_green;
      }

      &.active.difficulty.practice {
        fill: $phy_green;
        stroke: $phy_green;
      }

      &.active.difficulty.challenge {
        fill: $phy_extra_force_yellow;
        stroke: $phy_extra_force_yellow;
      }

      &:focus {
        outline: none;
        stroke: black !important;
        stroke-width: 0.2rem;
      }
    }
  }
  .connection {
    fill: none;
    &.active.physics {
      stroke: $phy_physics;
    }
    &.active.maths {
      stroke: $phy_maths;
    }
    &.active.chemistry {
      stroke: $phy_chemistry;
    }
    &.active.biology {
      stroke: $phy_biology;
    }
    &:not(.active) {
      stroke: $gray-118;
    }
  }

}

.hexagon-coming-soon {
  width: 100%;
  pointer-events: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.65rem;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  font-family: $secondary-font-semi-bold;
  background: white;
  border-style: solid;
  border-width: 1px;

  &.physics {
    border-color: $phy_physics;
  }

  &.maths {
    border-color: $phy_maths;
  }

  &.chemistry {
    border-color: $phy_chemistry;
  }

  &.biology {
    border-color: $phy_biology;
  }
}

/* Taken from https://www.browserstack.com/guide/create-browser-specific-css */

/* Safari 11+ */
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .hexagon-coming-soon {
      visibility: hidden !important;
    }
  }
}

/* Safari 10.1 */
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) and (not (stroke-color:transparent)) {
    .hexagon-coming-soon {
      visibility: hidden !important;
    }
  }
}