@import "../common/filter";

$shapes: hex, square, octagon, diamond;

svg {
  @each $shape in $shapes {
    .#{$shape} {
      &.active.physics {
        fill: $phy_physics;
        stroke: $phy_physics;
      }

      &.active.maths {
        fill: $phy_maths;
        stroke: $phy_maths;
      }

      &.active.chemistry {
        fill: $phy_chemistry;
        stroke: $phy_chemistry;
      }

      &:not(.active) {
        fill: none;
        stroke: $gray-160;
      }

      &.mini:not(.active) {
        fill: white;
        stroke: none;
      }

      &.de-emph {
        stroke: $gray-120
      }

      &.none {
        fill: none;
        stroke: none;
      }

      &.clickable {
        cursor: pointer;
      }

      &.level.active {
        fill: $phy_green;
        stroke: $phy_green;
      }

      &.active.difficulty.practice {
        fill: $phy_green;
        stroke: $phy_green;
      }

      &.active.difficulty.challenge {
        fill: $phy_extra_force_yellow;
        stroke: $phy_extra_force_yellow;
      }

      &:focus {
        outline: none;
        stroke: black !important;
        stroke-width: 0.2rem;
      }
    }
  }
  .connection {
    fill: none;
    &.active.physics {
      stroke: $phy_physics;
    }
    &.active.maths {
      stroke: $phy_maths;
    }
    &.active.chemistry {
      stroke: $phy_chemistry;
    }
    &:not(.active) {
      stroke: $gray-118;
    }
  }

}
