@font-face {
  font-family: 'desyrel';
  src: url('/assets/common/fonts/desyrel-webfont.woff') format('woff'),
  url('/assets/common/fonts/desyrel-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'exo-2';
  src: url('/assets/phy/fonts/exo-2-variable-wght.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-stretch: normal;
}

@font-face {
  font-family: 'exo-2';
  src: url('/assets/phy/fonts/exo-2-italic-variable-wght.woff2') format('woff2');
  font-style: italic;
  font-weight: 100 900;
  font-stretch: normal;
}

@font-face {
  font-family: 'hanken-grotesk';
  src: url('/assets/phy/fonts/hanken-grotesk-variable-wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'hanken-grotesk';
  src: url('/assets/phy/fonts/hanken-grotesk-italic-variable-wght.ttf') format('truetype');
  font-style: italic;
}
