.gameboard-builder-banner {
  position: relative;
  text-align: center;
}

.gameboard-builder-undo {
  position: absolute;
  left: 0;
}

.gameboard-builder-refresh {
  position: absolute;
  right: 0;
}

.responsive {
  max-height: 60vh;
  .table.table-bordered {
    thead {
      @include table-sticky();
    }
    tr {
      &.disabled {
        background-color: lightgrey;
      }

      &.selected {
        background-color: lightyellow;
      }
    }
  }
}
