@import "../common/gameboard";

.modal-body {
  .basic-multi-select {
    .select__control.select__control--is-focused {
      border-color: $primary;
      box-shadow: 0 0 0 0.2rem $shadow-08;
    }

    .select__menu {
      z-index: 2;
      .select__option.select__option--is-focused {
        background-color: $primary;
        color: $color-neutral-white;
      }
    }
  }
}

.hierarchy-tags {
  font-size: 0.8125rem;
  color: $color-neutral-600;
  min-width: max-content;
}

.gameboard-builder-banner {
  position: relative;
  text-align: center;
}

.gameboard-builder-undo {
  position: absolute;
  left: 0;
}

.gameboard-builder-refresh {
  position: absolute;
  right: 0;
}

.responsive {
  max-height: 60vh;
  .table.table-bordered {
    thead {
      @include table-sticky();
      background: $gray-103;
    }
    tr {
      &.disabled {
        background-color: lightgrey;
      }
    }
  }
}

button.btn.delete-button {
  border-radius: inherit;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0.625rem;
  > img {
    filter: invert(1);
  }
}

.board-sidebar-content {
  &.selected-content {
    background-color: $color-neutral-100;
    border-left: solid 3px var(--subject-color-500);
  }
  &:not(.selected-content) {
    border-left: solid 3px transparent;
  }
}

.bg-wildcard {
  background-color: $color-misc-pale-yellow;
}
