@import "../common/groups";

.group-table {
  tbody > *:last-child > * {
    border-bottom: none;
  }
}

.member-info-item {
  .icon-group-table-person {
    @extend .mt-2;
    width: 14px;
  }
  + .member-info-item {
    border-top: $table-border-color solid 1px;
  }
}

.group-nav-tab {
  font-size: 16px !important;
}

.nav-tabs .nav-item {
  &.active .nav-link {
    border-radius: 8px;
    background-color: $color-brand-700;
  }
}

.groups-sidebar {
  background-color: $color-neutral-50;
  border: none;
}