@import "../common/header";

a.skip-main:focus, a.skip-main:active {
  left: 7%;
  top: 70px;
}
div.header-progress {
  position: relative;
  float: bottom;
  height: 100px;
  width: 100px;
}
header {
  z-index: 20;
  background-image: url('/assets/phy/line.svg');
  @include respond-above(sm) {
    background-size: 100% 70%;
  }

  .header-links {
    @include respond-below(md) {
      margin-top: 1.7rem !important;
    }
  }
}
