@import "../common/header";

#header-offcanvas {
  width: 591px;
  ul#main-menu {
    li {
      border-top: $color-neutral-200 1px solid;
      &:last-child {
        border-bottom: $color-neutral-200 1px solid;
      }
      > a {
        position: relative;
        z-index: 1;
      }
      div.nav-section {
        border: none;
        position: static;
      }
    }
  }
}

.navbar-nav.navbar-nav {
  a {
    text-decoration: none;
    &:hover {
      background-color: unset;
      text-decoration: underline;
    }
  }
}

header {
  // >=md desktop menu, not the offcanvas
  position: relative;
  font-size: 14px;

  .navbar-nav div.nav-section {
    position: absolute;
  }

  > .container {
    @include respond-below(sm) {
      max-width: 100% !important;
    }
  }
}

a.skip-main:focus, a.skip-main:active {
  left: 7%;
  top: 70px;
}
div#header-progress {
  max-width: min-content;
}
header {
  z-index: 20;
}
