.physics-strapline {
  h2 {
    font-family: $secondary-font-bold;
    font-size: 40px;
  }

  .text-green {
    color: $color-brand-700;
  }
}

.homepage {

  h3 {
    font-family: $secondary-font-bold;
    font-size: 24px;
    display: inline;
    margin-right: 18px;
    text-wrap: nowrap;
  }

  .news-events-link {
    text-wrap: nowrap;
    margin-top: 7px;
    margin-right: 10px;
  }

  .section-divider {
    height: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    margin-top: 18px;
    flex-grow: 1;
  }

  .homepage-hero {
    background-color: #DCEBD7;
    position: relative;

    .homepage-hero-content {
      z-index: 1;
      padding: 80px;
    }

    .homepage-hero-img {
      z-index: 0;
      display: flex;
      height: 100%;
      background-size: contain;
      right: -400px;
      aspect-ratio: 16 / 9;
      clip-path: polygon(32% 0, 95% 0, 95% 100%, 32% 100%, 17% 50%);
      position: absolute;
      background-image: url('/assets/phy/phy-homepage-image.jpg');
      background-repeat: no-repeat;
    }

    .homepage-hero-card {
      height: 100%;
      border-radius: 8px;

      h4 {
        font-family: $secondary-font-bold;
        font-size: 24px;
      }

      .homepage-hero-card-tag {
        position: absolute;
        left: 0;
        top: 0;
        color: white;

        > b {
          font-family: $secondary-font-semi-bold;
          position: absolute;
          text-align: center;
          font-size: 14px;
          padding-top: 8px;
          left: 30px;
        }
      }
    }
  }
}

.physics-welcome-text {
  font-family: $secondary-font-bold;
  font-size: 24px;
}

.dashboard {
  background-color: white;
  padding: 50px 30px;
  margin: 5px 0px;
}

$dashboard-panel-size: 120px;
$dashboard-panel-padding: 30px;

@container streak-panel (min-width: 432px) {
  div.dashboard-panel {
    min-height: calc($dashboard-panel-size + 2 * $dashboard-panel-padding);
    > * {
      max-width: calc(100% - $dashboard-panel-size - $dashboard-panel-padding);
    }

    div.streak-panel-gauge {
      position: absolute;
      top: 0;
      right: 0;
      margin: $dashboard-panel-padding;
    }
  }
}

.panel-streak {
  container: streak-panel / inline-size;
}

.dashboard-panel {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: $color-neutral-50;
  border: 2px solid $color-neutral-200;
  border-radius: 8px;
  height: 100%;
  padding: $dashboard-panel-padding;

  h4 {
    color: $color-brand-700;
    font-size: 18px;
    font-family: $secondary-font-bold;
    padding-bottom: 10px;
  }

  .streak-text {
    color: $color-brand-700;
    font-weight: 600;
  }
  
  .panel-link {
    color: $color-neutral-800;
    width: max-content;
    background: transparent;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    padding-bottom: 10px;

    &:hover {
      text-decoration: none;
    }
  }

  .panel-my-isaac-link {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    padding-bottom: 10px;

    &:hover {
      text-decoration: underline;
    }
  }

  .streak-panel-gauge {
    display: inline-block;
    font-family: $secondary-font-semi-bold;
    width: $dashboard-panel-size;
    height: $dashboard-panel-size;
    > b {
      color: $color-brand-700;
      font-size: 32px;
      line-height: 32px;
      font-weight: 700;
    }
  }
}

a:has(.assignment-card) {
  text-decoration: none;
}

.assignment-card {
  border: 1.5px solid $color-neutral-300;
  text-decoration: none;
  border-radius: 8px;
  background-color: white;
  color: $color-neutral-700;
  font-size: 13px;
  padding: 10px;
  transition: all 0.2s ease-out;

  h5 {
    font-size: 17px;
    font-family: $secondary-font-semi-bold;
  }

  .overdue {
    color: $color-misc-red;
    font-weight: 600;
  }

  &:hover {
    scale: 1.02;
    border-color: $color-neutral-400;
  }
}
