@import "../common/icons";

.icon-help {
  display: inline-block;
  width: 19px;
  min-width: 19px;
  height: 22px;
  background: url(/assets/phy/ru.png) -308px -324px no-repeat;
  margin-bottom: -4px;
  margin-left: 8px;
  margin-right: 8px;
}
.icon-person-active {
  float: left;
  width: 9px;
  min-width: 9px;
  height: 14px;
  background: url(/assets/phy/ru.png) -296px -302px no-repeat;
  margin: 3px 10px 0 0;
}
.icon-person {
  float: left;
  width: 9px;
  min-width: 9px;
  height: 14px;
  background: url(/assets/phy/ru.png) -296px -316px no-repeat;
  margin: 0 10px 0 0;
}
.icon-group-table-person {
  float: left;
  width: 11px;
  min-width: 11px;
  height: 18px;
  background: url(/assets/phy/ru.png) -357px -320px no-repeat;
  margin: 8px 10px 0 0;
}
.icon-status {
  width: 46px;
  height: 46px;
  margin-top: -1px;
}

.icon-person-active,
.icon-person,
.icon-warning,
.icon-help,
.icon-group-table-person
{
  background-image: url(/assets/phy/ru.png) !important;
}

.icon-correct {
  background-image: url('/assets/phy/icons/redesign/status-correct.svg');
  width: 16px;
  height: 16px;
}

.icon-attempted {
  background-image: url('/assets/phy/icons/redesign/status-attempted.svg');
  width: 16px;
  height: 16px;
}

.icon-incorrect {
  background-image: url('/assets/phy/icons/redesign/status-incorrect.svg');
  width: 16px;
  height: 16px;
}

.icon-in-progress {
  background-image: url('/assets/phy/icons/redesign/status-in-progress.svg');
  width: 16px;
  height: 16px;
}

.icon-not-started {
  background-image: url('/assets/phy/icons/redesign/status-not-started.svg');
  width: 16px;
  height: 16px;
}

.icon-initials {
  // background hex
  @include svg-color(url("/assets/phy/icons/redesign/hexagon.svg"), $color-brand-400, 28px, 28px, 100%);
  opacity: 0.2;
  // initials text
  + * {
    position: absolute;
    font-size: 12px;
  }
}

.icon-menu {
  @include svg-icon('/assets/phy/icons/redesign/menu.svg', 16px, 16px, 14px 12px);
}

.icon-close {
  @include svg-icon('/assets/phy/icons/redesign/close.svg', 16px, 16px, 14px 12px);
}

.icon-cog {
  @include svg-icon('/assets/phy/icons/redesign/cog.svg', 16px, 16px);
}

.icon-hexagon {
  @include svg-icon('/assets/phy/icons/redesign/hexagon.svg', 16px, 16px, 12px);
}

.icon-my-isaac {
  @include svg-icon('/assets/phy/icons/redesign/my-isaac.svg', 28px, 28px);
}

.icon-search {
  @include svg-icon('/assets/phy/icons/redesign/search.svg', 16px, 16px);
}

.icon-flag {
  @include svg-icon('/assets/phy/icons/redesign/flag.svg', 16px, 16px);
}

.icon-print {
  @include svg-icon('/assets/phy/icons/redesign/print.svg', 16px, 16px);
}

.icon-share {
  @include svg-icon('/assets/phy/icons/redesign/share.svg', 16px, 16px);
}

.icon-refresh {
  @include svg-icon('/assets/phy/icons/redesign/refresh.svg', 16px, 16px);
}

.icon-sidebar {
  @include svg-icon('/assets/phy/icons/redesign/sidebar.svg', 16px, 16px);
}

.icon-arrow-right {
  @include svg-icon('/assets/phy/icons/redesign/arrow-right.svg', 16px, 16px);
}

.icon-arrow-down {
  @include svg-icon('/assets/phy/icons/redesign/arrow-right.svg', 16px, 16px);
  transform: rotate(90deg);
}

.icon-chevron-down {
  @include svg-icon('/assets/phy/icons/redesign/chevron-down.svg', 16px, 16px);
}

.icon-chevron-up {
  @include svg-icon('/assets/phy/icons/redesign/chevron-down.svg', 16px, 16px);
  transform: rotate(180deg);
}

.icon-question {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/page-question-fg.svg',
    '/assets/phy/icons/redesign/page-question-bg.svg',
    var(--icon-size), var(--icon-size), var(--mask-size, 60%)
  );
}

// "-thick" icons have a thicker internal stroke (and are shaped slightly differently to account); intended for use at small sizes (e.g. inline)
.icon-question-thick {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/page-question-thick-fg.svg', 
    '/assets/phy/icons/redesign/page-question-thick-bg.svg',
    var(--icon-size), var(--icon-size), var(--mask-size, 60%)
  );
}

.icon-concept {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/page-concept-fg.svg', 
    '/assets/phy/icons/redesign/page-concept-bg.svg',
    var(--icon-size), var(--icon-size), var(--mask-size, 55%), center 55%
    // the SVGs are correct, but visually top-heavy; the offset here shifts them down a little for better balance
  );
}

.icon-concept-thick {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/page-concept-thick-fg.svg', 
    '/assets/phy/icons/redesign/page-concept-thick-bg.svg',
    var(--icon-size), var(--icon-size), var(--mask-size, 55%), center 55%
  );
}

.icon-generic {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/page-generic-fg.svg', 
    '/assets/phy/icons/redesign/page-generic-bg.svg',
    var(--icon-size), var(--icon-size), var(--mask-size, 60%), 52% center
  );
}

.icon-question-deck {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/page-question-deck-fg.svg',
    '/assets/phy/icons/redesign/page-question-deck-bg.svg',
    var(--icon-size), var(--icon-size), var(--mask-size, 60%), center 45%
  );
}

.icon-finder {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/page-finder-fg.svg', 
    '/assets/phy/icons/redesign/page-finder-bg.svg',
    var(--icon-size), var(--icon-size), var(--mask-size, 57%)
  );
}

.icon-tests {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/page-tests-fg.svg', 
    '/assets/phy/icons/redesign/page-tests-bg.svg',
    var(--icon-size), var(--icon-size), var(--mask-size, 60%)
  );
}

.icon-quiz {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/page-quiz-fg.svg', 
    '/assets/phy/icons/redesign/page-quiz-bg.svg',
    var(--icon-size), var(--icon-size), var(--mask-size, 57%)
  );
}

.icon-revision {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/page-revision-fg.svg', 
    '/assets/phy/icons/redesign/page-revision-bg.svg',
    var(--icon-size), var(--icon-size), var(--mask-size, 60%)
  );
}

.icon-info {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/info-fg.svg',
    '/assets/phy/icons/redesign/info-bg.svg',
    var(--icon-size), var(--icon-size), var(--mask-size, 50%)
  );
}

.icon-events {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/page-event-fg.svg',
    '/assets/phy/icons/redesign/page-event-bg.svg',
    var(--icon-size), var(--icon-size), var(--mask-size, 63%)
  );
}

.icon-contact {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/page-contact-fg.svg', 
    '/assets/phy/icons/redesign/page-contact-bg.svg',
    var(--icon-size), var(--icon-size), var(--mask-size, 60%), 58% 53%
  );
}

.icon-group {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/page-group-fg.svg', 
    '/assets/phy/icons/redesign/page-group-bg.svg',
    var(--icon-size), var(--icon-size), var(--mask-size, 65%)
  );
}

.icon-account {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/page-account-fg.svg',
    '/assets/phy/icons/redesign/page-account-bg.svg',
    var(--icon-size), var(--icon-size), var(--mask-size, 63%)
);
}

.icon-progress {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/page-progress-fg.svg',
    '/assets/phy/icons/redesign/page-progress-bg.svg',
    var(--icon-size), var(--icon-size), var(--mask-size, 58%), 52% center
  );
}

.icon-news {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/page-news-fg.svg', 
    '/assets/phy/icons/redesign/page-news-bg.svg',
    var(--icon-size), var(--icon-size), var(--mask-size, 60%)
  );
}

.icon-error {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/page-error-fg.svg', 
    '/assets/phy/icons/redesign/page-error-bg.svg',
    var(--icon-size), var(--icon-size), var(--mask-size, 60%), center 43%
  );
}

.icon-mail {
  @include svg-icon(
    '/assets/phy/icons/redesign/page-mail.svg', 
    var(--icon-size), var(--icon-size), var(--mask-size, 60%), center 55%
  );
}

.icon-book {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/page-book-fg.svg',
    '/assets/phy/icons/redesign/page-book-bg.svg',
    var(--icon-size), var(--icon-size), var(--mask-size, 58%)
  )
}

svg {
  &.almost-fill {
    fill: $phy_extra_force_yellow;
  }

  &.correct-fill {
    fill: $phy_green;
  }
}

.btn.btn-keyline:hover > i.icon:not(.icon-raw), .btn.btn-tint:hover > i.icon:not(.icon-raw) {
  background-color: var(--icon-hover);

  &::after {
    background-color: var(--icon-hover);
  }
}

.phy-hex-icon {
  // this is essentially an .icon, but needs different colouring; override size as needed with icon-lg, icon-xl, etc.
  @include svg-color(url("/assets/phy/icons/redesign/hexagon.svg"), var(--subject-color-200), var(--icon-size, 75px), var(--icon-size, 75px), 100%);
  position: absolute;
}

// Overrides -- ONLY use these on an individual basis to override an active theme.
// Setting `data-bs-theme` on a parent element is the much preferred approach.

// These are !important by the same logic as Bootstrap classes; if you have specified this as an explicit classname, you want it to take precedence.

// the default icon colour for `neutral` is $color-theme-500 (green), but we use black icons in a few places across e.g. navigation

i.icon.icon-color-black {
  @include icon-color-override($color-neutral-900);
}

i.icon.icon-color-grey {
  @include icon-color-override($color-neutral-500);
}

i.icon.icon-color-white {
  @include icon-color-override($color-neutral-white);
}
