@import "../common/icons";

.icon-help {
  display: inline-block;
  width: 19px;
  min-width: 19px;
  height: 22px;
  background: url(/assets/phy/ru.png) -308px -324px no-repeat;
  margin-bottom: -4px;
  margin-left: 8px;
  margin-right: 8px;
}
.icon-person-active {
  float: left;
  width: 9px;
  min-width: 9px;
  height: 14px;
  background: url(/assets/phy/ru.png) -296px -302px no-repeat;
  margin: 3px 10px 0 0;
}
.icon-person {
  float: left;
  width: 9px;
  min-width: 9px;
  height: 14px;
  background: url(/assets/phy/ru.png) -296px -316px no-repeat;
  margin: 0 10px 0 0;
}
.icon-group {
  float: left;
  width: 23px;
  min-width: 23px;
  height: 19px;
  background: url(/assets/phy/ru.png) -330px -321px no-repeat;
  margin: 10px 10px 10px 0;
}
.icon-group-table-person {
  float: left;
  width: 11px;
  min-width: 11px;
  height: 18px;
  background: url(/assets/phy/ru.png) -357px -320px no-repeat;
  margin: 8px 10px 0 0;
}
.icon-status {
  width: 46;
  margin-top: -1px;
}

.icon-person-active,
.icon-person,
.icon-warning,
.icon-help,
.icon-group,
.icon-group-table-person
{
  background-image: url(/assets/phy/ru.png) !important;
}

.icon-correct {
  background-image: url('/assets/phy/icons/redesign/status-correct.svg');
  width: 16px;
  height: 16px;
}

.icon-incorrect {
  background-image: url('/assets/phy/icons/redesign/status-incorrect.svg');
  width: 16px;
  height: 16px;
}

.icon-in-progress {
  background-image: url('/assets/phy/icons/redesign/status-in-progress.svg');
  width: 16px;
  height: 16px;
}

.icon-not-started {
  background-image: url('/assets/phy/icons/redesign/status-not-started.svg');
  width: 16px;
  height: 16px;
}

.icon-menu {
  @include svg-icon('/assets/phy/icons/redesign/menu.svg', 16px, 16px, 14px 12px);
}

.icon-close {
  @include svg-icon('/assets/phy/icons/redesign/close.svg', 16px, 16px, 14px 12px);
}

.icon-cog {
  @include svg-icon('/assets/phy/icons/redesign/cog.svg', 16px, 16px);
}

.icon-hexagon {
  @include svg-icon('/assets/phy/icons/redesign/hexagon.svg', 16px, 16px, 12px);
}

.icon-my-isaac {
  @include svg-icon('/assets/phy/icons/redesign/my-isaac.svg', 28px, 28px);
}

.icon-search {
  @include svg-icon('/assets/phy/icons/redesign/search.svg', 16px, 16px);
}

.icon-info {
  @include svg-icon('/assets/phy/icons/redesign/info.svg', 16px, 16px);
}

.icon-flag {
  @include svg-icon('/assets/phy/icons/redesign/flag.svg', 16px, 16px);
}

.icon-print {
  @include svg-icon('/assets/phy/icons/redesign/print.svg', 16px, 16px);
}

.icon-share {
  @include svg-icon('/assets/phy/icons/redesign/share.svg', 16px, 16px);
}

.icon-sidebar {
  @include svg-icon('/assets/phy/icons/redesign/sidebar.svg', 16px, 16px);
}

.icon-right {
  @include svg-icon('/assets/phy/icons/redesign/arrow-right.svg', 16px, 16px);
}

.icon-chevron-down {
  @include svg-icon('/assets/phy/icons/redesign/chevron-down.svg', 16px, 16px);
}

.icon-chevron-up {
  @include svg-icon('/assets/phy/icons/redesign/chevron-down.svg', 16px, 16px);
  transform: rotate(180deg);
}

.icon-question-pack {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/question-pack-fg.svg',
    '/assets/phy/icons/redesign/question-pack-bg.svg',
    16px, 16px
  );
}

.icon-lightbulb {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/page-concept-fg.svg', 
    '/assets/phy/icons/redesign/page-concept-bg.svg',
    16px, 16px
  );
}

.icon-question {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/question-fg.svg', 
    '/assets/phy/icons/redesign/question-bg.svg',
    16px, 16px
  );
}

.page-icon-question {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/page-question-fg.svg', 
    '/assets/phy/icons/redesign/page-generic-bg.svg',
    75px, 75px, 44px
  );
}

.page-icon-concept {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/page-concept-fg.svg', 
    '/assets/phy/icons/redesign/page-concept-bg.svg',
    75px, 75px, 40px, center 19px
    // the SVGs are correct, but visually top-heavy; the offset here shifts them down a little for better balance
  );
}

.page-icon-question-pack {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/question-pack-fg.svg',
    '/assets/phy/icons/redesign/question-pack-bg.svg',
    75px, 75px, 44px
  );
}

.page-icon-finder {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/page-finder-fg.svg', 
    '/assets/phy/icons/redesign/page-finder-bg.svg',
    75px, 75px, 44px
  );
}

.page-icon-lessons {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/page-lessons-fg.svg', 
    '/assets/phy/icons/redesign/page-lessons-bg.svg',
    75px, 75px, 44px
  );
}

.page-icon-events {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/page-event-fg.svg',
    '/assets/phy/icons/redesign/page-event-bg.svg',
    75px, 75px, 44px
  )
}

.page-icon-account {
  @include svg-icon(
    '/assets/phy/icons/redesign/my-isaac.svg', 
    75px, 75px, 44px // no background - generic hex background clashes with foreground hex
  );
}

.list-icon-question {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/page-question-fg.svg', 
    '/assets/phy/icons/redesign/page-generic-bg.svg',
    60px, 60px, 36px
  );
}

.list-icon-concept {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/page-concept-fg.svg', 
    '/assets/phy/icons/redesign/page-concept-bg.svg',
    60px, 60px, 36px, center 15px
    // the SVGs are correct, but visually top-heavy; the offset here shifts them down a little for better balance
  );
}

.list-icon-lessons {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/page-lessons-fg.svg', 
    '/assets/phy/icons/redesign/page-lessons-bg.svg',
    60px, 60px, 36px
  );
}

.list-icon-events {
  @include svg-icon-layered(
    '/assets/phy/icons/redesign/page-event-fg.svg',
    '/assets/phy/icons/redesign/page-event-bg.svg',
    60px, 60px, 36px
  )
}


svg {
  &.almost-fill {
    fill: $phy_extra_force_yellow;
  }

  &.correct-fill {
    fill: $phy_green;
  }
}

// Overrides -- ONLY use these on an individual basis to override an active theme.
// Setting `data-bs-theme` on a parent element is the much preferred approach.

// These are !important by the same logic as Bootstrap classes; if you have specified this as an explicit classname, you want it to take precedence.

// the default icon colour for `neutral` is $color-theme-500 (green), but we use black icons in a few places across e.g. navigation
i.icon.icon-color-black {
  background-color: $color-neutral-900 !important;
}

i.icon.icon-color-grey {
  background-color: $color-neutral-500 !important;
}
