@import "../common/inequality-modal.scss";

#inequality-modal {
    .beta-badge {
        background: $phy_purple;
    }

    .inequality-ui {
        &.button {
            &.confirm {
                background-image: url('/assets/inequality-confirm-phy.svg');
            }
            &.centre {
                background-image: url('/assets/inequality-centre-phy.svg');
            }
        }

        &.katex-preview {
            border: 1px solid $phy_green;
        }

        &.menu-bar {
            background: $phy_green;

            div.top-menu {
                &.numbers {
                    & > div {
                        &.input-box {
                            .menu-item {
                                svg.v-hexagon {
                                    stroke: darken($phy_green, 10%);
                                }
                            }
                        }

                        &.keypad-box {
                            .key {
                                svg.v-hexagon {
                                    stroke: darken($phy_green, 10%);
                                }
                            }
                        }
                    }
                }

                ul {
                    background: darken($phy_green, 20%);

                    li {
                        &.active {
                            background: $phy_green;
                        }

                        svg.v-hexagon {
                            stroke: darken($phy_green, 10%);
                        }
                    }

                    &.sub-menu {
                        background: $phy_green;
                    }
                }

                .sub-menu-tabs {
                    li {
                        &.inactive {
                            svg.v-hexagon {
                                fill: $phy_green;
                            }
                        }
                    }
                }
            }
        }

        .menu-tabs {
            ul {
                li {
                    &.active {
                        color: white;
                        background: $phy_green;

                        svg.tab-triangle {
                            fill: $phy_green;
                        }
                    }
                }
            }
        }
    }
}