// NOMENSA variables.scss
// Physics colours
$phy_green: #509e2e;
$a11y_green: #448525;
$phy_orangered: #ef3e36;
$a11y_orangered: #e22e25;
$phy_blue: #009acd;
$a11y_blue: #007fa9;
$phy_purple: #944cbe;
$phy_burgundy: #991846;
$phy_chemistry: $a11y_orangered;
$phy_biology: #005210;
$phy_maths: $a11y_blue;
$phy_physics: $phy_purple;
$phy_extra_force_yellow: #fea100;

// Colour Overrides
$purple: #9148bc;
$cyan: #0f8294;
$green: #208838;

//Custom Colours
$focus-blue: #3E59A3; // Used as focus indicator colour on inputs

//Colours
$primary: $a11y_green;
$secondary: $a11y_green;

// Inequality colours
$inequality-primary: $primary;
$inequality-stroke: darken($inequality-primary, 10%);
$inequality-background: darken($inequality-primary, 20%);
$inequality-item-colour: white;
$inequality-item-font-colour: black;

//Greys
$gray-103: #f8f8f8;
$gray-107: #ececec;
$gray-110: #e7e7e7;
$gray-118: #d2d2d2;
$gray-120: #c9cad1;
$gray-136: #a3a3a3;
$gray-142: #949494;
$gray-160: #666;
$gray-194: #0f0f0f;

$gray-blue: #636c73;

// Assignment progress colours
$default-name-fill: #888;
$perfect-fill: $green;
$passed-fill: #2C2C2C;
$in-progress-fill: #555;
$failed-fill: #C2423F;

// Shadows
$shadow-3: rgba(0, 0, 0, 0.3);
$shadow-25: rgba(0, 0, 0, 0.25);
$shadow-08: rgba(0, 0, 0, 0.08);
$shadow-black: rgb(0, 0, 0);


// Button sizing
$input-btn-padding-y-lg: 0.5rem;
$input-btn-padding-x-lg: 3rem;
$border-radius-lg: 0.25rem;

// fonts
$primary-font: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$secondary-font: 'exo_2regular', sans-serif;
$secondary-font-bold: 'exo_2bold', sans-serif;
$secondary-font-semi-bold: 'exo_2semi_bold', sans-serif;
$secondary-font-medium: 'exo_2medium', sans-serif;
$tertiary-font: 'arconrounded-regular', sans-serif;

$question-line-height: 1.6;
$question-padding: 3rem;
$question-font-size: 1.25rem;
$question-font-weight: 600;

// forms
$border-color: black;

$enable-negative-margins: true;

// ISAAC
// Node module imports
@import "~bootstrap/scss/functions";

// all Bootstrap !default overrides must appear before this; anything that uses the defaults must come after
@import "~bootstrap/scss/variables"; 

// borders
$table-border-color: $gray-107;
$table-bg: #0000; // This gets in the way of our colouring
$border-color: #dee2e6;

// Grid Customisation
$container-max-widths: (
    md: 942px
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  // xxl: 1400px // we don't need xxl
);

$element-sizes: (
    5: 5%, 
    10: 10%,
    20: 20%,
    30: 30%,
    40: 40%,
    50: 50%,
    60: 60%,
    70: 70%,
    80: 80%,
    90: 90%,
);

$spacer: 1rem !default;
$spacers: map-merge($spacers, ( // Special Bootstrap variable that is used to generate spacing classes (e.g. pd-md-6)
    6: ($spacer * 6.25) // 100px-ish
));

// Theme colours
$theme-colour-overrides: (
    physics: $phy_purple,
    maths: $phy_maths,
    chemistry: $phy_chemistry,
    biology: $phy_biology,

    success: #208838,
    in-progress: #fe8e15,
    failed: #dc3545,
);
$theme-colors: map-merge($theme-colors, $theme-colour-overrides);

@import "~bootstrap/scss/bootstrap-utilities"; 

$custom-colors-text: (
    physics: $phy_purple,
    maths: $phy_maths,
    chemistry: $phy_chemistry,
    biology: $phy_biology,
);
$custom-colors-bg-subtle: (
    physics: tint-color($phy_purple, 80%),
    maths: tint-color($phy_maths, 80%),
    chemistry: tint-color($phy_chemistry, 80%),
    biology: tint-color($phy_biology, 80%),
);
$custom-colors-border-subtle: (
    physics: tint-color($phy_purple, 60%),
    maths: tint-color($phy_maths, 60%),
    chemistry: tint-color($phy_chemistry, 60%),
    biology: tint-color($phy_biology, 60%),
);

$theme-colors-text: map-merge($theme-colors-text, $custom-colors-text);
$theme-colors-bg-subtle: map-merge($theme-colors-bg-subtle, $custom-colors-bg-subtle);
$theme-colors-border-subtle: map-merge($theme-colors-border-subtle, $custom-colors-border-subtle);

// all Bootstrap overrides must appear before this
@import "~bootstrap/scss/bootstrap"; 
@import "~katex/dist/katex.min.css";
@import "~bootstrap-block-grid/dist/bootstrap4-block-grid.min.css";
@import "~billboard.js/dist/theme/insight.css";
@import "~leaflet/dist/leaflet.css";

@import "../common/isaac";

// Utility
@import "../common/mixins";
@import "../common/_utils";

// Atoms
@import "fonts";
@import "typography";
@import "table";
@import "../common/headings";
@import "../common/modals";
@import "forms";
@import "../common/elements";
@import "../common/breadcrumbs";
@import "../common/media";
@import "../common/cookies";
@import "../common/tabs";
@import "../common/cards";
@import "../common/graph-sketcher-modal";
@import "../common/carousel";
@import "../common/checkbox";
@import "../common/toggle";
@import "boards";
@import "../common/focus";
@import "../common/anvil";
@import "../common/reservation-modal";
@import "accordions";
@import "list-groups";
@import "filter";
@import "inequality-modal";
@import "questions";
@import "progress-bar";
@import "icons";
@import "hints";
@import "related-content";
@import "button";
@import "logo";
@import "cards";
@import "featured-profile";
@import "../common/code";

// Navigation
@import "../common/navigation-bar";
@import "footer";
@import "header";
@import "../common/scroll-button";

// Pages
@import "subjects";
@import "../common/pages";
@import "homepage";
@import "../common/login";
@import "../common/registration";
@import "../common/assignments";
@import "my-account";
@import "../common/topic";
@import "search";
@import "finder";
@import "../common/my-progress";
@import "gameboard";
@import "groups";
@import "../common/events";
@import "../common/fasttrack";
@import "../common/scroll";
@import "assignment-progress";
@import "books";
@import "menu-page-phy";
@import "quiz";
@import "glossary";

@import "expansion-layout";
@import "../common/callout";


// Print
@import "../common/print";

a.disabled {
    color: $gray-600;
    pointer-events: none;
    cursor: default;
}

.list-group-item {
    border-width: 0;
    width: 100%;
}

p small {
    border: 0;
}

.bg-light-grey {
    > div {
        background: rgba(#f7f7f7, 0.9);
        position: relative;
        z-index: 1;
    }
}

body {
    color: $black;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.625;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
}

.content-body {
    background-image: linear-gradient(180deg, #f5f5f5, rgba(255,255,255,0)),url(/assets/phy/isaac-bg.jpg);
    background-repeat: repeat-x;
    background-position: bottom;
}

.content-body > .container {
    background-color: #f5f5f5;
    box-shadow: 0 0 200px 35px #f5f5f5;
}
