// NOMENSA variables.scss
// Physics colours
$phy_green: #509e2e;
$a11y_green: #448525;
$phy_orangered: #ef3e36;
$a11y_orangered: #e22e25;
$phy_blue: #009acd;
$a11y_blue: #007fa9;
$phy_purple: #944cbe;
$phy_burgundy: #991846;
$phy_chemistry: $a11y_orangered;
$phy_biology: #005210;
$phy_maths: $a11y_blue;
$phy_physics: $phy_purple;
$phy_extra_force_yellow: #fea100;

// Colour Overrides
$purple: #9148bc;
$cyan: #0f8294;
$green: #208838;

//Custom Colours
$focus-blue: #3E59A3; // Used as focus indicator colour on inputs

//Colours
$primary: $phy_extra_force_yellow;
$secondary: $a11y_green;
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary
);

// Grid Customisation
$container-max-widths: (
    md: 942px
);

//Greys
$gray-103: #f8f8f8;
$gray-107: #ececec;
$gray-110: #e7e7e7;
$gray-118: #d2d2d2;
$gray-120: #c9cad1;
$gray-136: #a3a3a3;
$gray-142: #949494;
$gray-160: #666;
$gray-194: #0f0f0f;

$gray-blue: #636c73;

// Shadows
$shadow-3: rgba(0, 0, 0, 0.3);
$shadow-25: rgba(0, 0, 0, 0.25);
$shadow-08: rgba(0, 0, 0, 0.08);
$shadow-black: rgb(0, 0, 0);


// Button sizing
$input-btn-padding-y-lg: 0.5rem;
$input-btn-padding-x-lg: 3rem;
$border-radius-lg: 0.25rem;

// fonts
$primary-font: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$secondary-font: 'exo_2regular', sans-serif;
$secondary-font-bold: 'exo_2bold', sans-serif;
$secondary-font-semi-bold: 'exo_2semi_bold', sans-serif;
$secondary-font-medium: 'exo_2medium', sans-serif;
$tertiary-font: 'arconrounded-regular', sans-serif;

// ISAAC
// Node module imports
@import "~bootstrap/scss/bootstrap";
@import "~katex/dist/katex.min.css";
@import "~bootstrap-block-grid/dist/bootstrap4-block-grid.min.css";
@import "~billboard.js/dist/theme/insight.css";
@import "~leaflet/dist/leaflet.css";

@import "../common/isaac";

// Utility
@import "preload";
@import "../common/mixins";
@import "../common/animations";

// Atoms
@import "../common/fonts";
@import "typography";
@import "../common/headings";
@import "../common/modals";
@import "../common/forms";
@import "../common/elements";
@import "../common/breadcrumbs";
@import "../common/media";
@import "../common/tabs";
@import "../common/accordions";
@import "../common/cards";
@import "../common/inequality-modal";
@import "../common/graph-sketcher-modal";
@import "../common/carousel";
@import "../common/boards";
@import "../common/focus";
@import "../common/anvil";
@import "../common/reservation-modal";
@import "list-groups";
@import "filter";
@import "inequality-modal";
@import "questions";
@import "progress-bar";
@import "icons";
@import "hints";
@import "related-content";
@import "button";
@import "logo";
@import "cards";
@import "featured-profile";
@import "../common/code";

// Navigation
@import "../common/navigation-bar";
@import "footer";
@import "header";

// Pages
@import "subjects";
@import "../common/pages";
@import "homepage";
@import "../common/login";
@import "../common/registration";
@import "../common/my-account";
@import "../common/topic";
@import "../common/search";
@import "../common/my-progress";
@import "../common/gameboard";
@import "../common/groups";
@import "../common/events";
@import "../common/fasttrack";
@import "../common/scroll";
@import "assignment-progress";
@import "books";
@import "gameboard";
@import "menu-page-phy";
@import "../common/quiz";

@import "../common/glossary";

@import "parsons-layout";
@import "../common/callout";


// Print
@import "../common/print";

a.disabled {
    color: $gray-600;
    pointer-events: none;
    cursor: default;
}

.list-group-item {
    border-width: 0;
    width: 100%;
}

p small {
    border: 0;
}

.bg-light-grey {
    > div {
        background: rgba(#f7f7f7, 0.9);
        position: relative;
        z-index: 1;
    }
}

// Double class to give this more specificity
.katex.katex {
    font-size: 1.1em;
    white-space: nowrap !important;
    overflow-x: auto;
    overflow-y: hidden;
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

body {
    color: $black;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.625;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
}

.content-body {
    background-image: linear-gradient(180deg, #f5f5f5, rgba(255,255,255,0)),url(/assets/phy/isaac-bg.jpg);
    background-repeat: repeat-x;
    background-position: bottom;
}

.footer-links {
    &.footer-links-social {
        background-image: none;
    }
}
.footerLogo {
    margin-top: -0.55px;
}
