// NOMENSA variables.scss
// Physics colours
$phy_green: #509e2e;
$a11y_green: #448525;
$phy_orangered: #ef3e36;
$a11y_orangered: #e22e25;
$phy_blue: #009acd;
$a11y_blue: #007fa9;
$phy_purple: #944cbe;
$phy_burgundy: #991846;
$phy_chemistry: $a11y_orangered;
$phy_biology: #005210;
$phy_maths: $a11y_blue;
$phy_physics: $phy_purple;
$phy_extra_force_yellow: #fea100;

// Colour Overrides
$purple: #9148bc;
$cyan: #0f8294;
$green: #208838;

//Custom Colours
$focus-blue: #3E59A3; // Used as focus indicator colour on inputs

//Colours
$primary: $a11y_green;
$secondary: $a11y_green;

// Inequality colours
$inequality-primary: $primary;
$inequality-stroke: darken($inequality-primary, 10%);
$inequality-background: darken($inequality-primary, 20%);
$inequality-item-colour: white;
$inequality-item-font-colour: black;

//Greys
$gray-103: #f8f8f8;
$gray-107: #ececec;
$gray-110: #e7e7e7;
$gray-118: #d2d2d2;
$gray-120: #c9cad1;
$gray-136: #a3a3a3;
$gray-142: #949494;
$gray-160: #666;
$gray-194: #0f0f0f;

$gray-blue: #636c73;

// Assignment progress colours
$default-name-fill: #888;
$perfect-fill: $green;
$passed-fill: #2C2C2C;
$in-progress-fill: #555;
$failed-fill: #C2423F;
$fully-attempted-fill: $phy_extra_force_yellow;

// Shadows
$shadow-3: rgba(0, 0, 0, 0.3);
$shadow-25: rgba(0, 0, 0, 0.25);
$shadow-08: rgba(0, 0, 0, 0.08);
$shadow-black: rgb(0, 0, 0);


// Button sizing
$input-btn-padding-y-lg: 0.5rem;
$input-btn-padding-x-lg: 3rem;

// fonts
$primary-font: 'hanken-grotesk', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$secondary-font: 'exo-2', sans-serif;
$tertiary-font: 'arconrounded-regular', sans-serif;

$question-line-height: 1.6;
$question-padding: 3rem;
$question-font-size: 1.125rem;
$question-font-weight: 600;

// forms

$enable-negative-margins: true;

// TODO: remove above

$color-palettes: (
  "biology", "chemistry", "maths", "physics", "neutral"
);

/* Fluent primitives */
$color-brand-400: #4e9934;
$color-brand-500: #3a8621;
$color-brand-700: #1a6600;
$color-brand-800: #143a04;
$color-brand-900: #100c08;

$color-biology-50: #f3f8f4;
$color-biology-100: #d7e7da;
$color-biology-200: #bbd6c0;
$color-biology-300: #83b48d;
$color-biology-400: #4a9259;
$color-biology-500: #127025;
$color-biology-600: #09691d;
$color-biology-700: #006214;
$color-biology-800: #005411;
$color-biology-900: #00450e;

$color-chemistry-50: #fbf4f7;
$color-chemistry-100: #f3dae6;
$color-chemistry-200: #eac0d5;
$color-chemistry-300: #d98cb2;
$color-chemistry-400: #c85790;
$color-chemistry-500: #b7236d;
$color-chemistry-600: #ae1260;
$color-chemistry-700: #a40153;
$color-chemistry-800: #880848;
$color-chemistry-900: #6b0f3d;

$color-maths-50: #f2f8fa;
$color-maths-100: #d4e8ef;
$color-maths-200: #b6d7e3;
$color-maths-300: #79b7cb;
$color-maths-400: #3d96b4;
$color-maths-500: #00759c;
$color-maths-600: #00688a;
$color-maths-700: #005a78;
$color-maths-800: #004e68;
$color-maths-900: #004157;

$color-physics-50: #faf6fc;
$color-physics-100: #eee1f5;
$color-physics-200: #e1cced;
$color-physics-300: #c7a1dd;
$color-physics-400: #ae77ce;
$color-physics-500: #944cbe;
$color-physics-600: #873fb1;
$color-physics-700: #7932a3;
$color-physics-800: #69298f;
$color-physics-900: #581f7a;

$color-neutral-white: #ffffff;
$color-neutral-50: #faf9f5;
$color-neutral-100: #f2f1ed;
$color-neutral-200: #e6e5e1;
$color-neutral-300: #bebebe;
$color-neutral-400: #908f94;
$color-neutral-500: #6f6f78;
$color-neutral-600: #62626d;
$color-neutral-700: #545461;
$color-neutral-800: #3c3e47;
$color-neutral-900: #23272c;

$color-misc-orange-50: #f9efe8;
$color-misc-orange-300: #fea102;
$color-misc-orange-500: #bd5a00;
$color-misc-orange-600: #aa5100;

$color-misc-navy: #001f47;
$color-misc-red: #b40c0c;
$color-misc-pale-yellow: #f9fdd5;
$color-misc-correct: #ecf7e9;
$color-misc-llm: #eeffff;

$color-wildcard-orange: #ff7800;

$isaac-color-palettes: (
  // brand is excluded as there are no pages with the "brand" colour scheme;
  // it is used exclusively for styling individual components
  "neutral": (
    "white": $color-neutral-white,
    50: $color-neutral-50,
    100: $color-neutral-100,
    200: $color-neutral-200,
    300: $color-neutral-300,
    400: $color-neutral-400,
    500: $color-neutral-500,
    600: $color-neutral-600,
    700: $color-neutral-700,
    800: $color-neutral-800,
    900: $color-neutral-900
  ),
  "biology": (
    50: $color-biology-50,
    100: $color-biology-100,
    200: $color-biology-200,
    300: $color-biology-300,
    400: $color-biology-400,
    500: $color-biology-500,
    600: $color-biology-600,
    700: $color-biology-700,
    800: $color-biology-800,
    900: $color-biology-900
  ),
  "chemistry": (
    50: $color-chemistry-50,
    100: $color-chemistry-100,
    200: $color-chemistry-200,
    300: $color-chemistry-300,
    400: $color-chemistry-400,
    500: $color-chemistry-500,
    600: $color-chemistry-600,
    700: $color-chemistry-700,
    800: $color-chemistry-800,
    900: $color-chemistry-900
  ),
  "maths": (
    50: $color-maths-50,
    100: $color-maths-100,
    200: $color-maths-200,
    300: $color-maths-300,
    400: $color-maths-400,
    500: $color-maths-500,
    600: $color-maths-600,
    700: $color-maths-700,
    800: $color-maths-800,
    900: $color-maths-900
  ),
  "physics": (
    50: $color-physics-50,
    100: $color-physics-100,
    200: $color-physics-200,
    300: $color-physics-300,
    400: $color-physics-400,
    500: $color-physics-500,
    600: $color-physics-600,
    700: $color-physics-700,
    800: $color-physics-800,
    900: $color-physics-900
  )
);

/* constants */
$figure-drop-zone-placeholder-size: 24px;

/* fonts */
// TODO: the mapping from Figma to CSS font weights is not precise, cross-check these against designs when more pages are ready
$typography-font-weights-headings-bold: 700;
$typography-font-weights-headings-light: 300;
$typography-font-weights-headings-regular: 400;
$typography-font-weights-headings-semibold: 600;
$typography-font-weights-text-bold: 700;
$typography-font-weights-text-light: 300;
$typography-font-weights-text-regular: 400;
$typography-font-weights-text-semibold: 600;

// Bootstrap

// functions and variables are imported first to provide functions and !default values
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// any overrides to Bootstrap variables must appear here

$spacer: 1rem !default;
$spacers: map-merge($spacers, ( // Special Bootstrap variable that is used to generate spacing classes (e.g. pd-md-6)
    5: ($spacer * 2),
    6: ($spacer * 2.5),
    7: ($spacer * 3),
    8: ($spacer * 3.5),
    9: ($spacer * 4),
));

// Theme colours
$theme-colour-overrides: (
    physics: $color-physics-500,
    maths: $color-maths-500,
    chemistry: $color-chemistry-500,
    biology: $color-biology-500,
    neutral: $color-neutral-500,
    
    neutral-light: $color-neutral-100,
    correct: $color-misc-correct,

    // these are intended for "action states", e.g. event status, not question feedback
    success: #208838,
    in-progress: #fe8e15,
    failed: #dc3545,
);
$theme-colors: map-merge($theme-colors, $theme-colour-overrides);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$element-sizes: (
    5: 5%, 
    10: 10%,
    20: 20%,
    30: 30%,
    40: 40%,
    50: 50%,
    60: 60%,
    70: 70%,
    80: 80%,
    90: 90%,
);

// Grid Customisation
$container-max-widths: (
    xl: 100%,
);

$enable-negative-margins: true;

$border-color: $color-neutral-200;
$border-width: 1px;
$border-color-translucent: rgba(0, 0, 0, 0.1);

$table-border-color: $gray-107;
$table-bg: #0000; // This gets in the way of our colouring

$card-border-radius: 1rem;
$card-inner-border-radius: 1rem;

$accordion-icon-width: 1.125rem;

$dropdown-link-hover-bg: $color-neutral-50;
$dropdown-link-active-bg: var(--subject-color-200, $color-neutral-200);
$dropdown-link-active-color: inherit;

$input-border-radius: 0.5rem;

$tooltip-bg: rgba($color-neutral-700, 0.98);
$tooltip-opacity: 1;
$tooltip-padding-x: 0.6rem;
$tooltip-padding-y: 0.6rem;
$tooltip-max-width: 370px;

$badge-font-weight: $font-weight-medium;

@import "bootstrap/scss/maps";

$custom-colors-text: (
    physics: $phy_purple,
    maths: $phy_maths,
    chemistry: $phy_chemistry,
    biology: $phy_biology,
);
$custom-colors-bg-subtle: (
    physics: tint-color($phy_purple, 80%),
    maths: tint-color($phy_maths, 80%),
    chemistry: tint-color($phy_chemistry, 80%),
    biology: tint-color($phy_biology, 80%),
);
$custom-colors-border-subtle: (
    physics: tint-color($phy_purple, 60%),
    maths: tint-color($phy_maths, 60%),
    chemistry: tint-color($phy_chemistry, 60%),
    biology: tint-color($phy_biology, 60%),
);

$theme-colors-text: map-merge($theme-colors-text, $custom-colors-text);
$theme-colors-bg-subtle: map-merge($theme-colors-bg-subtle, $custom-colors-bg-subtle);
$theme-colors-border-subtle: map-merge($theme-colors-border-subtle, $custom-colors-border-subtle);

// all Bootstrap overrides must appear before this
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "../common/bootstrap-contents";
// See https://getbootstrap.com/docs/5.3/customize/sass/#importing; using Option A ("@import "bootstrap/scss/bootstrap";") is not feasible as we need the default overrides above.
// Instead, import contents of bootstrap/scss/bootstrap.scss manually *without the utilities imports*.

// Node module imports

@import "katex/dist/katex.min.css";
@import "bootstrap-block-grid/dist/bootstrap4-block-grid.min.css";
@import "billboard.js/dist/theme/insight.css";
@import "leaflet/dist/leaflet.css";

@import "../common/isaac";

// Utility
@import "../common/mixins";
@import "../common/_utils";
@import "../common/transitions";

// theming
@import "color-theme";
@import "../common/accessibility";

// Atoms
@import "fonts";
@import "typography";
@import "containers";
@import "page-title";
@import "sidebar";
@import "table";
@import "../common/headings";
@import "modals";
@import "forms";
@import "elements";
@import "breadcrumbs";
@import "../common/media";
@import "../common/cookies";
@import "tabs";
@import "../common/cards";
@import "../common/graph-sketcher-modal";
@import "../common/carousel";
@import "../common/toggle";
@import "tooltip";
@import "boards";
@import "../common/focus";
@import "../common/anvil";
@import "../common/reservation-modal";
@import "accordions";
@import "list-groups";
@import "filter";
@import "inequality-modal";
@import "questions";
@import "progress-bar";
@import "icons";
@import "hints";
@import "related-content";
@import "button";
@import "logo";
@import "cards";
@import "checkbox";
@import "featured-profile";
@import "metadata-container";
@import "../common/code";

// Navigation
@import "footer";
@import "header";
@import "../common/scroll-button";

// Pages
@import "../common/pages";
@import "homepage";
@import "../common/login";
@import "../common/registration";
@import "../common/assignments";
@import "my-account";
@import "../common/topic";
@import "search";
@import "my-progress";
@import "gameboard";
@import "groups";
@import "events";
@import "../common/fasttrack";
@import "llm-questions";
@import "scroll";
@import "assignments";
@import "assignment-progress";
@import "books";
@import "menu-page-phy";
@import "quiz";
@import "glossary";
@import "stats";

@import "expansion-layout";
@import "../common/callout";


// Print
@import "../common/print";

a.disabled {
    color: $gray-600;
    pointer-events: none;
    cursor: default;
}

p small {
    border: 0;
}

.bg-light-grey {
    > div {
        background: rgba(#f7f7f7, 0.9);
        position: relative;
        z-index: 1;
    }
}

body {
    color: $black;
    font-family: $primary-font;
    line-height: 1.625;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
}

.content-body {
  @include no-print {
    background-color: $color-neutral-50;
  }
  
  > .container {
    @include no-print {
      background-color: $color-neutral-50;
    }
  }
}
