@use "sass:color";

$color-palettes: (
  "biology", "chemistry", "maths", "physics", "neutral"
);

/* Fluent primitives */
$color-brand-300: #5ebc3f;
$color-brand-400: #4e9934;
$color-brand-500: #3a8621;
$color-brand-700: #1a6600;
$color-brand-800: #143a04;
$color-brand-900: #100c08;

$color-biology-50: #f3f8f4;
$color-biology-100: #d7e7da;
$color-biology-200: #bbd6c0;
$color-biology-300: #83b48d;
$color-biology-400: #4a9259;
$color-biology-500: #127025;
$color-biology-600: #09691d;
$color-biology-700: #006214;
$color-biology-800: #005411;
$color-biology-900: #00450e;

$color-chemistry-50: #fbf4f7;
$color-chemistry-100: #f3dae6;
$color-chemistry-200: #eac0d5;
$color-chemistry-300: #d98cb2;
$color-chemistry-400: #c85790;
$color-chemistry-500: #b7236d;
$color-chemistry-600: #ae1260;
$color-chemistry-700: #a40153;
$color-chemistry-800: #880848;
$color-chemistry-900: #6b0f3d;

$color-maths-50: #f2f8fa;
$color-maths-100: #d4e8ef;
$color-maths-200: #b6d7e3;
$color-maths-300: #79b7cb;
$color-maths-400: #3d96b4;
$color-maths-500: #00759c;
$color-maths-600: #00688a;
$color-maths-700: #005a78;
$color-maths-800: #004e68;
$color-maths-900: #004157;

$color-physics-50: #faf6fc;
$color-physics-100: #eee1f5;
$color-physics-200: #e1cced;
$color-physics-300: #c7a1dd;
$color-physics-400: #ae77ce;
$color-physics-500: #944cbe;
$color-physics-600: #873fb1;
$color-physics-700: #7932a3;
$color-physics-800: #69298f;
$color-physics-900: #581f7a;

$color-neutral-white: #ffffff;
$color-neutral-50: #faf9f5;
$color-neutral-100: #f2f1ed;
$color-neutral-200: #e6e5e1;
$color-neutral-300: #bebebe;
$color-neutral-400: #908f94;
$color-neutral-500: #6f6f78;
$color-neutral-600: #62626d;
$color-neutral-700: #545461;
$color-neutral-800: #3c3e47;
$color-neutral-900: #23272c;

$color-misc-orange-50: #f9efe8;
$color-misc-orange-300: #fea102;
$color-misc-orange-500: #bd5a00;
$color-misc-orange-600: #aa5100;

$color-misc-navy: #001f47;
$color-misc-red: #b40c0c;
$color-misc-pale-yellow: #f9fdd5;
$color-misc-correct: #ecf7e9;
$color-misc-llm: #eeffff;

$light-misc-palette: (
  "orange-50": $color-misc-orange-50,
  "orange-300": $color-misc-orange-300,
  "orange-500": $color-misc-orange-500,
  "orange-600": $color-misc-orange-600,
  "navy": $color-misc-navy,
  "red": $color-misc-red,
  "pale-yellow": $color-misc-pale-yellow,
  "correct": $color-misc-correct,
  "llm": $color-misc-llm
);

$color-wildcard-orange: #ff7800;

// DARK MODE
// these are *not* simply inversions from the light mode colours (e.g. swap 50-900, 100-800, etc); in light mode, the lower values (subject-50, subject-100)
// are usually very close to white but the higher ones (subject-800, subject-900) are surprisingly far from black. 
// inverting, therefore, leaves us in a situation where many background colours (esp. xx-50) are far too saturated and deep for what they are used for.

// we start with neutral. neutral is unique in that the hue changes throughout the palette,from a yellow tint (at lightest) to a blue tint (at darkest).
// all the other subject colours use the same (+-2) hue.

$color-neutral-dark-white: #181a1b;
$color-neutral-dark-50: #1f252a;
$color-neutral-dark-100: #2d3135;
$color-neutral-dark-200: #3a3e42;
$color-neutral-dark-300: #4a4e52;
$color-neutral-dark-400: #62626d;
$color-neutral-dark-500: #908f94;
$color-neutral-dark-600: #bebebe;
$color-neutral-dark-700: #e6e5e1;
$color-neutral-dark-800: #ece9e5;
$color-neutral-dark-900: #f2f1ed;

// for the subject themes, we can take advantage of the fact that the hue is mostly consistent across the palette, and just play with the other values.
// after some manual experimentation, we came up with custom dark themes for the maths and physics palette that were mostly quite close to the result of
// simply inverting the *lightness* (in HSL) of the original colours.
// this function exists to do precisely that formulaically, so as to generate the other themes consistently.
@function dark-mode-color-invert-hsl($col) {
  // "white" is #fff, but "black" is not #000; the darkest we show is #181a1b. rather than 0-100, therefore, our scale is between lightness(darkest) and lightness(lightest) = lightness(#181a1b) to 100%.
  // we can invert a color in this scheme by first inverting its lightness as normal (i.e. 100% - lightness)...
  $inv: color.change($col, $lightness: 100% - color.lightness($col));
  // ...then mapping that inverted lightness from the [0, 100] range to the [lightness(darkest), 100] range using a linear transformation.
  // said transformation is lightness(col) / 100 * (100 - lightness(darkest)) + lightness(darkest)
  $darkest: color.lightness($color-neutral-dark-white);
  $lightness: calc((color.lightness($inv) / 100%) * (100% - $darkest) + $darkest / 1.2);

  // this generates good lighter (-300+) colours, but the darker ones end up slightly too saturated
  $saturation: if(color.lightness($inv) < 20%, color.saturation($inv) * 0.5, color.saturation($inv));
  @return color.change($inv, $lightness: $lightness, $saturation: $saturation);
}

// as above, but adjusts lightness in oklch. this avoids needing to adjust saturation separately.
// my main issue with this is not this function at all, but that the different subjects do not have equal lightnesses in the original palette (worst offenders are bio: 48%, phys: 56%);
// this means that the adjustments we make here do affect different subject colours differently, something I would like to avoid, but not sure this is possible
@function dark-mode-color-invert-oklch($col) {
  $const-adjust: 0.5%;
  $multiplicative-adjust: 1.4; // lowest value that lets physics-500 be AA against neutral-100
  $darkest: 21.6%; // = color.lightness($color-neutral-dark-white, $space: oklch); –– this is not defined until sass 1.8+, which requires sorting out imports first
  @return oklch(from $col calc((1 - l) * $multiplicative-adjust * (100% - $darkest) + $darkest + $const-adjust) c h);
}

// at some point, it would be nice to be able to define each $color-subject-dark-xxx as `dark-mode-color-invert($color-subject-xxx);)` or similar (as commented below).
// however, the current preferred approach to calculate these (oklch) uses the CSS `oklch`, which while being a 2023 browser baseline, is not supported
// by older browsers. since this is very core functionality, i am instead choosing to calculate these results manually and leave them as hex codes.
// please do NOT remove the above functions nor the commented code below which makes use of them; they are used to calculate the hex codes below.

$color-brand-300: #5ebc3f;
$color-brand-400: #4e9934;
$color-brand-500: #3a8621;
$color-brand-700: #1a6600;
$color-brand-800: #143a04;
$color-brand-900: #100c08;

$color-biology-dark-50: #252021;
$color-biology-dark-100: #29362c;
$color-biology-dark-200: #334a38;
$color-biology-dark-300: #487752;
$color-biology-dark-400: #5ea66c;
$color-biology-dark-500: #7ed484;
$color-biology-dark-600: #88dc8c;
$color-biology-dark-700: #91e493;
$color-biology-dark-800: #a8f2a9;
$color-biology-dark-900: #c0ffc2;

$color-chemistry-dark-50: #252021;
$color-chemistry-dark-100: #3e2c35;
$color-chemistry-dark-200: #59374a;
$color-chemistry-dark-300: #944d72;
$color-chemistry-dark-400: #d15f98;
$color-chemistry-dark-500: #ff70af;
$color-chemistry-dark-600: #ff7ab5;
$color-chemistry-dark-700: #ff86b9;
$color-chemistry-dark-800: #ffa4d1;
$color-chemistry-dark-900: #ffc3ea;

$color-maths-dark-50: #242021;
$color-maths-dark-100: #233339;
$color-maths-dark-200: #294650;
$color-maths-dark-300: #2e6d7f;
$color-maths-dark-400: #3a94b2;
$color-maths-dark-500: #5cb7e1;
$color-maths-dark-600: #74c6eb;
$color-maths-dark-700: #8dd5f8;
$color-maths-dark-800: #a2e3ff;
$color-maths-dark-900: #b9f3ff;

$color-physics-dark-50: #241f20;
$color-physics-dark-100: #342a39;
$color-physics-dark-200: #473550;
$color-physics-dark-300: #704d83;
$color-physics-dark-400: #9a64b9;
$color-physics-dark-500: #c57cf2;
$color-physics-dark-600: #d38bff;
$color-physics-dark-700: #e29bff;
$color-physics-dark-800: #efafff;
$color-physics-dark-900: #ffc5ff;

// $color-biology-dark-50:  dark-mode-color-invert-oklch($color-biology-50);
// $color-biology-dark-100: dark-mode-color-invert-oklch($color-biology-100);
// $color-biology-dark-200: dark-mode-color-invert-oklch($color-biology-200);
// $color-biology-dark-300: dark-mode-color-invert-oklch($color-biology-300);
// $color-biology-dark-400: dark-mode-color-invert-oklch($color-biology-400);
// $color-biology-dark-500: dark-mode-color-invert-oklch($color-biology-500);
// $color-biology-dark-600: dark-mode-color-invert-oklch($color-biology-600);
// $color-biology-dark-700: dark-mode-color-invert-oklch($color-biology-700);
// $color-biology-dark-800: dark-mode-color-invert-oklch($color-biology-800);
// $color-biology-dark-900: dark-mode-color-invert-oklch($color-biology-900);

// $color-chemistry-dark-50:  dark-mode-color-invert-oklch($color-chemistry-50);
// $color-chemistry-dark-100: dark-mode-color-invert-oklch($color-chemistry-100);
// $color-chemistry-dark-200: dark-mode-color-invert-oklch($color-chemistry-200);
// $color-chemistry-dark-300: dark-mode-color-invert-oklch($color-chemistry-300);
// $color-chemistry-dark-400: dark-mode-color-invert-oklch($color-chemistry-400);
// $color-chemistry-dark-500: dark-mode-color-invert-oklch($color-chemistry-500);
// $color-chemistry-dark-600: dark-mode-color-invert-oklch($color-chemistry-600);
// $color-chemistry-dark-700: dark-mode-color-invert-oklch($color-chemistry-700);
// $color-chemistry-dark-800: dark-mode-color-invert-oklch($color-chemistry-800);
// $color-chemistry-dark-900: dark-mode-color-invert-oklch($color-chemistry-900);

// $color-maths-dark-50:  dark-mode-color-invert-oklch($color-maths-50);
// $color-maths-dark-100: dark-mode-color-invert-oklch($color-maths-100);
// $color-maths-dark-200: dark-mode-color-invert-oklch($color-maths-200);
// $color-maths-dark-300: dark-mode-color-invert-oklch($color-maths-300);
// $color-maths-dark-400: dark-mode-color-invert-oklch($color-maths-400);
// $color-maths-dark-500: dark-mode-color-invert-oklch($color-maths-500);
// $color-maths-dark-600: dark-mode-color-invert-oklch($color-maths-600);
// $color-maths-dark-700: dark-mode-color-invert-oklch($color-maths-700);
// $color-maths-dark-800: dark-mode-color-invert-oklch($color-maths-800);
// $color-maths-dark-900: dark-mode-color-invert-oklch($color-maths-900);

// $color-physics-dark-50:  dark-mode-color-invert-oklch($color-physics-50);
// $color-physics-dark-100: dark-mode-color-invert-oklch($color-physics-100);
// $color-physics-dark-200: dark-mode-color-invert-oklch($color-physics-200);
// $color-physics-dark-300: dark-mode-color-invert-oklch($color-physics-300);
// $color-physics-dark-400: dark-mode-color-invert-oklch($color-physics-400);
// $color-physics-dark-500: dark-mode-color-invert-oklch($color-physics-500);
// $color-physics-dark-600: dark-mode-color-invert-oklch($color-physics-600);
// $color-physics-dark-700: dark-mode-color-invert-oklch($color-physics-700);
// $color-physics-dark-800: dark-mode-color-invert-oklch($color-physics-800);
// $color-physics-dark-900: dark-mode-color-invert-oklch($color-physics-900);

$color-misc-dark-pale-yellow: #534123;
$color-misc-dark-correct: #344d2d;
$color-misc-dark-llm: #134040;
$dark-misc-palette: (
  "orange-50": $color-misc-orange-50,
  "orange-300": $color-misc-orange-300,
  "orange-500": $color-misc-orange-500,
  "orange-600": $color-misc-orange-600,
  "navy": $color-misc-navy,
  "red": $color-misc-red,
  "pale-yellow": $color-misc-dark-pale-yellow,
  "correct": $color-misc-dark-correct,
  "llm": $color-misc-dark-llm
);

$light-color-palettes: (
  // brand is excluded as there are no pages with the "brand" colour scheme;
  // it is used exclusively for styling individual components
  "neutral": (
    "white": $color-neutral-white,
    50: $color-neutral-50,
    100: $color-neutral-100,
    200: $color-neutral-200,
    300: $color-neutral-300,
    400: $color-neutral-400,
    500: $color-neutral-500,
    600: $color-neutral-600,
    700: $color-neutral-700,
    800: $color-neutral-800,
    900: $color-neutral-900
  ),
  "biology": (
    50: $color-biology-50,
    100: $color-biology-100,
    200: $color-biology-200,
    300: $color-biology-300,
    400: $color-biology-400,
    500: $color-biology-500,
    600: $color-biology-600,
    700: $color-biology-700,
    800: $color-biology-800,
    900: $color-biology-900
  ),
  "chemistry": (
    50: $color-chemistry-50,
    100: $color-chemistry-100,
    200: $color-chemistry-200,
    300: $color-chemistry-300,
    400: $color-chemistry-400,
    500: $color-chemistry-500,
    600: $color-chemistry-600,
    700: $color-chemistry-700,
    800: $color-chemistry-800,
    900: $color-chemistry-900
  ),
  "maths": (
    50: $color-maths-50,
    100: $color-maths-100,
    200: $color-maths-200,
    300: $color-maths-300,
    400: $color-maths-400,
    500: $color-maths-500,
    600: $color-maths-600,
    700: $color-maths-700,
    800: $color-maths-800,
    900: $color-maths-900
  ),
  "physics": (
    50: $color-physics-50,
    100: $color-physics-100,
    200: $color-physics-200,
    300: $color-physics-300,
    400: $color-physics-400,
    500: $color-physics-500,
    600: $color-physics-600,
    700: $color-physics-700,
    800: $color-physics-800,
    900: $color-physics-900
  )
);

$dark-color-palettes: (
  "neutral": (
    "white": $color-neutral-dark-white,
    50: $color-neutral-dark-50,
    100: $color-neutral-dark-100,
    200: $color-neutral-dark-200,
    300: $color-neutral-dark-300,
    400: $color-neutral-dark-400,
    500: $color-neutral-dark-500,
    600: $color-neutral-dark-600,
    700: $color-neutral-dark-700,
    800: $color-neutral-dark-800,
    900: $color-neutral-dark-900
  ),
  "biology": (
    50: $color-biology-dark-50,
    100: $color-biology-dark-100,
    200: $color-biology-dark-200,
    300: $color-biology-dark-300,
    400: $color-biology-dark-400,
    500: $color-biology-dark-500,
    600: $color-biology-dark-600,
    700: $color-biology-dark-700,
    800: $color-biology-dark-800,
    900: $color-biology-dark-900
  ),
  "chemistry": (
    50: $color-chemistry-dark-50,
    100: $color-chemistry-dark-100,
    200: $color-chemistry-dark-200,
    300: $color-chemistry-dark-300,
    400: $color-chemistry-dark-400,
    500: $color-chemistry-dark-500,
    600: $color-chemistry-dark-600,
    700: $color-chemistry-dark-700,
    800: $color-chemistry-dark-800,
    900: $color-chemistry-dark-900
  ),
  "maths": (
    50: $color-maths-dark-50,
    100: $color-maths-dark-100,
    200: $color-maths-dark-200,
    300: $color-maths-dark-300,
    400: $color-maths-dark-400,
    500: $color-maths-dark-500,
    600: $color-maths-dark-600,
    700: $color-maths-dark-700,
    800: $color-maths-dark-800,
    900: $color-maths-dark-900
  ),
  "physics": (
    50: $color-physics-dark-50,
    100: $color-physics-dark-100,
    200: $color-physics-dark-200,
    300: $color-physics-dark-300,
    400: $color-physics-dark-400,
    500: $color-physics-dark-500,
    600: $color-physics-dark-600,
    700: $color-physics-dark-700,
    800: $color-physics-dark-800,
    900: $color-physics-dark-900
  )
);

$isaac-light-dark-palettes: (
  "light": $light-color-palettes,
  "dark": $dark-color-palettes
);

$isaac-light-dark-misc: (
  "light": $light-misc-palette,
  "dark": $dark-misc-palette
);
