@use "sass:map";
@import "../common/list-groups.scss";

.content-summary-item {
  min-height: 88px;
  padding: 1rem;
}

.list-view-border {
  border-left: 1px solid $color-neutral-200;
  padding-left: 1rem;
  &.flex-column {
    min-width: 220px;
  }
}

.list-view-card-container {
  border-radius: 10px; 
  border: 1px solid $gray-107;
  background: white;

  > .list-group-item {
    border: none;
    border-radius: 0;
    background-color: transparent;

    @include media-breakpoint-down(lg) {
      &:not(:last-child) {
        border-bottom: 1px solid var(--border-light);
      }
      &:not(:first-child) {
        border-top: 1px solid var(--border-light);
      }
    }

    @include media-breakpoint-up(lg) {
      &:nth-child(odd) {
        border-right: 1px solid var(--border-light);
      }
      &:nth-child(even) {
        border-left: 1px solid var(--border-light);
      }
      &:nth-child(n+3) {
        border-top: 1px solid var(--border-light);
      }
      &:nth-last-child(n+3) {
        border-bottom: 1px solid var(--border-light);
      }
    }
  }
}

.status-tag {
  align-self: start;
  color: $color-neutral-500;
  font-size: 0.825rem;
}

.list-group-links {
  .link-title {
    color: var(--subject-color-900);
  }

  .question-link-title {
    font-family: $secondary-font-medium;
  }
}

.quiz-level-1-tag {
  @include pill-tag(var(--subject-color-500), var(--subject-color-100));
  padding: 0 0.7em;
  font-weight: bold;
}

.quiz-level-2-tag {
  @include pill-tag(var(--subject-color-50), var(--subject-color-500));
  padding: 0 0.7em;
  font-weight: bold;
}

.filter-tag {
  @include pill-tag($color-neutral-900, $color-neutral-100, $color-neutral-200);
  border-width: 2px;

  .icon {
    background-color: var(--buttons-light-icon);
    margin-left: 0.25rem;
  }
}

.list-group-links li a.card-tag {
  @include pill-tag($color-neutral-900, var(--subject-color-50), var(--subject-color-100));
  font-family: $secondary-font;
  padding: 0.15rem 0.8rem;
  margin: 0.5rem 0.5rem 0 0;
  font-size: 14px;
}

.list-results-container {
  background-color: $color-neutral-100;
}
