@use "sass:map";
@import "../common/list-groups.scss";

.content-summary-item {
  min-height: 88px;
  padding: 1rem;

  &:has(a.alvi-title) {
    a, button {
      z-index: 2;
    }
  }
}

.list-view-border {
  border-left: 1px solid $color-neutral-200;
  padding-left: 1rem;
  &.flex-column {
    min-width: 220px;
  }
}

.list-view-card-container {
  border-radius: 10px;
  border: 1px solid $gray-107;
  background: white;

  > .list-group-item {
    border: none;
    border-radius: 0;
    background-color: transparent;

    @include media-breakpoint-down(lg) {
      &:not(:last-child) {
        border-bottom: 1px solid var(--border-light);
      }
      &:not(:first-child) {
        border-top: 1px solid var(--border-light);
      }
    }

    @include media-breakpoint-up(lg) {
      &:nth-child(odd) {
        border-right: 1px solid var(--border-light);
      }
      &:nth-child(even) {
        border-left: 1px solid var(--border-light);
      }
      &:nth-child(n+3) {
        border-top: 1px solid var(--border-light);
      }
      &:nth-last-child(n+3) {
        border-bottom: 1px solid var(--border-light);
      }
    }
  }
}

.status-tag {
  align-self: start;
  color: $color-neutral-500;
  font-size: 0.825rem;
}

.count-tag {
  padding: 0;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  align-content: center;
}

.list-group-links {
  .link-title {
    color: var(--subject-color-900);
  }

  .alvi-title {
    @extend .link-title;

    &:is(a)::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 1;
      cursor: pointer;
    }

    &:focus-visible {
      box-shadow: none !important;
      &::before {
        @include focus-outline;
      }
    }
  }

  .question-link-title {
    font-family: $secondary-font-medium;
    margin-top: -5px;
  }

  li.list-group-item.correct {
    background-color: $color-misc-correct;
  }
}

.quiz-level-1-tag {
  @include pill-tag(var(--subject-color-500), var(--subject-color-100));
  padding: 0 0.7em;
  font-weight: bold;
}

.quiz-level-2-tag {
  @include pill-tag(var(--subject-color-50), var(--subject-color-500));
  padding: 0 0.7em;
  font-weight: bold;
}

.filter-tag {
  @include pill-tag($color-neutral-900, $color-neutral-100, $color-neutral-200);
  border-width: 2px;

  &:focus-within {
    @include focus-outline;
  }

  .icon {
    background-color: var(--buttons-light-icon);
    margin-left: 0.25rem;
  }
}

.list-group-links li .card-tag {
  @include pill-tag($color-neutral-900, var(--subject-color-100), var(--subject-color-700));
  width: auto;
  white-space: normal;
  text-align: center;
  font-family: $secondary-font;
  padding: 0.15rem 0.8rem;
  margin: 0.5rem 0.5rem 0 0;
  font-size: 14px;
}

.list-results-container {
  background-color: $color-neutral-100;
}

.list-view-status-indicator {
  position: absolute;
  top: 2px;
  right: 16px;
  > i {
    display: inline-block;
  }
}

.list-group-links li.disabled {
  .card-tag {
    color: $color-neutral-500;
    background-color: $color-neutral-50;
    border-color: $color-neutral-100;
    pointer-events: none;
  }
}

.list-group-links li.coming-soon {
  .card-tag {
    color: var(--subject-color-500);
    background-color: var(--subject-color-50);
    border-color: var(--subject-color-100);
    pointer-events: none;
  }

  .link-title {
    display: flex;
    align-items: center;
    &::after {
      @include pill-tag($color-neutral-white, var(--subject-color-500));
      content: "Coming soon!";
      margin-left: 0.5rem;
    }
  }

  img {
    // For items that use images rather than icons (e.g. subject logos), to remove the need to include a seperate greyscale image
    filter: grayscale(100%);
  }
}
