@import '../common/llm-questions.scss';

.llm-indicator {
    background-color: #eff;
    color: $black;
    border: 1px solid $color-neutral-700;

    &.small {
        border: 1px solid $color-neutral-700 !important;
        font-weight: 600 !important;
    }
}

.llm-info-banner {
    background-color: #eff;
    border: 2px solid $black;
}

.llm-feedback {
    .prediction {
        background-color: #eff;
    }
    
    .curved-table-wrapper {
        border: 2px solid $gray-160;
        tr {
            border-bottom: 2px solid $gray-160;
        }
        table {
            th, tr {
                background-color: white !important;
            }
        }
    }

    .feedback-collection.submitted {
        color: $color-brand-700;
    }
}
