@import '../common/llm-questions.scss';

.llm-info-banner {
    background-color: $color-misc-llm;
    border: 2px solid $color-neutral-900;
}

.llm-feedback {
    border-top: 2px solid $color-neutral-200;
    background-color: $color-neutral-50;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;

    .prediction {
        background-color: $color-misc-llm;
    }
    
    .llm-mark-table-wrapper {
        border: 2px solid $color-neutral-700;
        tr:not(:last-child) {
            border-bottom: 2px solid $color-neutral-700;
        }
        table {
            th {
                background-color: $color-neutral-100;
            }
            td {
                background-color: $color-neutral-white;
            }
        }
    }

    .feedback-collection.submitted {
        color: $color-brand-700;
    }
}
