// NOMENSA logo.scss
.header-logo {
  float: left;

  @include respond-above(xs) {
    float: none;
  }

  img {
    width: 59px;
    vertical-align: top;

    @include respond-above(xs) {
      width: 9.9rem;
    }

    @media print {
      width: 9.9rem;
    }
  }
}
