// NOMENSA logo.scss
.header-logo {
  float: left;

  @include media-breakpoint-up(sm) {
    float: none;
  }

  img {
    width: 45px;
    vertical-align: top;

    @include media-breakpoint-between(sm, xl) {
      width: 9rem;
    }

    @include media-breakpoint-up(xl) {
      width: 12rem;
    }

    @media print {
      width: 7.85rem;
    }
  }
}
