// Override properties that use context-specific variables that don't work in modals

.btn-keyline {
    border: 1.5px solid $color-neutral-700 !important;
}

.form-check-input {
    &:checked {
      border-color: $color-brand-500;
      background-color: $color-brand-500;
    }
}
