@import "../common/my-account";

.revoke-teacher {
  color: #669933;
  font-weight: 600;
}
.reconnect-teacher {
  color: #999;
  font-weight: 600;

  &:hover {
    color: #666;
  }
}

.linked-account-button-outer {
  > label, > button {
    width: max-content;
  }
}

.connect-list {
  border-radius: 8px;
  
  .connect-list-header {
    border-radius: 7px 7px 0 0; // avoids clashing with 8px on border
    background-color: $color-brand-500;
    height: 3rem;

    h4 {
      padding: 0rem 1rem;
    }
  }
}

.teachers-connected {
  .icon-person-active {
    margin-top: 2px;
  }

  .connections-fixed-length-container {
    max-width: calc(100% - 91.8px);
  }
}

p .btn-link {
  font-size: 1rem;
  margin-top: 3px;
}

.section-divider-bold {
  margin: 2rem 0;
}
