@import "../common/my-progress";

.progress-gauge {
  font-family: $secondary-font;
  font-weight: 600;
  height: 140px;
  width: 140px;
  :is(b) {
    color: $color-brand-700;
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
  }
}
