@import "../common/navigation-bar";

nav {
  &.main-nav {
    background-color: $phy_green !important;
    .navbar-nav {
      .nav-link {
        color: white;
        font-weight: bold;
        @include respond-above(sm) {
          font-size: 1.2rem;
          font-family: $secondary-font-semi-bold;
        }
      }
    }
  }
}
