.title-breadcrumb-container {
    @extend .container-override;
    background-color: var(--subject-color-800);
    position: relative;

    > .title-graphics {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        overflow: hidden;

        &::before {
            @include pseudo-element;
            @include svg-color(url("/assets/phy/icons/redesign/hexagon.svg"), var(--subject-color-900), 1160px, 100%, 1160px, 0 -810px);
            right: 660px;
            top: 0;

            @include media-breakpoint-only(lg) {
                right: 500px;
            }

            @include media-breakpoint-between(sm, lg) {
                right: 330px;
            }

            @include media-breakpoint-only(xs) {
                right: 60px;
            }
        }

        &::after {
            @include pseudo-element;
            @include svg-color(url("/assets/phy/icons/redesign/hexagon.svg"), color-mix(in srgb, var(--subject-color-700) 30%, transparent), 510px, 100%, 510px, 0 -322px);
            right: 400px;
            top: 0;
            
            @include media-breakpoint-only(lg) {
                right: 240px;
            }

            @include media-breakpoint-between(sm, lg) {
                right: 70px;
            }

            @include media-breakpoint-only(xs) {
                right: -200px;
            }
        }

        @supports not (mask-position: center) {
            &::before {
                filter: invert(1);
                opacity: 0.3;
            }

            &::after {
                opacity: 0.1;
            }
        }
    }

    h1#main-heading {
        color: white;
        > img:first-child {
            height: 75px;
            width: 75px;
        }
    }

    @include only-print {
        background-color: transparent;

        .title-graphics {
            display: none;
        }
        
        .bread {
            background-color: transparent;
            .breadcrumb-item a {
                color: black;
            }
        }
        
        // If there is a breadcrumb and a title, hide the title - otherwise hide the breadcrumb
        .bread:has(+ .title-container) {
            + .title-container {
                display: none !important;
            }
        }

        .bread:not(:has(+ .title-container)) {
            display: none !important;
        }
    }
}

.page-metadata {
    .title-action-bar {
        min-height: 3.6rem;
        margin-top: 1rem;
    }
}
