// Pre-load hover images to avoid the initial flash (if "disable cache" is off)
body:after{
  display:none;
  content:
          url(/assets/common/google-login-sprite-dark-pressed.png)
;
  @media only screen and (min-resolution: 192dpi) {
  content: url(/assets/common/google-login-sprite-dark-pressed@2x.png);
}
}
