@import "../common/progress-bar";

.progress-bar-outer {
  background: $gray-110;

  .progress-bar-inner, .progress-bar-secondary {
    background: $color-brand-500;
  }
  .bar-physics {
    background: $color-physics-500;
  }
  .bar-maths {
    background: $color-maths-500;
  }
  .bar-chemistry {
    background: $color-chemistry-500;
  }
  .bar-biology {
    background: $color-biology-500;
  }
}
