@import "../common/progress-bar";

.progress-bar-outer {
  background: $gray-110;

  .progress-bar-inner, .progress-bar-secondary {
    background: var(--color-brand-500);
  }
  .bar-physics {
    background: var(--color-physics-500);
  }
  .bar-maths {
    background: var(--color-maths-500);
  }
  .bar-chemistry {
    background: var(--color-chemistry-500);
  }
  .bar-biology {
    background: var(--color-biology-500);
  }
}
