@import "../common/questions";

.question-actions {
  .question-actions-icon {
    height: 3rem;
    &:focus {
      outline: none;
    }
  }
  .question-actions-link-box {
    float:right;
    border: 1px solid gray;
    height: 3.6rem;
    border-right: none;
    padding-right: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: -1.9rem;
    background: white;

    .question-actions-link {
      padding-left: 3px;
      padding-right: 3px;
      margin-left: 1rem;
      font-style: italic;
    }
  }
}

.question-panel > .content-chunk > .content-value,
.question-component .question-content {
  font-family: $primary-font;
}
.question-panel > .content-chunk > .content-value, .figure-panel {
  background: none;
  box-shadow: none;
  padding: 0 0.25rem;
  font-weight: 400;
}

.question-panel .isaac-accordion {
  background: $gray-103;
  .card-body > .content-chunk > .content-value {
    @extend .px-md-5;
    font-size: 1.25rem;
    line-height: 1.6;
  }
  // Make sure that reorder questions have a background when they expand on Phy
  .question-component:not(.expansion-layout), .figure-panel {
    background: none;
    box-shadow: none;
    padding: 0 !important;
    margin-bottom: 1.5rem;
    @include media-breakpoint-up(md) {
      padding-left: 3rem !important;
      padding-right: 3rem !important;
    }
  }
  // Make sure the banner does not overflow on reorder questions on Phy
  div:not(.expansion-layout) > .validation-response-panel {
    &.correct {
      margin-left: -1rem;
      margin-right: -1rem;
      margin-bottom: -2.75rem;
      padding-left: 1.5rem !important;
      padding-right: 1.5rem !important;
      @include media-breakpoint-up(md) {
        margin-left: -4rem;
        margin-right: -4rem;
      }
    }
  }

  form + form {
    .question-component {
      margin-top: 4rem;
    }
  }
}

.quick-question {
  button {
    border-radius: 0 !important;

    &.active {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .alert {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}

.concept-content-container, .generic-content-container {
  .quick-question {
    .question-content, .content-value, .btn {
      font-size: 1rem !important;
    }
  }
}

.symbolic-question,
.equality-page {
  .eqn-editor-preview {
    font-size: 1.5rem;
    border: solid 1px $black;
  }
}

input.form-control.is-unanswered {
  border: solid 1px theme-color("warning");
  @include border-radius($input-border-radius, 0);
}

.inline-part {
  $shadow-size: 3px;
  &.selected-feedback {
    box-shadow: 0 0 0 $shadow-size #000;
    &.is-valid {
      box-shadow: 0 0 0 $shadow-size theme-color("success");
    }
    &.is-invalid {
      box-shadow: 0 0 0 $shadow-size theme-color("danger");
    }
    &.is-unanswered {
      box-shadow: 0 0 0 $shadow-size theme-color("warning");
    }
  }
}

// Double class to give this more specificity
.katex.katex {
  font-size: 1.1em;
  white-space: nowrap !important;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  display: inline-flex;
}

// cloze dropdowns inside katex are normally cut off due to content-driven overflows we cannot control easily. this:
//    a) enforces that dropdowns are provided $cloze-dropdown-height of space (maximum height before scrolling);
//    b) sets the correct overflow behaviour for the parent of the katex containing the dropdown;
//        (note that this does not apply for all katex, only those with cloze-dropdowns)
//    c) recreates the scrollbar to forcibly display it on OSX.

$cloze-dropdown-height: 300px;
$cloze-scrollbar-height: 0px;
@media screen and (-webkit-min-device-pixel-ratio:0) {
  // if webkit exists, enable an offset to include scrollbar padding in calculations
  $cloze-scrollbar-height: 4px;
}

p:has(> .katex.katex .cloze-dropdown.show) {
  padding-bottom: calc(1rem + $cloze-dropdown-height + $cloze-scrollbar-height) !important;
  margin-bottom: -$cloze-dropdown-height !important;
  overflow-x: hidden !important;
}

.katex-display:has(.cloze-dropdown.show) {
  padding-bottom: calc(0.25rem + $cloze-dropdown-height + $cloze-scrollbar-height) !important;
  margin-bottom: -$cloze-dropdown-height !important;
  overflow-x: hidden !important;
}

p:has(> .katex.katex .cloze-dropdown), .katex-display:has(.cloze-dropdown) {
  overflow: scroll hidden;
  
  .dropdown-menu {
    position: absolute;
  }

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    height: $cloze-scrollbar-height;
  }
    
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
}
