@import "../common/questions";

.question-panel > .content-chunk > .content-value,
.question-component .question-content {
  font-family: $primary-font;
}
.question-panel > .content-chunk > .content-value {
  background: none;
  box-shadow: none;
  padding: 0 0.25rem;
  font-weight: 400;
}

.question-panel .isaac-accordion {
  background: $gray-103;
  .card-body > .content-chunk > .content-value {
    @extend .px-md-5;
    font-size: 1.25rem;
    line-height: 1.6;
  }
  // Make sure that parsons questions have a background when they expand on PHY
  .question-component:not(.isaacParsonsQuestion) {
    background: none;
    box-shadow: none;
    padding: 0 !important;
    margin-bottom: 1.5rem;
    @include media-breakpoint-up(md) {
      padding-left: 3rem !important;
      padding-right: 3rem !important;
    }
  }
  .validation-response-panel {
    &.correct {
      margin-left: -1.25rem;
      margin-right: -1.25rem;
      margin-bottom: -2.75rem;
      padding-left: 1.5rem !important;
      padding-right: 1.5rem !important;
      @include media-breakpoint-up(md) {
        margin-left: -4.25rem;
        margin-right: -4.25rem;
      }
    }
  }

  form + form {
    .question-component {
      margin-top: 4rem;
    }
  }
}

.quick-question {
  button {
    border-radius: 0 !important;

    &.active {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .alert {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}

.concept-content-container, .generic-content-container {
  .quick-question {
    .question-content, .content-value, .btn {
      font-size: 1rem !important;
    }
  }
}

.symbolic-question,
.equality-page {
  .eqn-editor-preview {
    font-size: 1.5rem;
    border: solid 1px $black;
  }
}
