@import "../common/quiz.scss";

.quiz-filter-date-span {
  font-size: 1rem;
  z-index: 5;
}

.set-quiz-table-inner {
  table-layout: auto;
  background-color: white;
  color: black;
  border: 1px solid $color-neutral-200;

  tbody tr {
      background-color: $color-neutral-50;
  }

  btn {
    border: none;
  }
}

.manage-quiz-title {
  font-size: 1.25rem;
  font-family: $secondary-font;
  font-weight: 600;
  overflow-wrap: break-word;
}
