@use "sass:map";

$alert-text-colours: (
  "physics": $color-physics-900,
  "maths": $color-maths-900,
  "chemistry": $color-chemistry-900,
  "biology": $color-biology-900,
  "neutral": $color-neutral-800,
);

// TODO: move all these definitions to more relevant files, defining the colours to use in color-theme.scss
@each $palette, $subject-colors in $isaac-color-palettes {
  @include color-mode($palette) {  
    /* correct answer */
    .validation-response-panel {
      .question-response {
        font-family: desyrel, serif;
        font-size: 36px;
        font-weight: 600;
      }
      h1 {
        font-family: desyrel, serif;
        font-size: 48px;
        font-weight: 700;
      }
      &.correct {
        background: var(--subject-color-500);
        color: white;
        a {
          color: white !important;
        }
      }
      &.almost {
        background: #ffb847;
        color: #3c0000;
      }
    }

    /* text- classes */

    .text-theme {
      color: var(--subject-color-500);
      text-emphasis-color: var(--subject-color-500);

      &a {
        &:hover, &:focus {
          color: var(--subject-color-600);
        }
      }
    }

    /* badge classes */
    .text-bg-theme {
      @extend .text-bg-#{$palette};
    }

    /* borders */
    .border-theme {
      border-color: var(--subject-color-500);
    }

    /* BS5 checkboxes and radio buttons */
    .form-check-input {
      width: 24px;
      height: 24px;
      transition: all 0.1s ease-in-out;
      outline: none;
      box-shadow: none;
      &:checked {
        border-color: var(--subject-color-500);
        background-color: var(--subject-color-500);
      }
      &:focus {
        border-color: var(--subject-color-500);
        &:checked {
          box-shadow: 0 0 0 0.25rem color-mix(in srgb, var(--subject-color-500) 25%, transparent);
        }
      }
      &:not(:disabled):active {
        background-color: color-mix(in srgb, var(--subject-color-500) 25%, transparent);
        border-color: color-mix(in srgb, var(--subject-color-500) 25%, transparent);
      }
    }

    /* unit dropdown */
    .numeric-question .unit-selection {
      .display-unit {
        opacity: 1 !important;
      }
      .dropdown-item {
        &:active {
          background-color: var(--subject-color-500);
          color: white;
        }
        &:focus {
          box-shadow: 0 0 0 0.25rem color-mix(in srgb, var(--subject-color-500) 25%, transparent);
        }
      }
    }

    .alert-secondary {
      @extend .alert-#{$palette};
      color: map.get($alert-text-colours, $palette);
    }

    li {
      .hint-tab-title {
        color: var(--subject-color-500) !important;
      }
      &.active {
        .hint-tab-title {
          color: white !important;
          background-color: var(--subject-color-500) !important;
        }
      }
    }

    .quick-question-options {
      background: color-mix(in srgb, var(--subject-color-500) 50%, transparent);
    }

    svg.search-item-icon, svg.gameboard-item-icon {
      fill: var(--subject-color-500);
    }
  }
}

// FIXME: This is not nice at all, but does fix subject and email prefs!
// TODO replace this
// #account-page, #registration-page, #login-page {
//   @include apply-subject-classes($a11y_green, "secondary");
// }
