@function color-level($color, $level: 0) {
  $color-base: if($level > 0, $black, $white);
  $level: abs($level);

  @return mix($color-base, $color, $level * $theme-color-interval);
}

@mixin bg-variant($parent, $color) {
  #{$parent} {
    background-color: $color !important;
  }
  a#{$parent},
  button#{$parent} {
    &:hover, &:focus {
      background-color: darken($color, 10%) !important;
    }
  }
}

@mixin text-emphasis-variant($parent, $color) {
  #{$parent} {
    color: $color !important;
  }
  a#{$parent}:hover,
  a#{$parent}:focus {
    color: darken($color, 10%) !important;
  }
}

@mixin apply-subject-classes($color) {
  /* background classes */
  @include bg-variant(".bg-secondary", $color);
  

  /* correct answer */
  .validation-response-panel {
    .question-response {
      font-family: desyrel, serif;
      font-size: 36px;
      font-weight: 600;
    }
    h1 {
      font-family: desyrel, serif;
      font-size: 48px;
      font-weight: 700;
    }
    &.correct {
      background: $color;
      color: white;
      a {
        color: white !important;
      }
    }
    &.almost {
      background: #ffb847;
      color: #3c0000;
    }
  }

  /* btn classes */
  .btn-secondary {
    @include button-variant($color, $color);
  }

  //.btn-outline-primary {
  //  @include button-outline-variant($color);
  //}

  /* text- classes */
  @include text-emphasis-variant(".text-secondary", $color);
  // text-emphasis-color: $color;

  /* badge classes */
  .badge-secondary {
    // TODO
  }

  /* borders */
  .border-secondary {
    border-color: $color !important;
  }

  /* checkboxes and radio buttons */
  .custom-control-input {
    &:checked ~ .custom-control-label::before {
      border-color: $color;
      background-color: $color;
    }
    &:focus ~ .custom-control-label::before {
      box-shadow: 0 0 0 $input-btn-focus-width rgba($color, .25);
    }
    &:focus:not(:checked) ~ .custom-control-label::before {
      border-color: $color;
    }
    &:not(:disabled):active ~ .custom-control-label::before {
      background-color: lighten($color, 35%);
      border-color: lighten($color, 35%);
    }
  }

  /* unit dropdown */
  .numeric-question .unit-selection {
    .display-unit {
      opacity: 1 !important;
    }
    .dropdown-item {
      &:active {
        @include button-variant($color, $color);
      }
      &:focus {
        box-shadow: 0 0 0 $input-btn-focus-width rgba($color, .25);
      }
    }
  }

  .alert-secondary {
  }

  li {
    .hint-tab-title {
      color: $color !important;
    }
    &.active {
      .hint-tab-title {
        color: white !important;
        background-color: $color !important;
      }
    }
  }

  .quick-question-options {
    background: rgba($color, 0.5);
  }
}

// FIXME: This is not nice at all, but does fix subject and email prefs!
#account-page, #registration-page, #login-page {
  @include apply-subject-classes($a11y_green);
}

div.physics {
  @include apply-subject-classes($phy_physics);
}
div.maths {
  @include apply-subject-classes($phy_maths);
}
div.chemistry {
  @include apply-subject-classes($phy_chemistry);
}
div.biology {
  @include apply-subject-classes($phy_biology);
}
