@use "sass:map";

$alert-text-colours: (
  "physics": $color-physics-900,
  "maths": $color-maths-900,
  "chemistry": $color-chemistry-900,
  "biology": $color-biology-900,
  "neutral": $color-neutral-800,
);

@function color-level($color, $level: 0) {
  $color-base: if($level > 0, $black, $white);
  $level: abs($level);

  @return mix($color-base, $color, $level * $theme-color-interval);
}

@mixin bg-variant($parent, $color) {
  #{$parent} {
    background-color: $color !important;
  }
  a#{$parent},
  button#{$parent} {
    &:hover, &:focus {
      background-color: darken($color, 10%) !important;
    }
  }
}

@mixin text-emphasis-variant($parent, $color) {
  #{$parent} {
    color: $color !important;
  }
  a#{$parent}:hover,
  a#{$parent}:focus {
    color: darken($color, 10%) !important;
  }
}

// TODO: move all these definitions to more relevant files, defining the colours to use in color-theme.scss
@each $palette, $subject-colors in $isaac-color-palettes {
  @include color-mode($palette) {
    $subject-color-50: map.get($subject-colors, 50);
    $subject-color-100: map.get($subject-colors, 100);
    $subject-color-500: map.get($subject-colors, 500);

    /* background classes */
    @include bg-variant(".bg-secondary", $subject-color-500);
    

    /* correct answer */
    .validation-response-panel {
      .question-response {
        font-family: desyrel, serif;
        font-size: 36px;
        font-weight: 600;
      }
      h1 {
        font-family: desyrel, serif;
        font-size: 48px;
        font-weight: 700;
      }
      &.correct {
        background: $subject-color-500;
        color: white;
        a {
          color: white !important;
        }
      }
      &.almost {
        background: #ffb847;
        color: #3c0000;
      }
    }

    /* text- classes */
    @include text-emphasis-variant(".text-secondary", $subject-color-500);
    // text-emphasis-color: $color;

    /* badge classes */
    .text-bg-secondary {
      @extend .text-bg-#{$palette};
    }

    /* borders */
    .border-secondary {
      border-color: $subject-color-500 !important;
    }

    /* BS5 checkboxes and radio buttons */
    .form-check-input {
      width: 24px;
      height: 24px;
      transition: all 0.1s ease-in-out;
      outline: none;
      box-shadow: none;
      &:checked {
        border-color: $subject-color-500;
        background-color: $subject-color-500;
      }
      &:focus {
        border-color: $subject-color-500;
        &:checked {
          box-shadow: 0 0 0 0.25rem rgba($subject-color-500, 0.25);
        }
      }
      &:not(:disabled):active {
        background-color: rgba($subject-color-500, 0.25);
        border-color: rgba($subject-color-500, 0.25);
      }
    }

    /* unit dropdown */
    .numeric-question .unit-selection {
      .display-unit {
        opacity: 1 !important;
      }
      .dropdown-item {
        &:active {
          background-color: $subject-color-500;
          color: white;
        }
        &:focus {
          box-shadow: 0 0 0 0.25rem rgba($subject-color-500, .25);
        }
      }
    }

    .alert-secondary {
      @extend .alert-#{$palette};
      color: map.get($alert-text-colours, $palette);
    }

    li {
      .hint-tab-title {
        color: $subject-color-500 !important;
      }
      &.active {
        .hint-tab-title {
          color: white !important;
          background-color: $subject-color-500 !important;
        }
      }
    }

    .quick-question-options {
      background: rgba($subject-color-500, 0.5);
    }

    svg.search-item-icon, svg.gameboard-item-icon {
      fill: $subject-color-500;
    }

    .quiz-level-1-tag {
      @include pill-tag($subject-color-500, $subject-color-100);
      padding: 0 0.7em;
      border-radius: 15px;
      font-weight: bold;
    }

    .quiz-level-2-tag {
      @include pill-tag($subject-color-50, $subject-color-500);
      padding: 0 0.7em;
      border-radius: 15px;
      font-weight: bold;
    } 
  }
}

// FIXME: This is not nice at all, but does fix subject and email prefs!
// TODO replace this
// #account-page, #registration-page, #login-page {
//   @include apply-subject-classes($a11y_green, "secondary");
// }
