@import "../common/accordions";

.stage-label-gcse, .stage-label-alevel, .stage-label-national-5, .stage-label-higher, .stage-label-advanced-higher, .stage-label-all {
  color: black;
  font-weight: 600;
  text-wrap: none;
  font-size: 1rem !important;
  line-height: 1.15rem;
}

.stage-label-gcse {
  background-color: $gcse-colour;
}

.stage-label-alevel {
  background-color: $a-level-colour;
}

.stage-label-national-5 {
  background-color: $national-5-colour;
}

.stage-label-higher {
  background-color: $higher-colour;
}

.stage-label-advanced-higher {
  background-color: $adv-higher-colour;
}

.stage-label-all {
  background-color: $all-stages-colour;
}

.accordion-icon-report {
  background-image: url(/assets/cs/icons/flag-black.svg);
}

.accordion .accordion-header {
  span, button, button:hover {
    color: black !important;

    &.stage-label-higher, &.de-emphasised > span {
      color: white !important;
    }
  }

  h2 {
    font-size: inherit !important;
  }
}

.accordion {
  background: $cs-white;
  border-top: 1px solid $cs-cultured;

  margin-top: 2px;
  &:first-of-type {
    margin-top: 0;
  }

  .content-value h4 {
    margin-bottom: 1rem;
  }
}
