@import "../common/accordions";

.stage-label-gcse, .stage-label-alevel, .stage-label-all {
  color: black;
  font-weight: 600;
  text-wrap: none;
  font-size: 12pt !important;
  line-height: 14pt;
  padding: 0.4rem 0.5rem;
}

.stage-label-gcse {
  background-color: $gcse-colour;
}

.stage-label-alevel {
  background-color: $a-level-colour;
}

.stage-label-all {
  background-color: $all-stages-colour;
}

.accordion-icon-report {
  background-image: url(/assets/cs/icons/flag-black.svg);
}

.accordion .accordion-header {
  span, button, button:hover {
    color: black !important;
  }

  h2 {
    font-size: inherit !important;
  }
}

.accordion {
  background: $cs-white;
  border-top: 1px solid $cs-cultured;

  margin-top: 4px;
  &:first-of-type {
    margin-top: 0;
  }

  .content-value {
    h3 {
      border-bottom: 2px solid #00000010;
    }

    h3, h4 {
      font-size: 1.25rem !important;
      font-weight: inherit;
      line-height: inherit;
    }
  }
}
