@import "../common/assignment-progress";

.assignment-progress-gameboard .gameboard-header:not(.text-muted) > *:first-child:before {
  background: $yellow-300 !important;
  color: black;
  text-decoration: none !important;
}

.assignment-progress-table-wrapper {
  display: block;
  max-height: 65vh;
  overflow-y: auto;
}

.progress-table {
  tbody {
    background-color: white;
  }

  thead, tfoot {
    background-color: $cs-cultured;
  }

  tbody tr:not(:last-child) {
    border-bottom: 1px solid $cs-cultured;
  }
}

.progress-questions {
  font-size: 1.1rem;
}

.progress-header {
  font-size: 1.0rem;
}

.assignment-progress-gameboard .gameboard-title {
  //@extend .fw-regular;
  font-size: 0.9rem;
  color: black;
}

.gameboard-links a {
  @extend .btn;
  @extend .btn-link;
  @extend .fw-regular;
  font-size: 0.9rem;
}

.accordion-arrow {
  @extend .mx-2;
}

.assignment-count-pill {
  @include pill-tag(black, white);
  min-width: 25px;
  text-align: center;
  border-radius: 8px;
}
