@use 'sass:math';

@import "../common/breadcrumbs";

.bread {
  margin-left: -1 * math.div($grid-gutter-width, 2);
  margin-right: -1 * math.div($grid-gutter-width, 2);
  position: relative;
  @include respond-above(sm) {
    margin: 0;
  }

  .breadcrumb {
    padding: 0.75rem 0 0.75rem 1rem;
    @include respond-above(sm) {
      padding-left: 0;
    }
  }

  .breadcrumb-item {
    display: flex;
    align-items: center;
    font-family: $secondary-font;
    &.active {
      color: $gray-blue;
    }
  }

  .breadcrumb-item + .breadcrumb-item::before {
    @include pseudo-icon('/assets/common/icons/chevron-right.svg', 18px, 18px, 100%, 35% 50%);
    background-color: $cs-jet;
    padding: 0;
    margin-right: 0.4rem;
  }

  .breadcrumb-link {
    color: $cs-jet;
  }
}
