@import "../common/button";

@mixin ada-button($text-color, $color, $hover-color, $active-color) {
  background-color: $color;
  border: 3px solid $color;
  box-shadow: none;
  color: $text-color;
  overflow: hidden;  // To stop margin collapse from hiding the focus outline
  text-decoration: none;
  &:hover {
    color: $text-color;
    border-color: $hover-color;
    background-color: $hover-color;
    text-decoration: underline;
  }
  &:active {
    color: $text-color !important;
    border-color: $active-color !important;
    background-color: $active-color !important;
    box-shadow: none !important;
  }
  &.disabled, &:disabled {
    color: $cs-jet;
    background-color: $cs-silver;
    border-color: $cs-silver;
  }
}

@mixin ada-button-outline($text-color, $color, $hover-color, $active-color) {
  background-color: $color;
  border: 3px solid $text-color;
  box-shadow: none;
  color: $text-color;
  overflow: hidden;  // To stop margin collapse from hiding the focus outline
  text-decoration: none;
  &:hover {
    color: $hover-color;
    text-decoration: underline;
    background-color: $color;
  }
  &:active {
    color: $active-color !important;
    border-color: $active-color !important;
    background-color: $color !important;
    box-shadow: none !important;
  }
  &.disabled, &:disabled {
    color: $cs-jet;
    border-color: $cs-silver;
  }
}

@mixin ada-icon-button-base($width, $height, $outlined: false) {
  // Factored out so buttons of this style can be created at any size
  @extend .btn;

  @if $outlined {
    @include ada-button-outline($dark-pink-300, transparent, $light-hover-dark-pink, $light-active-dark-pink);
  } @else {
    @include ada-button($cs-white, $dark-pink-300, $light-hover-dark-pink, $light-active-dark-pink);
    background-color: $dark-pink-300;
  }

  padding: 0 !important;
  min-width: unset !important;
  width: $width !important;
  height: $height !important;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.btn, input.btn {
  // Bootstrap's 'input' sets an unhelpful height
  height: unset;

  border-radius: 50px;
  border-width: 3px;

  font-size: 1.111rem;
  &:not(.btn-sm):not(.btn-link) {
    padding: 0.5rem 2.1rem;
  }
  @extend .fw-semi-bold;
  &.btn-sm {
    padding: 0.2rem 0.7rem;
  }
  min-width: 25px;

  // Primary buttons (for dark background)
  &.btn-dark-primary {
    @include ada-button($cs-black, $pink-300, $dark-hover-pink, $dark-active-pink);
  }

  // Secondary buttons (for dark background)
  // Secondary Button components are expected to use the 'outline' prop!
  &.btn-outline-dark-secondary {
    @include ada-button-outline($pink-300, transparent, $dark-hover-pink, $dark-active-pink);
  }

  // Primary buttons (light background)
  &.btn-primary, &.btn-secondary, &.btn-solid {
    @include ada-button($cs-white, $dark-pink-300, $light-hover-dark-pink, $light-active-dark-pink);
  }

  // Secondary buttons (for light background)
  // Secondary Button components are expected to use the 'outline' prop!
  &.btn-outline-secondary, &.btn-outline-primary, &.btn-keyline {
    @include ada-button-outline($dark-pink-300, $cs-white, $light-hover-dark-pink, $light-active-dark-pink);
  }

  &.btn-link {
    margin: 0;
    padding: 0;
    background: none !important;
    border: none !important;
    border-radius: 0 !important;
  }
}

.btn-link {
  color: $dark-pink-300;
  text-decoration: underline;
  &:hover {
    color: $light-hover-dark-pink;
    text-decoration: none;
  }
  &:active {
    color: $light-active-dark-pink;
  }
  &:focus-visible {
    border-radius: 0 !important;
    z-index: 10;
  }
  &.disabled, &:disabled {
    color: $cs-silver;
  }
}

.action-button {
  &:not(.outline) {
    @include ada-icon-button-base(48px, 48px, false);
  }
  &.outline {
    @include ada-icon-button-base(48px, 48px, true);
  }

  &:disabled, &.disabled {
    filter: grayscale(100%);
  }

  position: relative;
  z-index: 2;

  &.action-button-small {
    &:not(.outline) {
      @include ada-icon-button-base(30px, 30px, false);
    }
    &.outline {
      @include ada-icon-button-base(30px, 30px, true);
    }
  }
}

.btn.plus-button {
  position: relative;
  &::after {
    background-image: none !important;
  }
  .plus-icon {
    @extend .ms-2;
    height: 24px;
  }
}

.btn.confidence-help {
  @include ada-icon-button-base(2rem, 2rem, false);
  background-image: url("/assets/cs/icons/info-white.svg");
}

.selector-tabs {
  z-index: 0;
  position: relative;
  button.btn-secondary {
    background: none !important;
    z-index: 2;
    &:hover, &:active {
      background: none !important;
    }
    &:hover ~ .glider {
      background-color: $light-hover-dark-pink !important;
      border-color: $light-hover-dark-pink !important;
    }
    &:active ~ .glider {
      background-color: $light-active-dark-pink !important;
      border-color: $light-active-dark-pink !important;
    }
  }
  button:not(:first-of-type) {
    border-left: none !important;
  }
  button:not(:last-of-type) {
    border-right: none !important;
  }
  button:last-of-type {
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
  }
  .glider {
    @extend .btn;
    @extend .btn-secondary;
    transition-property: transform, width;
    position: absolute;
    height: 100%;
    z-index: 0;
  }
}

.nav-link {
  color: $cs-jet;
}

a:not(.btn):not(.nav-link):not(.question-link-title) {
  // FIXME this breaks tables with links
  &:not(.link-light):not(.footer-link):not(.a-link):not(.breadcrumb-link) {
    color: $cs-jet;
    &:hover {
      @extend .btn-link;
    }
  }
  word-wrap: break-word;
  text-decoration: underline;
  &:focus {
    border: none;
    outline: none;
  }
  &:focus-visible {
    border-radius: 0 !important;
    z-index: 10;
  }
  &.a-link {
    @extend .btn-link;
  }
}

.content-value a, strong a, a strong, .btn.btn-inline-link {
  color: $dark-pink-300 !important;
}

.content-summary-link {
  * {
    text-decoration: none !important;
  }
}

.google-button:not(.linked-account-button) {
  @include ada-button-outline($cs-black, transparent, $cs-jet, lighten($cs-jet, 20%));
}
