@import "../common/cards";

// number of news cards per line for each breakpoint
$news-cards-per-line: (
        xs: 2,
        lg: 3,
        xl: 4
);

@each $name, $breakpoint in $grid-breakpoints {
  @include media-breakpoint-up($name) {
    .card-deck .news-card {
      flex: 0 0 calc(#{100 / map-get($news-cards-per-line, $name)}% - #{$grid-gutter-width});
      width: 100%;
    }
  }
}

// number of cards per line for each breakpoint
$cards-per-line: (
        xs: 1,
        lg: 2
);
@each $name, $breakpoint in $grid-breakpoints {
  @include media-breakpoint-up($name) {
    .card-deck .cs-card {
      flex: 0 0 calc(#{100 / map-get($cards-per-line, $name)}% - #{$grid-gutter-width});
    }
  }
}


.cs-card, .news-card {
  position: relative;
  border-radius: 15px;
  display: inline-block;

  &::before {
    content: " ";
    position: absolute;
    top: -28px;
    left: 24px;
    z-index: 2;
    background-repeat: no-repeat;
  }

  &.backslash-1 {
    &::before {
      height: 56px;
      width: 28px;
      background-image: url(/assets/cs/decor/backslash-outline-1.svg);
    }
  }

  &.backslash-2 {
    &::before {
      height: 56px;
      width: 46px;
      background-image: url(/assets/cs/decor/backslash-outline-2.svg);
    }
  }

  &.backslash-3 {
    &::before {
      height: 56px;
      width: 64px;
      background-image: url(/assets/cs/decor/backslash-outline-3.svg);
    }
  }

  .news-card-image {
    width: 100%;
    border-radius: 15px 15px 0 0;
  }

  .news-card-title {
    height: 3rem;
  }
}


.card {
  // This is to make sure that the "footers" of multiple cards line up nicely
  &::after {
    @extend .mb-5;
    display: block;
    content: " ";
    width: 100%;
    position: relative;
  }
  .card-footer {
    background-color: transparent;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
  }
}
