@use "sass:math";
@import "../common/cards";

// number of news cards per line for each breakpoint
$news-cards-per-line: (
        xs: 2,
        lg: 3,
        xl: 4
);

@each $name, $breakpoint in $grid-breakpoints {
  @if (map-has-key($news-cards-per-line, $name)) {
    @include media-breakpoint-up($name) {
      .card-deck .news-card {
        flex: 0 0 calc(#{math.percentage(math.div(1, map-get($news-cards-per-line, $name)))} - #{$grid-gutter-width});
        width: 100%;
      }
    }
  }
}

// number of cards per line for each breakpoint
$cards-per-line: (
        xs: 1,
        md: 2,
        xl: 3
);
@each $name, $breakpoint in $grid-breakpoints {
  @if (map-has-key($cards-per-line, $name)) {
    @include media-breakpoint-up($name) {
      .card-deck .cs-card {
        flex: 0 0 calc(#{math.percentage(math.div(1, map-get($cards-per-line, $name)))} - #{$grid-gutter-width});
      }
    }
  }
}

.card-container {
  padding-bottom: $grid-gutter-width;
}

.cs-card-container {
  container: cs-card / inline-size;
}

.cs-card {
  box-shadow: 0px 0px 2px 1px $shadow-08;
  border-radius: 1rem 1rem 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;

  > img {
    aspect-ratio: 16/9;
    border-radius: 1rem 1rem 0 0;
  }

  .card-footer {
    background-color: transparent !important;

    .btn-link::after {
      content: "";
      display: inline-flex;
      background: url('/assets/common/icons/chevron_up_white.svg') no-repeat center center;
      // TODO: colour in $dark-pink-300
      filter: invert(1);
      rotate: 90deg;
      margin-top: -3px;
      margin-left: 10px;
      width: 15px;
      height: 15px;
    }
  }
}

@container cs-card (min-width: 560px) {
  .cs-card {
    flex-direction: row-reverse;

    > div {
      width: 50%;
    }

    > img {
      width: 50%;
      border-radius: 0 1rem 3rem 0;
      object-fit: cover;
    }
  }
}

.cs-card-plain, .news-card {
  position: relative;
  border-radius: 15px;
  display: inline-block;
  height: 100%;

  &::before {
    content: " ";
    position: absolute;
    top: -28px;
    left: 24px;
    z-index: 2;
    background-repeat: no-repeat;
  }

  &.backslash-1 {
    &::before {
      height: 56px;
      width: 28px;
      background-image: url(/assets/cs/decor/backslash-outline-1.svg);
    }
  }

  &.backslash-2 {
    &::before {
      height: 56px;
      width: 46px;
      background-image: url(/assets/cs/decor/backslash-outline-2.svg);
    }
  }

  &.backslash-3 {
    &::before {
      height: 56px;
      width: 64px;
      background-image: url(/assets/cs/decor/backslash-outline-3.svg);
    }
  }

  .card-img, .card-img-top {
    width: 100%;
    border-radius: 15px 15px 0 0;
  }
}

.cs-card-plain, .news-card, .board-card {
  // This is to make sure that the "footers" of multiple cards line up nicely
  &::after {
    @extend .mb-5;
    display: block;
    content: " ";
    width: 100%;
    position: relative;
  }
  .card-footer {
    background-color: transparent !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    .assign-button {
      margin-top: 15px;
    }
  }
}

.featured-news-item {
  color: $cs-black;
}
