// TODO: 
// - move any colour theming from /cs/isaac.scss here
//   - (including all colour definitions)
// - copy any required theming from phy/isaac.scss
// - ensure all variables are named equivalently across the two files

:root {
    --tab-active: #{$dark-pink-300};
    --tab-hover: #{$cs-light-gray};

    --icon-primary: #{$dark-pink-300};
    --icon-secondary: #{$cyan-100};
    --icon-tertiary: #{$cs-black};

    --subject-color-50: #{$dark-pink-700};
    --subject-color-100: #{$dark-pink-700};
    --subject-color-200: #{$dark-pink-600};
    --subject-color-300: #{$dark-pink-500};
    --subject-color-400: #{$dark-pink-400};
    --subject-color-500: #{$dark-pink-300};
    --subject-color-600: #{$dark-pink-300};
    --subject-color-700: #{$dark-pink-200};
    --subject-color-800: #{$dark-pink-200};
    --subject-color-900: #{$dark-pink-100};
}
