@import "../common/elements";

.text-block {
  h2, p {
    margin-bottom: 1.2rem;
  }
}

.image-block {
  object-fit: contain;
  @extend .vertical-center;

  > img {
    width: 100%;
  }
}

.bg-dark-pink {
  background-color: $dark-pink-200;
}

.bg-cyan {
  background-color: $cyan-200;
}

img.full-background-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
