@import "../common/elements";

.text-theme {
  @extend .text-secondary;
}

.bg-theme {
  @extend .bg-secondary;
}

.border-theme {
  @extend .border-secondary;
}

.bg-dark-pink-200 {
  background-color: $dark-pink-200;
}

.bg-dark-pink-300 {
  background-color: $dark-pink-300;
}

.bg-cyan-200 {
  background-color: $cyan-200;
}

.bg-yellow-300 {
  background-color: $yellow-300;
}

img.full-background-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
}

.pill-tag-outline {
  @include pill-tag($gray-160, white, $gray-194)
}

.tab-picker {
  @include tab-picker(right, 5px, $cs-list-outline-gray);
}
