@import "../common/filter";

$shapes: hex, square, octagon, diamond;

svg {
  @each $shape in $shapes {
    .#{$shape} {
      &:not(.active) {
        fill: $cs-silver;
        stroke: none;
      }

      &.mini:not(.active) {
        fill: none;
        stroke: none;
      }

      &.none {
        fill: none;
        stroke: none;
      }

      &.clickable {
        cursor: pointer;
      }

      &.active.difficulty.practice {
        fill: $cs-yellow;
        stroke: $cs-black;
        stroke-width: 1px;
      }

      &.active.difficulty.challenge {
        fill: $cs-turquoise-blue;
        stroke: $cs-black;
        stroke-width: 1px;
      }

      &:focus {
        outline: none;
        stroke: black !important;
        stroke-width: 0.2rem;
      }
    }
  }
}

.difficulty-icon-title {
  color: $cs-black;
  &.active {
    color: $cs-black;
  }
}

