@import "../common/footer";


footer {
  .container-fluid {
    width: 90%
  }
}

.footer-logo {
  width: 4rem;
}

.footer-org-logo {
  max-height: 2rem !important;
}

.footer-links {
  color: $cs-white;
  padding-top: 0;
  a {
    color: $cs-white;
    text-decoration: underline;
  }
}

.footer-bottom {
  background-color: $cs-black;
  color: $cs-white;
  .footer-bottom-info {
    p {
      color: $cs-white;
    }
  }
}

.footer-rule {
  border-top: 2px solid $cs-jet;
}

.footer-link {
  padding-top: 0 !important;
}

.footer-social-logo {
  min-height: 2.5rem !important;
  max-height: 4rem !important;
}

