@import "../common/forms";

.search--main-group {
  #header-search {
    border-bottom-left-radius: 0;
    border: 2px solid $cs-light-gray;
  }
}

// FIXME ADA this probably needs a rethink but it works for now
.long-search-bar {
  width: 100%;
  #header-search {
    max-width: unset !important;
    width: 100%;
    border-bottom-left-radius: ($border-radius * 10);
    border: 2px solid $cs-black;
    z-index: 1;
  }
  .long-search-button {
    &:hover {
      background-color: $cs-black !important;
    }
    &:focus {
      border-radius: ($border-radius * 10) !important;
    }
    &:active {
      border-radius: ($border-radius * 10) !important;
      box-shadow: 0 2px 10px #9C9C9C;
    }
    position: absolute;
    z-index: 0;
    right: -36px;
    background-color: black;
    width: calc(36px + 40px);
    height: 40px;
    svg {
      position: absolute;
      right: 3px;
      top: 1px;
    }
  }
}