@import "../common/header";

header {
  background-color: $cs-black;
}

div.header-progress {
  justify-content: center !important;
  padding-left: 15% !important;
}

.header-links {
  margin-top: .7rem;
}
