@import "../common/header";

div.header-progress {
  justify-content: center !important;
  padding-left: 15% !important;
}

.header-links {
  margin-top: .7rem;
}

.navbar {
  .navbar-toggler {
    padding: 0.25rem;
    &:focus-visible {
      border-radius: 0;
    }
    &:focus:not(:focus-visible) {
      border: none !important;
    }
    .navbar-toggler-icon {
      display: inline-block;
      background-image: none;
      @include svg-color(url('/assets/cs/icons/hamburger.svg'), $white, 24px, 24px, 100%);
    }
    &.open {
      .navbar-toggler-icon {
        display: inline-block;
        background-image: none;
        @include svg-color(url('/assets/cs/icons/close.svg'), $white, 18px, 18px, 100%);
        margin-left: 6px; // So the close and hamburger icons have the same offset
      }
    }
  }
  .search-collapse {
    @include media-breakpoint-up(nav) {
      border: none !important;
      order: 100; // place the search bar at the far right of the header
      flex-basis: 0; // ensure that the search bar has no right flex margin
      flex-grow: 1;
      > * {
        flex-grow: 1;
      }
      max-width: 240px !important;
      justify-content: flex-end;
    }
    border-top: solid $cs-jet 2px;
    border-bottom: solid $cs-jet 2px;
  }
  .search-toggler {
    padding: 0.5rem;
    font-size: 1.25rem;
    line-height: 1;
    background: none;
    &:focus-visible {
      box-sizing: content-box;
      border-radius: 0;
    }
    &:focus:not(:focus-visible) {
      border: none !important;
    }
    .search-toggler-icon {
      @include svg-color(url('/assets/cs/icons/search.svg'), $white, 1.25rem, 1.25rem);
      display: inline-block;
      vertical-align: middle;
    }
  }
}


header {
  position: relative;
  background-color: $cs-black;
  z-index: 20;

  --focus-outline-color: #{$cyan-300};

  a:not(.navbar-brand), .nav-link {
    text-decoration: none !important;
    color: $cs-white;
    position: relative;
    text-underline-offset: 6px;
    &:focus {
      // prevent BS5 nav-link override
      color: $cs-white;
    }
    &:hover, &:active, &.open {
      outline: none !important;
      box-shadow: none !important;
      color: $cs-white;
      text-decoration: underline 3px $cyan-300 !important;
    }
    &:focus-visible {
      outline: none !important;
      &::after {
        content: ' ';
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        @include focus-outline;
      }
    }
  }

  .nav-section {
    border-radius: 0;
    .dropdown-item {
      color: $cs-white !important;
      &:hover, &:active, &:focus {
        background: unset;
        outline: unset;
      }
    }
    @include media-breakpoint-up(nav) {
      left: 50% !important;
      transform: translateX(-50%);
    }
    background: $cs-jet;
  }

  .navbar-separator {
    width: 100%;
    border-top: solid $cs-jet 2px;
  }
}

.related-question-header {
  padding-left: 1.25rem;
}

.banner {
  background-color: $cs-white;
}

.toast-header {
  background-color: $cs-white !important;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  span {
    display: inline-block;
    @extend .font-size-1-5;
    margin-top: 2.5px;
  }
  .text-danger {
    color: $failed-fill !important;
  }
  .text-success {
    color: $perfect-fill !important;
  }
  .text-warning {
    color: $yellow-200 !important;
  }
}

.toast-body {
  background-color: rgba($cs-cultured, 0.4) !important;
}
