.font-h1 {
  font-size: 2rem;
  font-family: $secondary-font-semi-bold;
  line-height: 3rem;
}

.font-h1-l {
  font-size: 2.333rem;
  font-family: $secondary-font-semi-bold;
  line-height: 3.5rem;
}

.font-h1-thin {
  @extend .font-h1;
  font-family: $secondary-font;
}

.font-h2 {
  font-size: 1.667rem;
  font-family: $secondary-font-semi-bold;
  line-height: 2.5rem;
}

.font-h3 {
  font-size: 1.333rem;
  font-family: $secondary-font-semi-bold;
  line-height: 2rem;
}

.font-h4 {
  font-size: 1rem;
  font-family: $secondary-font-semi-bold;
  line-height: 1.3rem;
}

.font-h5 {
  font-size: 0.778rem;
  font-family: $secondary-font-bold;
  line-height: 1.167rem;
}

h1 {
  @extend .font-h1;
}
h2 {
  @extend .font-h2;
}
h3 {
  @extend .font-h3;
}
h4 {
  @extend .font-h4;
}
h5 {
  @extend .font-h5;
}
