$highlight-text-colour: #FFFFFF;

.hi-navy {
  background-color: $highlight-navy;
  color: $highlight-text-colour;
}

.hi-navy-50 {
  background-color: $highlight-navy-50;
  color: $highlight-text-colour;
}

.hi-navy-25 {
  background-color: $highlight-navy-25;
}

.hi-teal {
  background-color: $highlight-teal;
  color: $highlight-text-colour;
}

.hi-teal-50 {
  background-color: $highlight-teal-50;
  color: $highlight-text-colour;
}

.hi-teal-25 {
  background-color: $highlight-teal-25;
}
