$highlight-text-colour: #FFFFFF;

// FIXME ADA hardcoded content highlight colours AAAAAAAA

.hi-navy {
  background-color: $highlight-dark-pink;
  color: $highlight-text-colour;
}

.hi-navy-50 {
  background-color: $highlight-dark-pink-50;
  color: $highlight-text-colour;
}

.hi-navy-25 {
  background-color: $highlight-dark-pink-25;
}

.hi-teal {
  background-color: $highlight-turquoise;
  color: $highlight-text-colour;
}

.hi-teal-50 {
  background-color: $highlight-turquoise-50;
  color: $highlight-text-colour;
}

.hi-teal-25 {
  background-color: $highlight-turquoise-25;
}
