.hi-pink {
  background-color: $highlight-pink;
}

.hi-pink-50 {
  background-color: $highlight-pink-50;
}

.hi-pink-25 {
  background-color: $highlight-pink-25;
}

.hi-navy {
  background-color: $highlight-navy;
}

.hi-navy-50 {
  background-color: $highlight-navy-50;
}

.hi-navy-25 {
  background-color: $highlight-navy-25;
}

.hi-teal {
  background-color: $highlight-teal;
}

.hi-teal-50 {
  background-color: $highlight-teal-50;
}

.hi-teal-25 {
  background-color: $highlight-teal-25;
}

.hi-mustard {
  background-color: $highlight-mustard;
}

.hi-mustard-50 {
  background-color: $highlight-mustard-50;
}

.hi-mustard-25 {
  background-color: $highlight-mustard-25;
}
