#homepage {
  section#call-to-action {
    padding-top: 5rem;
    background-color: $cs-black;
    background-image: url("/assets/cs/decor/hero.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom;
    color: $cs-white;

    h1 {
      max-width: 980px;
    }
  }

  #cta-container {
    margin-bottom: -40%;
    @include media-breakpoint-only(sm) {
      margin-bottom: -20%;
    }
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }

  #cta-features-card {
    position: relative;
    font-weight: bold;
    transform: translateY(75%);

    @include media-breakpoint-only(md) {
      // Give every other element a left border
      & .row > :nth-child(even) {
        border-left: 2px solid $cs-light-gray;
      }
    }

    @include media-breakpoint-up(lg) {
      transform: translateY(50%);

      // Give all but first child a left border
      & .row > * + * {
        border-left: 2px solid $cs-light-gray;
      }
    }
  }

  section#teach-and-learn{
    padding-top: 18rem;

    @include media-breakpoint-up(sm) {
      padding-top: 15rem;
    }

    @include media-breakpoint-up(md) {
      padding-top: 10rem;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 3rem;
    }

    ul {
      padding-inline-start: 20px;
      li {
        margin: 1rem 0;
        padding-left: 0.25rem;
      }
      list-style-image: url("/assets/cs/icons/stroke.svg");
    }
  }

  section#what-resources {
    background-color: $cs-cultured;
    ul {
      padding-inline-start: 20px;
    }
  }

  section#news {
    background-color: $cs-cultured;
  }

  section#account {
    background-color: $cyan-200;
  }
}

.homepage-padding-x {
  @extend .px-md-4;
  @include media-breakpoint-up(lg) {
    padding-left: 56px !important;
    padding-right: 56px !important;
  }
}

.homepage-padding-y {
  @extend .py-7;
  @include media-breakpoint-up(lg) {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }
}

.homepage-padding {
  @extend .homepage-padding-x;
  @extend .homepage-padding-y;
}

.ada-pink {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: conic-gradient(from 180deg at 50% 50%, #FF4DC9FF 0deg, rgba(0, 0, 0, 0) 273.75deg, rgba(0, 0, 0, 0) 360deg);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.ada-blue {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: conic-gradient(from 180deg at 50% 50%, #0AFFE7FF 0deg, rgba(10, 255, 231, 0) 273.75deg, rgba(10, 255, 231, 0) 360deg);
  transform: rotate(-180deg);
}
