#homepage {
  //section {padding: 2rem 0;}

  h1#homepageName {
    text-shadow: 0 0 4px $gray-103, 0 0 5px $gray-103, 0 0 10px $gray-103, 0 0 10px $gray-103, 0 0 20px $gray-103;
  }

  section#call-to-action {
    background-color: $cs-black;
    color: $cs-white;
  }

  img#homepageHeroImg {
    left: 50%;
    transform: translateX(-50%);
    bottom: -15%;
    z-index: -1;
    position: absolute;
    @include media-breakpoint-only(sm) {
      margin-bottom: -50%;
    }
    opacity: 0.6;
  }

  section#benefits-for-teachers-and-students {
    background-color: $cs-white;
  }

  section#why-resources {
    background-color: $cs-cultured;
  }

  section#computer-science-stories {
    background-color: $cs-white;
    position: relative;
    // Hand-tuned background positioning to make this particular SVG look nice on different screen sizes
    background-image: url(/assets/cs/decor/fingerprint-cs-stories.svg);
    background-repeat: no-repeat;
    background-size: 100% 200%;
    background-position-y: 55%;
    background-position-x: 100%;
    @media (max-width: map-get($breakpoints, sm)) {
      padding-bottom: 50vw;
      background-position-y: -33vw;
      background-position-x: 85%;
      background-size: 160% 200%;
    }
    #cs-stories-text {
      background: radial-gradient(rgba(255, 255, 255, .9) 0, rgba(255, 255, 255, .8) 60%, transparent 80%, transparent 100%);
    }
  }

  section#news {
    background-color: $cs-cultured;
  }

  section#search {
    background-color: $cs-dark-pink;
  }
}

.ada-pink {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: conic-gradient(from 180deg at 50% 50%, #FF4DC9FF 0deg, rgba(0, 0, 0, 0) 273.75deg, rgba(0, 0, 0, 0) 360deg);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.ada-blue {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: conic-gradient(from 180deg at 50% 50%, #0AFFE7FF 0deg, rgba(10, 255, 231, 0) 273.75deg, rgba(10, 255, 231, 0) 360deg);
  transform: rotate(-180deg);
}
