@import "../common/icons";

.icon-lg {
  --icon-size: 32px;
  --mask-size: 100%;
}

// This class is used in a number of non-icon-related places on both sites
.bg-grey, .bg-inline-question {
  background: $cs-silver;
}

.has-tip {
  cursor: help;
}

.icon-help-q {
  @include svg-icon-raw('/assets/cs/icons/help.svg', 1.5rem, 1.5rem);
  margin-right: 10px;
}

.icon-error {
  @include svg-icon-raw('/assets/cs/icons/error.svg', 24px, 24px);
  margin-bottom: -6px;
}

.icon-group-table-person {
  @include svg-icon-raw('/assets/cs/icons/person.svg', 1.25rem, 1.25rem);
  margin-right: 10px;
}

.icon-person-white {
  @include svg-color(url('/assets/cs/icons/person.svg'), $white, 1.25rem, 1.25rem);
  margin-bottom: -4px;
  margin-left: 10px;
  margin-right: 10px;
}

.icon-person-active {
  @include svg-color(url('/assets/cs/icons/person.svg'), $dark-pink-300, 1.25rem, 1.25rem);
  margin-bottom: -4px;
  margin-left: 10px;
  margin-right: 10px;
}

.icon-lock {
  @include svg-icon-raw('/assets/cs/icons/lock.svg', 30px, 30px);
  margin-bottom: -4px;
}

.icon-feedback-tick {
  @include svg-icon-raw('/assets/cs/icons/tick-rp-green.svg', 20px, 20px);
  margin-bottom: -5px;
}

.icon-feedback-sent-tick {
  @include svg-icon-raw('/assets/cs/icons/feedback-sent-tick.svg', 24px, 24px);
  margin-bottom: -7px; 
}

.icon-status {
  width: 30px;
}

.icon-help {
  @include svg-icon('/assets/cs/icons/help.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-person-check {
  @include svg-icon('/assets/cs/icons/person_check.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-search {
  @include svg-icon('/assets/cs/icons/search.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-group {
  @include svg-icon('/assets/cs/icons/group.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-mail {
  @include svg-icon('/assets/cs/icons/mail.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-file {
  @include svg-icon('/assets/cs/icons/file.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-school {
  @include svg-icon('/assets/cs/icons/school.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-done-all {
  @include svg-icon('/assets/cs/icons/done_all.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-settings {
   @include svg-icon('/assets/cs/icons/settings.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-tune {
  @include svg-icon('/assets/cs/icons/tune.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-location-on {
  @include svg-icon('/assets/cs/icons/location-on.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-globe {
  @include svg-icon('/assets/cs/icons/globe.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-lightbulb-empty {
  @include svg-icon('/assets/cs/icons/lightbulb-empty.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-event {
  @include svg-icon('/assets/cs/icons/event.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-concept {
  @include svg-icon('/assets/cs/icons/lightbulb.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-info-filled {
  @include svg-icon('/assets/cs/icons/info-filled.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-info {
  @include svg-icon('/assets/cs/icons/info-empty.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-topic {
  @include svg-icon('/assets/cs/icons/topic.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-correctness-correct {
  @include svg-icon-raw('/assets/common/icons/correctness-correct.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-correctness-incorrect {
  @include svg-icon-raw('/assets/common/icons/correctness-incorrect.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-correctness-partial {
  @include svg-icon-raw('/assets/common/icons/correctness-partial.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-correctness-not-attempted {
  @include svg-icon-raw('/assets/common/icons/correctness-not-attempted.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-correct {
  @include svg-icon('/assets/cs/icons/status-correct.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-incorrect {
  @include svg-icon('/assets/cs/icons/status-incorrect.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-in-progress {
  @include svg-icon('/assets/cs/icons/status-in-progress.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-not-started {
  @include svg-icon('/assets/cs/icons/status-not-started.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-tick {
  @include svg-icon('/assets/cs/icons/feedback-sent-tick.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

i.icon.icon-color-black {
  @include icon-color-override($cs-jet);
}

i.icon.icon-color-muted {
  @include icon-color-override($cs-muted);
}

i.icon.icon-color-white {
  @include icon-color-override($cs-cultured);
}

i.icon.icon-color-cyan {
  @include icon-color-override($cyan-100);
}

