@import "../common/icons";

.has-tip {
  cursor: help;
}

.icon-help {
  display: inline-block;
  cursor: help;
  overflow: hidden;
  width: 1.25rem;
  height: 1.25rem;
  background: url(/assets/common/icons/info.svg) no-repeat;
  margin-bottom: -4px;
  margin-left: 10px;
  margin-right: 10px;
}

.icon-help-q {
  display: inline-block;
  cursor: help;
  overflow: hidden;
  width: 1.5rem;
  height: 1.5rem;
  background: url(/assets/cs/icons/help.svg) no-repeat;
  margin-right: 10px;
}
.icon-error {
  display: inline-block;
  width: 24px;
  min-width: 24px;
  height: 24px;
  background: url(/assets/cs/icons/error.svg) no-repeat;
  margin-bottom: -6px;
}
.icon-person-active {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  background: url(/assets/cs/icons/person-pink.svg) no-repeat;
  margin-bottom: -4px;
  margin-left: 10px;
  margin-right: 10px;
}
.icon-person-white {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  background: url(/assets/cs/icons/person-white.svg) no-repeat;
  margin-bottom: -4px;
  margin-left: 10px;
  margin-right: 10px;
}
// TODO: fix instances of this
// .icon-group {
//   display: inline-block;
//   overflow: hidden;
//   width: 1.5rem;
//   height: 1.25rem;
//   background: url(/assets/cs/icons/group.svg) no-repeat;
//   margin-left: 10px;
//   margin-right: 10px;
// }
.icon-group-white {
  display: inline-block;
  overflow: hidden;
  width: 1.5rem;
  min-width: 1.5rem;
  height: 1.25rem;
  background: url(/assets/cs/icons/group-white.svg) no-repeat;
  margin-left: 10px;
  margin-right: 10px;
}
.icon-group-table-person {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  background: url(/assets/cs/icons/person.svg) no-repeat;
  background-size: contain;
  margin-right: 10px;
}
.icon-lock {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(/assets/cs/icons/lock.svg) no-repeat;
  margin-bottom: -4px;
}
.icon-feedback-tick {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(/assets/cs/icons/tick-rp-green.svg) no-repeat;
  margin-bottom: -5px;
}
.icon-feedback-sent-tick {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(/assets/cs/icons/feedback-sent-tick.svg) no-repeat;
  margin-bottom: -7px; 
}
.icon-status {
  width: 30px;
}

.icon-search-md {
  --icon-size: 32px;
  --mask-size: 100% 100%;
}

// This class is used in a number of non-icon-related places on both sites
.bg-grey, .bg-inline-question {
  background: $cs-silver;
}
.icon-group {
  @include svg-icon('/assets/cs/icons/group.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-correctness-correct {
  @include svg-icon-raw('/assets/common/icons/correctness-correct.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-correctness-incorrect {
  @include svg-icon-raw('/assets/common/icons/correctness-incorrect.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-correctness-partial {
  @include svg-icon-raw('/assets/common/icons/correctness-partial.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-correctness-not-attempted {
  @include svg-icon-raw('/assets/common/icons/correctness-not-attempted.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-correct {
  @include svg-icon-raw('/assets/cs/icons/status-correct.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-incorrect {
  @include svg-icon-raw('/assets/cs/icons/status-incorrect.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-in-progress {
  @include svg-icon-raw('/assets/cs/icons/status-in-progress.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-not-started {
  @include svg-icon-raw('/assets/cs/icons/status-not-started.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

.icon-tick {
  @include svg-icon('/assets/cs/icons/feedback-sent-tick.svg', var(--icon-size), var(--icon-size), var(--mask-size, 60%));
}

i.icon.icon-color-black {
  @include icon-color-override($cs-jet);
}

i.icon.icon-color-muted {
  @include icon-color-override($cs-muted);
}

i.icon.icon-color-white {
  @include icon-color-override($cs-cultured);
}
