@import "../common/icons";

.icon-help {
  display: inline-block;
  cursor: help;
  overflow: hidden;
  width: 1.25rem;
  height: 1.25rem;
  background: url(/assets/cs/icons/info.svg) no-repeat;
  margin-bottom: -4px;
  margin-left: 10px;
  margin-right: 10px;
}
.icon-person-active {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  background: url(/assets/cs/icons/person-pink.svg) no-repeat;
  margin-bottom: -4px;
  margin-left: 10px;
  margin-right: 10px;
}
.icon-person {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  background: url(/assets/cs/icons/person.svg) no-repeat;
  margin-bottom: -4px;
  margin-left: 10px;
  margin-right: 10px;
}
.icon-group {
  display: inline-block;
  overflow: hidden;
  width: 1.25rem;
  height: 1.25rem;
  background: url(/assets/cs/icons/group.svg) no-repeat;
  margin-bottom: -4px;
  margin-left: 10px;
  margin-right: 10px;
}
.icon-group-table-person {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  background: url(/assets/cs/icons/person.svg) no-repeat;
  margin-bottom: -4px;
  margin-right: 10px;
}