// NOMENSA variables.scss
//Custom Colours
$cs-mustard: #ffb53f;
$cs-hot-pink: #ff3369;
$cs-reddish: #d7335f; // Used as an active colour on secondary buttons
$focus-blue: #3E59A3; // Used as focus indicator colour on inputs

// Colour Overrides
$purple: #9148bc;
$cyan: #0f8294;
$green: #208838;

// Theme
$primary: $cs-mustard;
$secondary: $cs-hot-pink;
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary
);

// Stage colours
$gcse-colour: #C40E50;
$gcse-colour-50: #E186A7;
$gcse-colour-25: #F0C3D3;
$all-stages-colour: #9148BC;
$all-stages-colour-50: #C8A3DD;
$all-stages-colour-25: #E3D1EE;
$a-level-colour: #2146AD;
$a-level-colour-50: #90A2D6;
$a-level-colour-25: #C7D1EA;

// Highlighting colours
$highlight-pink: #E72C62;
$highlight-pink-50: #F395B0;
$highlight-pink-25: #F9CAD8;
$highlight-navy: #07174F;
$highlight-navy-50: #838BA7;
$highlight-navy-25: #C1C5D3;
$highlight-teal: #0F8294;
$highlight-teal-50: #87C0C9;
$highlight-teal-25: #C3E0E4;
$highlight-mustard: #E09220;
$highlight-mustard-50: #EFC88F;
$highlight-mustard-25: #F7E4C7;

//Greys
$gray-103: #f8f8f8;
$gray-107: #ececec;
$gray-110: #e7e7e7;
$gray-118: #d2d2d2;
$gray-120: #c9cad1;
$gray-136: #a3a3a3;
$gray-142: #949494;
$gray-160: #666;
$gray-194: #0f0f0f;

$gray-blue: #636c73;

// Shadows
$shadow-3: rgba(0, 0, 0, 0.3);
$shadow-25: rgba(0, 0, 0, 0.25);
$shadow-08: rgba(0, 0, 0, 0.08);
$shadow-black: rgb(0, 0, 0);

// Button sizing
$input-btn-padding-y-lg: 0.5rem;
$input-btn-padding-x-lg: 3rem;
$border-radius-lg: 0.25rem;

// fonts
$primary-font: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$secondary-font: 'exo_2regular', sans-serif;
$secondary-font-bold: 'exo_2bold', sans-serif;
$secondary-font-semi-bold: 'exo_2semi_bold', sans-serif;
$secondary-font-medium: 'exo_2medium', sans-serif;
$tertiary-font: 'arconrounded-regular', sans-serif;

// ISAAC
// Node module imports
@import "~bootstrap/scss/bootstrap";
@import "~katex/dist/katex.min.css";
@import "~bootstrap-block-grid/dist/bootstrap4-block-grid.min.css";
@import "~billboard.js/dist/theme/insight.css";
@import "~highlight.js/styles/github.css";
@import "~leaflet/dist/leaflet.css";

@import "../common/isaac";

// Utility
@import "preload";
@import "../common/mixins";
@import "../common/animations";

// Atoms
@import "../common/fonts";
@import "../common/typography";
@import "../common/headings";
@import "../common/modals";
@import "questions";
@import "../common/forms";
@import "../common/elements";
@import "../common/breadcrumbs";
@import "../common/media";
@import "../common/tabs";
@import "../common/accordions";
@import "../common/cards";
@import "../common/list-groups";
@import "inequality-modal";
@import "../common/carousel";
@import "../common/icons";
@import "../common/boards";
@import "../common/focus";
@import "../common/progress-bar";
@import "../common/anvil";
@import "../common/filter";
@import "../common/reservation-modal";
@import "../common/fasttrack";
@import "../common/scroll";
@import "button";
@import "logo";
@import "featured-profile";
@import "../common/code";
@import "question-finder";

// Navigation
@import "header";
@import "../common/navigation-bar";
@import "../common/footer";

// Pages
@import "../common/pages";
@import "homepage";
@import "../common/login";
@import "../common/registration";
@import "../common/my-account";
@import "../common/topic";
@import "../common/search";
@import "../common/my-progress";
@import "../common/gameboard";
@import "../common/assignment-progress";
@import "../common/books";
@import "../common/groups";
@import "../common/events";
@import "../common/glossary";
@import "../common/quiz";
@import "accordions";
@import "../common/callout";

@import "parsons-layout";

// Print
@import "../common/print";

// Difficulty icons
@import "filter";

// Highlights
@import "highlight";

a.disabled {
    color: $gray-600;
    pointer-events: none;
    cursor: default;
}

.list-group-item {
    border-width: 0;
    width: 100%;
}

p small {
    border: 0;
}

.bg-light-grey {
    > div {
        background: rgba(#f7f7f7, 0.9);
        position: relative;
        z-index: 1;
    }
}

// Double class to give this more specifity
.katex.katex { font-size: 1.1em; }


body {
    color: $black;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.625;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
}

.content-body {
    background-color: rgba($gray-107, 0.4);
}
.pattern-01 {
    background-image: url('/assets/pattern_sm.svg');
    background-position: left top;
    background-repeat: repeat;
    @include respond-above(md) {
        background-image: none;
    }
    > .container {
        @include respond-above(md) {
            background-image: url('/assets/pattern01a.svg');
            background-position: left top;
            background-repeat: repeat-y;
        }
    }
}

.pattern-02 {
    position: relative;

    &:after,
    &:before {
        @include pseudo-element;
        background-image: url('/assets/pattern01.svg');
        background-position: 0 0;
        background-repeat: no-repeat;
        display: none;
        width: 600px;
        height: 600px;
        z-index: 0;
    }

    &:after {
        @include respond-above(sm) {
            display: block;
            right: -9%;
            top: 250px;
        }
    }

    &:before {
        @include respond-above(sm) {
            display: block;
            left: -9%;
            top: 800px;
        }
    }
}

.pattern-03 {
    background-image: url('/assets/pattern04.svg');
    background-position: 0 63%;
    background-repeat: repeat-x;

    @include respond-above(sm) {
        background-image: url('/assets/pattern03.svg');
        background-position: left 0;
        background-repeat: no-repeat;
    }
    @include respond-above(md) {
        background-image: url('/assets/pattern03.svg');
        background-position: left 0;
        background-repeat: no-repeat;
    }
}

.pattern-03-reverse {
    background-image: url('/assets/pattern01.svg');
    background-position: right top;
    background-repeat: repeat-y;

    @include respond-above(sm) {
        background-image: url('/assets/pattern01.svg');
        background-position: right 0;
        background-repeat: no-repeat;
    }
    @include respond-above(md) {
        background-image: url('/assets/pattern01.svg');
        background-position: right 8px;
        background-repeat: no-repeat;
    }
}

.pattern-04 {
    background-image: url('/assets/pattern04.svg');
    background-position: center 164px;
    background-repeat: repeat-x;

    @include respond-above(md) {
        background-image: url('/assets/pattern04a.svg');
        background-position: right 187px;
        background-repeat: no-repeat;
    }
}

.pattern-05 {
    background-image: url('/assets/pattern05.svg');
    background-position: left top;
    background-repeat: repeat-x;
}

.pattern-06 {
    background-image: url('/assets/pattern06.svg');
    background-position: 96.5% 65%;
    background-repeat: no-repeat;
    margin: auto -15px;
    padding: 0 15px;
    @include respond-above(sm) {
        background-position: 96.5% 87%;
        margin: 0;
        padding: 0;
    }
}
.pattern-06-inverted {
    background-image: url('/assets/pattern06-inverted.svg');
    background-position: 96.5% bottom;
    background-repeat: no-repeat;
}
.pattern-07 {
    background-image: url('/assets/pattern06.svg');
    background-position: 0 24px;
    background-repeat: no-repeat;
    margin: auto -15px;
    padding: 0 15px;
    @include respond-above(sm) {
        background-position: 0.3rem 1.6rem;
        margin: 0;
        padding: 0;
    }
}
.pattern-08 {
    @include respond-above(md) {
        background-image: url('/assets/pattern04a.svg');
        background-position: right 39px;
        background-repeat: no-repeat;
    }
}

.isaac-spinner-sm {
    width: 1.5rem;
    height: auto;
    border-width: 2rem;
}

.isaac-spinner-md {
    width: 2.5rem;
    height: auto;
    border-width: 3rem;
}

.isaac-spinner-lg {
    width: 3.5rem;
    height: auto;
    border-width: 4.5rem;
}
