@import "../common/list-groups.scss";

.list-group-links {
  border: 0;
  border-radius: 0;

  &.bordered {
    border: 1px solid $cs-list-outline-gray;
  }

  .list-caret {
    position: relative;
    text-align: center;
    width: 50px;
    min-width: 50px !important;
    border-left: 1px solid $cs-list-outline-gray;
  }

  li.list-group-item {
    border-color: $cs-list-outline-gray;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid $gray-107;
    padding: 0;
    &:last-of-type {
      border-width: 0;
    }

    .question-link-title {
      @extend .fw-semi-bold;
    }

    .alvi-title {
      @extend .font-size-1-25;

      &:is(a)::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: 1;
        cursor: pointer;
      }
    }

    > div {
      font-size: 1.25rem;

      .question-progress-icon {
        display: inline-block;
        border-right: 1px solid $gray-107;
        margin-right: 1rem;
        padding-right: 1rem;
        text-align: center;
        min-width: 3.4rem;
      }
    }
  }
}
