@import '../common/llm-questions.scss';

.llm-info-banner {
    background-color: $cyan-700;
    color: $cs-jet;
    border: 1px solid $cs-silver;

    p a {
        color: $dark-pink-300 !important;
    }
}

.llm-feedback {
    color: $cs-jet;

    .prediction {
        background-color: $cyan-700;
    }
    .llm-mark-table-wrapper {
        border: 2px solid $cs-list-outline-gray;
        tr {
            border: 2px solid $cs-list-outline-gray;
        }
        table {
            th {
                background-color: $cs-cultured !important;
            }
        }
    }

    .feedback-collection.submitted {
        color: $cs-perfect;
    }
}
