// NOMENSA logo.scss
.header-logo {
  float: left;

  @include media-breakpoint-up(nav) {
    float: none;
  }

  img {
    width: auto;
    height: 3rem;
    @include media-breakpoint-up(nav) {
      height: 4rem;
      float: none;
    }
  }
}
