@import "../common/my-account";

.linked-account-button-outer {
  border: 3px $cs-cultured solid;
  border-radius: 10px;
}

.linked-account-button {
  &.rpf-button {
    padding: 5px;
    background: url("/assets/logos/raspberry-pi.png") center no-repeat content-box;
    background-size: contain !important;
  }
}