@import "../common/pages";

.title-help {
  color: $cs-dark-pink;
  text-decoration: underline;
}

// All topics page
#topics-bg {
  background-image: url("/assets/cs/decor/dots-circle-bg.svg");
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: 150%;
  @include media-breakpoint-down(md) {
    background-position: 50% 50%;
    background-size: 200%;
  }
  @include media-breakpoint-down(sm) {
    background-position: -13% 200px;
    background-size: 400%;
  }
}

// Gameboard filter page
#gameboard-section {
  background: $cs-white;
  #gameboard-title-section {}
}

// My quizzes page
.my-gameboard-table {
  thead {
    background-color: rgba(0, 0, 0, 0.06);
    tr, th, td {
      background-color: transparent !important;
    }
    th {
      border-bottom: solid 1px $cs-dark-silver !important;
    }
  }
  tr, td, th {
    background-color: $cs-white;
    border: solid 1px $cs-dark-silver;
  }
}