@import "../common/pages";

#topics-bg {
  background-image: url("/assets/cs/decor/dots-circle-bg.svg");
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: 150%;
  @include media-breakpoint-down(md) {
    background-position: 50% 50%;
    background-size: 200%;
  }
  @include media-breakpoint-down(sm) {
    background-position: -13% 200px;
    background-size: 400%;
  }
}
