#main-heading > div:first-child {
    container: title-container / inline-size;
}

@container title-container (inline-size < 600px) {
    span.h-subtitle {
        padding-top: 0;
    }
    
    span {
        font-size: 32px;
    }
}

.title-breadcrumb-container {
    @extend .pt-4;
    @extend .pt-md-7;
}

.my-ada-container .title-breadcrumb-container {
    @extend .pt-0;
}
