h1#main-heading {
    container: title-container / inline-size;
}

@container title-container (inline-size < 600px) {
    span.h-subtitle {
        padding-top: 0;
    }
    
    span {
        font-size: 32px;
    }
}

.title-help {
  display: flex;
  align-items: center;
  cursor: help;
  font-size: 1.25rem;
  color: $dark-pink-300;
  text-decoration: underline;
  font-weight: 600;
  min-height: 50px;
}
