.bg-cyan {
  background-color: $cyan-200;
}

.bg-dark-pink {
  background-color: $dark-pink-200;
}

.swirls-img {
  background: url(/assets/cs/decor/swirls.png) no-repeat center center;
  background-size: cover;
  left: 0;
  top: 0;
}

.swirls-img-2 {
  background: url(/assets/cs/decor/swirls-2.png) no-repeat center center;
  background-size: cover;
  left: 0;
  top: 0;
}

img.full-background-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.backslash-left {
  position: relative;

  &::before {
    content: "/";
    color: $pink-300;
    font-size: 3.5rem;
    position: absolute;
    top: 54px;
    left: -24px;
  }
}

.challenges-block {
  background: url(/assets/cs/decor/decor-cyan.png) no-repeat center center;
  background-size: cover;
}

.help-block {
  background: url(/assets/cs/decor/decor-purple.png) no-repeat center center;
  background-size: cover;
  border-radius: 15px;
}

.student-help-block {
  background: url(/assets/cs/decor/decor-cyan-2.png) no-repeat center center;
  background-size: cover;
  border-radius: 15px;
}