.sidebar {
    background-color: $cs-white;
    border-right: 1px solid $cs-silver;

    &:not(.collapsed) {
        width: 220px;
        max-width: 220px;
        min-width: 220px;
    }

    &.collapsed {
        width: 72px;
        max-width: 72px;

        b {
            display: none;
        }
    }

    button i {
        --mask-size: 60%;
    }
}
