//@import "../common/tabs.scss";

.nav-tabs {
  justify-content: left;
  padding-bottom: 0.222rem;
  border-bottom: 3px solid $cs-silver;
  flex-wrap: nowrap !important;
  align-items: stretch;
  .nav-item {
    padding-right: 1.111rem !important;
    .nav-link {
      vertical-align: bottom;
      height: 100%;
      background: none !important;
      font-size: 1.111em;
      font-family: $primary-font;
      padding: 0 !important;
      border: none !important;
      &.active {
        position: relative;
        color: $cs-raspberry;
        text-decoration: none;
        cursor: default;
        ::after {
          content: ' ';
          width: 100%;
          bottom: calc(-2.5px - 0.222rem);
          display: block;
          position: absolute;
          border-bottom: 3px solid $cs-raspberry;
        }
      }
    }
  }
}
