.topic-summary-link {
  a {
    .stage-label-gcse {
      background-color: $gcse-colour;
    }

    .stage-label-alevel {
      background-color: $a-level-colour;
    }

    .stage-label-all {
      background-color: $all-stages-colour;
    }
  }
}
