@import "../common/typography";

header a, div.isaac-nav-link {
  color: $cs-white;
  display: inline-block;
  text-decoration: underline;

  &:hover {
    color: $cs-white;
    text-decoration: none;
  }
}

p li ol ul a blockquote {
  font-size: 1rem;
  font-family: $primary-font;
  line-height: 1.5rem;

  &.p-large {
    font-size: 1.111em;
    line-height: 1.667rem;
  }
}

i em {
  font-size: 0.889em;
  line-height: 1rem;
  font-family: $secondary-font-italic;
}

// pre code need thinking about