@use "sass:list";
@import "../common/typography";
@import "../common/_utils";

// List of (font size, line height) pairs to generate font classes
$sizes: [
  [5   , 6.5 ],
  [4.5 , 6   ],
  [4   , 5   ],
  [3.5 , 4.5 ],
  [3   , 4   ],
  [2.5 , 3.5 ],
  [2   , 2.5 ],
  [1.75, 2.5 ],
  [1.5 , 2   ],
  [1.25, 1.5 ],
  [1   , 1.5 ],
  [0.75, 1   ],
  [0.5 , 0.75]
];

$code_font_scale_ratio: 1.16;

@each $size in $sizes {
  $selector-size: str-replace(#{list.nth($size, 1)}, ".", "-");
  .font-size-#{$selector-size} {
    font-size: #{list.nth($size, 1)}rem !important;
    line-height: #{list.nth($size, 2)}rem;
    code {
      font-size: #{list.nth($size, 1) * $code_font_scale_ratio}rem #{if(list.nth($size, 1) != 1, "!important", "")};
    }
  }
  // Also generate responsive font size classes (.font-size-md-1-25 for example)
  $i: 1;
  @each $name, $breakpoint in $grid-breakpoints {
    @if $name != xs {
      @include media-breakpoint-up($name) {
        // This is a nasty hack for CSS specificity
        #{str-repeat(".font-size-#{$name}-#{$selector-size}", $i)} {
          font-size: #{list.nth($size, 1)}rem !important;
          line-height: #{list.nth($size, 2)}rem;
          code {
            font-size: #{list.nth($size, 1) * $code_font_scale_ratio}rem #{if(list.nth($size, 1) != 1, "!important", "")};
          }
        }
      }
      $i: $i + 1;
    }
  }
}

.fw-regular {
  font-family: $secondary-font, Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
  @extend .fw-normal;
}

.fw-bold {
  // FIXME this is nasty (using semi-bold for bold) but some of the shared SCSS uses fw-bold
  font-family: $secondary-font-semi-bold, Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
  @extend .fw-normal;
}

.fw-semi-bold {
  font-family: $secondary-font-semi-bold, Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
}

.fst-italic {
  font-family: $secondary-font-italic, Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
}

h1 {
  @extend .fw-semi-bold;
  @extend .font-size-2-5;
}
h2 {
  @extend .fw-semi-bold;
  @extend .font-size-2;
}
h3 {
  @extend .fw-semi-bold;
  @extend .font-size-1-5;
}
h4 {
  @extend .fw-semi-bold;
  @extend .font-size-1-25;
}
h5 {
  @extend .fw-semi-bold;
  @extend .font-size-1;
}
body {
  @extend .fw-regular;
  @extend .font-size-1;
}
strong, b {
  @extend .fw-semi-bold;
}
i, em {
  @extend .fst-italic;
}
p, small, .alert {
  @extend .fw-regular;
  .btn-link {
    font-size: unset;
  }
}
small {
  @extend .font-size-0-75;
}
blockquote, .blockquote {
  @extend .font-size-1;
}
code {
  line-height: inherit;
  font-size: 1rem;
  font-family: "ubuntu-mono-regular", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  color: $dark-pink-300;
}

pre {
  font-size: 1rem;
  font-family: "ubuntu-mono-regular", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  background: white;
  padding: 0.888rem;
  border: solid 1px $cs-light-gray;
  code {
    font-size: 1rem !important;
    color: unset;
  }
}

hr {
  border-top: solid $cs-silver 1px;
}
