// ISAAC

.accordion-part {
  display: none;
  .question-panel & {
    display: inline;
  }
}

// Nomensa accordions.scss
.accordion {
  box-shadow: 0 2px 30px 0 $shadow-08;

  background: transparent;
  &:first-of-type {
    border-top: 0;
  }
  &:last-of-type {
    //border-bottom: 1px solid $gray-120;
    margin-bottom: 1rem;
  }
  background: rgba(white, 0.4);
  border-top: 1px solid $shadow-08;//$gray-120;

  .accordion-header {
    background: rgba(white, 1);
    //border-color: $gray-120;
    //border-style: solid;
    //border-width: 0 1px;
    button {
      border-radius: 0;
      font-family: $secondary-font-semi-bold;
      font-size: 1.25rem !important;
      padding-right: 50px;
      position: relative;
      transition: all 0.5s ease;

      &:after {
        @include pseudo-element;
        background-image: url('/assets/chevron_down.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: center;
        height: 100%;
        right: 20px;
        top: 0;
        bottom: 0;
        width: 15px;
      }

      &.active {
        border-bottom: 1px solid $shadow-08;
        &:after {
          background-image: url('/assets/chevron_up.svg');
        }
      }
    }
  }

  .card {
    background: transparent;
    border-width: 0;
  }
}
