// NOMENSA button.scss

.btn {
  border-radius: 0.25rem;
  font-family: $secondary-font-bold;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
  min-width: 180px;

  &:hover {
    text-decoration: underline;
  }

  &.disabled,
  &:disabled {
    text-decoration: none;
  }

  &.btn-secondary,
  .btn-link {
    color: $black;
  }

  &.btn-link {
    color: $black;
    min-width: initial;
    padding: initial;

    &:hover {
      background-color: transparent;
    }

    &:not(:disabled):not(.disabled):active {
      background-color: $gray-118;
      border-color: $gray-118;
    }

    &.focus,
    &:focus,
    &:not(:disabled):not(.disabled):active:focus {
      box-shadow: 0 0 0 0.2rem $shadow-3;
    }

    &.disabled,
    &:disabled {
      color: $gray-136;
    }

    &.btn-sm {
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  //Button Secondary
  &.btn-secondary:not(:disabled):not(.disabled):active {
    background-color: $reddish;
    border: 1px solid transparent;
    color: $black;
    text-decoration: underline;
  }

  //Button - Primary Outline
  &.btn-outline-primary {
    border-color: $black;
    border-width: 2px;
    color: $black;

    &:hover {
      background-color: transparent;
    }

    &:not(:disabled):not(.disabled):active {
      background-color: $gray-118;
      border-color: $gray-118;
    }

    &.focus,
    &:focus,
    &:not(:disabled):not(.disabled):active:focus {
      box-shadow: 0 0 0 0.2rem $shadow-3;
    }

    &.disabled,
    &:disabled {
      border-color: $gray-136;
      color: $gray-136;
    }
  }

  //Button - Secondary Outline
  &.btn-outline-secondary {
    background-color: $black;
    border-color: $white;
    border-width: 2px;
    color: $white;

    &:not(:disabled):not(.disabled):active {
      background-color: $gray-118;
      border-color: $gray-118;
    }

    &.focus,
    &:focus,
    &:not(:disabled):not(.disabled):active:focus {
      box-shadow: 0 0 0 0.2rem $shadow-3;
    }

    &.disabled,
    &:disabled {
      border-color: $gray-160;
      color: $gray-160;
    }
  }
}


// ISAAC
a.btn {
  text-decoration: none;
}
.btn {
  &.btn-link {
    font-size: initial;
    font-weight: initial;
  }
}
