.events {
  button, a.btn {
    margin-right: 0.5rem;
  }
  legend {
    margin-bottom: 0;
  }
}
.event-key-info {
  tr {
    td {
      padding: 0.5rem 0;
    }
    :last-child {
      font-weight: 600;
    }
  }
}
