// NOMENSA figures.scss
.img-thumbnail {
  border-width: 0;
}

figure {
  box-shadow: 0 2px 30px 0 $shadow-08;

  .figure-caption {
    border-top: 1px solid $gray-110;
    color: $black;
    font-size: .8125rem;
    padding: .5rem;
  }
}
