.list-gameboard {
  .bg-success {
    background-color: #dfefd7 !important;
    a > span:first-of-type {
      border-color: #ddd;
    }
  }
  .try-again {
    font-size: 0.875rem;
    font-weight: normal;
    color: $gray-160;
    align-self: center;
    padding-left: 1.5rem;
  }
}

.responsive {
  .table.table-bordered {
    tr {
      &.disabled {
        background-color: lightgrey;
      }

      td {
        .custom-control-label {
          &:before, &:after {
            width: 1.5rem;
            height: 1.5rem;
            margin-top: -0.25rem;
          }
        }
      }
    }
  }
}
