// ISAAC

header {
  box-shadow: 0 2px 30px 0 $shadow-08;
}


// NOMENSA header.scss
// !important used to override bootstraps use of !important :(

header {
  background-image: url('/assets/Line.svg');
  background-repeat: repeat-x;
  position: relative;

  @include respond-above(sm) {
    background-image: url('/assets/Line-alt.svg');
  }

  > .container {
    @include respond-below(sm) {
      max-width: 100% !important;
    }
  }

  .header-bar {
    position: relative;
    @include clearfix;

    @include respond-above(sm) {
      padding-right: auto;
    }
  }

  .header-links {
    justify-content: flex-end !important;
    margin-top: .7rem;

    @include respond-below(xs) {
      padding-right: 33% !important;
    }
    @include respond-above(xs){
      padding-right: 28% !important;
    }
    @include respond-above(sm) {
      margin-top: 0.2rem;
      padding-right: 0 !important;
      width: 100%;
    }
  }
}
