// ISAAC

@import "./_mixins";

.banner {
  background: #fff;
}
.banner-button {
  @include respond-below(sm) {
    width: 100%;
  }
  @include respond-below(lg) {
    min-width: 150px;
  }
}

// NOMENSA header.scss
.headerBar {
  padding-right: 4em;
  @include respond-above(sm) {
    padding-right: auto;
  }
}
