#homepage {
  section {padding: 2rem 0;}

  section#why-sign-up {
    h1 {padding-bottom: 2rem;}
  }

  section#headline-content {
    background-color: $primary;
  }

  section#events {
    img {
      height: 151px !important;
      width: 151px !important;
      margin: 1rem;
    }
  }
}
