#inequality-modal,
#inequality-modal canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 254;
}

#inequality-modal {
    .inequality-ui {
        position: absolute;
        width: 100%;
        z-index: 255;

        &.button {
            background: theme-color("secondary");
            text-indent: -1000px;
            overflow: hidden;

            &.confirm {
                width: 80px;
                height: 80px;
                bottom: 20px;
                right: 20px;
                background: darkgreen;
            }

            &.centre {
                width: 60px;
                height: 60px;    
                bottom: 20px;
                left: 20px;
                background: dodgerblue;
            }
        }

        &.katex-preview {
            background: red;
            bottom: 20px;
            right: 100px;
            height: 80px;
            padding: 0 40px;
            width: fit-content;
            z-index: 255 !important;
        }

        &.menu-bar {
            position: relative;
            width: 100%;
            display: block;
            right: 0;
            left: 0;
            overflow: auto;
            background: theme-color("secondary");

            &.closed {
                height: 0;
                overflow: hidden;
            }

            ul {
                position: relative;
                padding: 0;
                list-style-type: none;
                white-space: nowrap;
                margin: 0 auto;
                background: darken(theme-color("secondary"), 20%);

                li {
                    display: inline-block;
                    box-sizing: content-box;
                    padding: 8px;
                    text-indent: 0;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    font-size: 1.8em;

                    &.active {
                        background: theme-color("secondary");
                    }

                    .katex {
                        display: block;
                    }
                }

                &.sub-menu {
                    background: theme-color("secondary");
                }
            }
        }

        .menu-tabs {
            position: relative;
            height: 40px;
            text-align: center;

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;

                li {
                    display: inline-block;
                    box-sizing: content-box;
                    padding: 0px 8px;
                    text-indent: 0;
                    width: 60px;
                    text-align: center;
                    font-size: 1.8em;
                    background: black;
                    color: white;

                    &.active {
                        color: black;
                        background: theme-color("secondary");
                    }
                }
            }
        }
    }
}