$hot_pink: #ff3369;
$mustard_yellow: #ffb53f;

$body-bg: #ececec;
$spacer: 1rem;

$theme-colors: (
  "primary": $hot_pink,
  "secondary": $mustard_yellow
);

@import "~bootstrap/scss/bootstrap";

@import "./login";
@import "./registration";
@import "./inequality-modal.scss";

li.nav-item {
    margin: 0 10px;
}

a.disabled {
    color: $gray-600;
    pointer-events: none;
    cursor: default;
}

.footer {
    background-color: #f5f5f5;
    div.container {
        margin: 0 1rem;
    }
}
