$hot_pink: #ff3369;
$mustard_yellow: #ffb53f;
$mustard_light: #ffb62f;

$body-bg: rgba(#ececec, 0.4);
$spacer: 1rem;

$theme-colors: (
  "primary": $hot_pink,
  "secondary": $mustard_yellow
);

@import "~bootstrap/scss/bootstrap";

@import "./navigation-bar";
@import "./homepage";
@import "./footer";
@import "./login";
@import "./registration";
@import "./inequality-modal.scss";

a.disabled {
    color: $gray-600;
    pointer-events: none;
    cursor: default;
}