// ISAAC
#login-page {
  .login-google {
    display: inline-block;
    text-indent: -99999em;
    width: 191px;
    height: 46px;
    background: url(/assets/google-login-sprite-dark.png) no-repeat 0 0;
    &:hover {
      background: url(/assets/google-login-sprite-dark-pressed.png) no-repeat 0 0;
      width: 191px;
      height: 46px;
    }
  }
  @media only screen and (min-resolution: 192dpi) {
    .login-google {
      background-image: url(/assets/google-login-sprite-dark@2x.png);
      background-size: 191px 46px;
      &:hover {
        background-image: url(/assets/google-login-sprite-dark-pressed@2x.png);
        background-size: 191px 46px;
      }
    }
  }
}


// NOMENSA login.scss
a,
button {
  &.btn.btn-link.login-b {
    color: $black;
    font-family: $primary-font;
    font-weight: 400;
    text-decoration: underline;

    &::before {
      @include pseudo-element();
      background-image: url('/assets/avatar.svg');
      background-repeat: no-repeat;
      background-size: contain;
      height: 24px;
      width: 24px;

      @include respond-above(sm) {
        display: none;
      }
    }

    span {
      border: 0;
      clip: rect(0, 0, 0, 0);
      display: block;
      height: 1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      white-space: nowrap;
      width: 1px;


      @include respond-above(sm) {
        clip: initial;
        height: initial;
        position: relative;
        width: initial;
      }
    }
  }
}
