#login-page {
  .login-google {
    display: inline-block;
    text-indent: -99999em;
    width: 191px;
    height: 46px;
    background: url(/assets/google-login-sprite-dark.png) no-repeat 0 0;
    &:hover {
      background: url(/assets/google-login-sprite-dark-pressed.png) no-repeat 0 0;
      width: 191px;
      height: 46px;
    }
  }
  @media only screen and (min-resolution: 192dpi) {
    .login-google {
      background-image: url(/assets/google-login-sprite-dark@2x.png);
      background-size: 191px 46px;
      &:hover {
        background-image: url(/assets/google-login-sprite-dark-pressed@2x.png);
        background-size: 191px 46px;
      }
    }
  }
}
