@media print {

  .accordion {
    page-break-inside: avoid;
  }

  .content-body {
    background-color: white !important;
  }

  .collapse {
    display: initial !important;
  }

  .container {
    max-width: none;
  }

}
