// ISAAC
.question-panel > .content-value {
  background-color: white;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.08);
  margin: auto auto 2rem auto;
  padding: 3rem;
  @include media-breakpoint-down(sm) {
    padding: 1rem;
  }

  font-family: $secondary-font;
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: 600;
}

.unit-dropdown button {
  min-width: auto;
}

.question-component {
  margin-bottom: 2rem;
}

.numeric-question .unit-selection {
  button.btn {
    min-width: auto !important;
  }
}

// NOMENSA question.scss
.question-component {
  background-color: white;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.08);
  padding: 1rem;
}
