@import "../../node_modules/bootstrap/scss/_variables.scss";
@import "../../node_modules/bootstrap/scss/mixins/_grid.scss";

// ISAAC
.question-panel > .content-value,
.question-panel .isaac-accordion .accordion-section > .content-value{
  background-color: white;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.08);
  margin: auto auto 2rem auto;
  padding: 3rem;
  @include media-breakpoint-down(sm) {
    padding: 1rem;
  }

  font-family: $secondary-font;
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: 600;
}

.unit-dropdown button {
  min-width: auto;
}

.question-component {
  margin-bottom: 2rem;

  .question-content {
    font-family: $secondary-font;
    font-size: 1.25rem;
    font-weight: 100;
    line-height: 1.6;
  }
}

.numeric-question .unit-selection {
  button.btn {
    min-width: auto !important;
  }
}

.symboliclogic-question {
  .eqn-editor-preview {
    border: solid 1px $black;
    padding: 0.3em 0.6em;
    font-size: 1.5rem;
    cursor: default;

    &.empty {
      color: $gray-500;
    }
  }
}

@include media-breakpoint-up(md) {
  .parsons-layout {
    @include make-col-offset(-2, 8);
    width: 150%;
  }
}

.parsons-question {
  .parsons-items {
    .parsons-item > pre {
      margin: 0.5rem 0;
      padding: 0.5em 1em;
      cursor: grab; // Doesn't work?
    }

    .parsons-item {
      @for $i from 1 through 10 { // Melius est abundare quam deficere
        &.indent-#{$i} {
          padding-left: #{$i}em;
          margin-left: #{$i}em;
        }
      }
    }
  }
}

.quick-question {
  button {
      box-shadow: none !important; // How horrible...

      &.active {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
  }
  .alert {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.validation-response-panel {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: solid 1px $gray-107;
  border-bottom: solid 1px $gray-107;
}

// NOMENSA question.scss
.question-component {
  background-color: white;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.08);
  padding: 1rem;
}
