// ISAAC temp hopefully
small {
  border: 0 !important;
}

pre {
  background: white;
  padding: 1rem;
  font-weight: 600;
  border: solid 1px #00000021;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.875rem;
}

// NOMENSA typography.scss
p {
  &.p-small {
    font-size: 0.8125em;
    line-height: 1.69;
  }
}

a {
  color: $gray-194;
  text-decoration: underline;

  &:hover {
    color: $gray-194;
    text-decoration: none;
  }

  &.a-alt {
    color: $purple;
  }
}

.btn {
  &.btn-sm {
    &.a-alt {
      color: $purple;
      font-family: $secondary-font-medium;
      text-decoration: underline;
    }
  }
}

blockquote {
  &.blockquote {
    border-left: 0.25rem solid $gray-107;
    padding: 0.5rem 1rem;
  }
}

small {
  line-height: 1.69;
  border-top: 1px solid $black;
}

hr {
  display: block;
  border-bottom: 1px solid $black;
  position: relative;

  &::before {
    @include pseudo-element;
    border-bottom: 5px solid $black;
    bottom: -3px;
    left: 0;
    max-width: 158px;
    right: 0;
    width: 32%;

    @include respond-above(sm) {
      max-width: 380px;
    }
  }

  &.text-center {
    &::before {
      margin: auto;
    }
  }
}
